<div class="teams">
	<div class="searchbar">
		<%= image_tag 'dash/icons/search.png', id: 'search-icon' %>
	</div>
	<button class="btn btn-green">Team erstellen</button>
	<div class="karte" id="teams">
		<div class="head left">Teams</div>
		<div class="table" id="teams-table">
			<table>
				<thead>
					<tr>
						<th>Teamname</th>
						<th>Nutzer</th>
						<th>Score</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="teamname active">
						<td><%= @vertrieb.team_name %></td>
						<td>4</td>
						<td>
							<div class="circle" id="team_1"></div>
							<div class="rating">7.4</div>
						</td>
						<td><i class="far fa-edit edit"></i></td>
						<td><%= image_tag 'dash/icons/stats.png' %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="users">
	<div class="searchbar">
		<%= image_tag 'dash/icons/search.png', id: 'search-icon' %>
	</div>
	<button class="btn btn-green">User erstellen</button>
	<div class="karte" id="users">
		<div class="head left">Nutzer</div>
		<select name="" id="select-team" class="custom-select custom-select-lg">
			<option value="">Alle Teams</option>
			<option value="1" selected><%= @vertrieb.team_name %></option>
		</select>
		<div class="table" id="users-table">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Pitches</th>
						<th>Score</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="username">
						<td>
							<div class="username-link">
								<%= image_tag 'vertrieb/TillGeers.jpg' %>
								Till Geers
							</div>
						</td>
						<td>12</td>
						<td>
							<div class="circle" id="user_1"></div>
							<div class="rating">6.3</div>
						</td>
						<td><i class="far fa-edit"></i></td>
						<td><%= image_tag 'dash/icons/stats.png' %></td>
					</tr>
					<tr class="username">
						<td><div class="username-link"><%= image_tag 'vertrieb/HannaJackoby.jpg' %>Hanna Jackoby</div></td>
						<td>12</td>
						<td>
							<div class="circle"></div>
							<div class="rating">6.1</div>
						</td>
						<td><i class="far fa-edit"></i></td>
						<td><%= image_tag 'dash/icons/stats.png' %></td>
					</tr>
					<tr class="username">
						<td>
							<div class="username-link">
								<%= image_tag 'vertrieb/CelinaMoretti.jpg' %>
								Celina Moretti
							</div>
						</td>
						<td>12</td>
						<td>
							<div class="circle"></div>
							<div class="rating">6.2</div>
						</td>
						<td><i class="far fa-edit"></i></td>
						<td><%= image_tag 'dash/icons/stats.png' %></td>
					</tr>
					<tr class="username">
						<td>
							<div class="username-link">
								<%= image_tag 'vertrieb/RomanWasilewski.jpg' %>
								Roman Wasilewski
							</div>
						</td>
						<td>12</td>
						<td>
							<div class="circle"></div>
							<div class="rating">5.7</div>
						</td>
						<td><i class="far fa-edit"></i></td>
						<td><%= image_tag 'dash/icons/stats.png' %></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% if @root %>
<section id="root-control">
	<%= link_to 'weiter!', dash_user_stats_vertrieb_path, class: "btn btn-green" %>
</section>
<% end %>