<section id="dash_stats" class="dash_stats-head dash-stats-set">

    <div class="head">
        <div class="compare-selects">
            <div class="cs-select cs-skin-underline form-field cs-select-set cs-select-left">
                <%= current_user.fname %> <%= current_user.lname %>
            </div>
            <div class="cs-select cs-skin-underline form-field cs-select-set cs-select-right">
                <%= @team.name if @team.present? %>
            </div>
        </div>
    </div>
    <div class="stats_overview">
        <% if @current_rating[:rating][:ges] < 33 %>
        <div class="circ-red">
        <% elsif @current_rating[:rating][:ges] > 66 %>
        <div class="circ-green">
        <% else %>
        <div class="circ-yellow">
        <% end %>
        <div class="gesamt active">
            <button class="circle" id="chart_gesamt">
            <span><%= number_with_precision(@current_rating[:rating][:ges].to_f / 10.0, precision: 1) %></span>
            <%= image_tag @user.avatar.quad.url if @user.avatar.quad.url.present?%>
            </button>
            <div class="text" id="t_gesamt">Gesamt</div>
        </div> 
        </div>
        <% if @current_rating[:rating][:spontan] < 33 %>
        <div class="circ-red">
        <% elsif @current_rating[:rating][:spontan] > 66 %>
        <div class="circ-green">
        <% else %>
        <div class="circ-yellow">
        <% end %>
        <div class="spontan">
            <button class="circle" id="chart_spontan"><%= number_with_precision( @current_rating[:rating][:spontan].to_f / 10.0, precision:1) %></button>
            <div class="text" id="t_spontan">Spontanität</div>
        </div>
        </div>
        <% if @current_rating[:rating][:creative] < 33 %>
        <div class="circ-red">
        <% elsif @current_rating[:rating][:creative] > 66 %>
        <div class="circ-green">
        <% else %>
        <div class="circ-yellow">
        <% end %>
        <div class="kreativ">
            <button class="circle" id="chart_kreativ"><%= number_with_precision(@current_rating[:rating][:creative].to_f / 10.0, precision:1) %></button>
            <div class="text" id="t_kreativ">Kreativität</div>
        </div>
        </div>
        <% if @current_rating[:rating][:body] < 33 %>
        <div class="circ-red">
        <% elsif @current_rating[:rating][:body] > 66 %>
        <div class="circ-green">
        <% else %>
        <div class="circ-yellow">
        <% end %>
        <div class="body">
            <button class="circle" id="chart_body"><%= number_with_precision(@current_rating[:rating][:body].to_f / 10.0, precision:1) %></button>
            <div class="text" id='t_body'>Körpersprache</div>
        </div>
        </div>
        <% if @current_rating[:rating][:rhetoric] < 33 %>
        <div class="circ-red">
        <% elsif @current_rating[:rating][:rhetoric] > 66 %>
        <div class="circ-green">
        <% else %>
        <div class="circ-yellow">
        <% end %>
        <div class="rhetorik">
            <button class="circle" id="chart_rhetorik"><%= number_with_precision(@current_rating[:rating][:rhetoric].to_f / 10.0, precision:1) %></button>
            <div class="text" id="t_rhetorik">Rhetorik</div>
        </div>
        </div>
        <div class="places">
           <div class="first">
               <%= image_tag 'defaults/cup.png' %>
               <div class="txt"><%= @turns.present? ? @turns.where(place: 1).count : 0 %></div>
           </div>
           <div class="second">
               <%= image_tag 'defaults/silver.png' %>

               <div class="txt"><%=@turns.present? ? @turns.where(place: 2).count  : 0%></div>
           </div>
           <div class="third">
               <%= image_tag 'defaults/bronze.png' %>
               <div class="txt"><%=@turns.present? ? @turns.where(place: 3).count : 0%></div>
           </div>
        </div>
        
        <div class="video-content">
            <h5><%= @user.fname.to_s + "'s"%> Aufnahmen</h5>
            <a href="/dash/videos">Alle sechen</a>
            <% count = 0 %>
            <% if @reviewed_videos %>
                <% @reviewed_videos.each do |video| %>
                    <% if video.turn_rating.present? && video.recorded_pitch.present? %>
                        <a href="<%= "/dash/stats/turns/#{video.turn_rating.id}"%>">
                            <div class="overview-block overview-block-n">
                                <div class="overviewBlock-video">
                                    <img src="<%= video.recorded_pitch.thumb.url %>"/>
                                    <span class="overview-video-play"></span>
                                    <span class="overview-video-rating ov-span"><%= number_with_precision(video.turn_rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) if video.turn_rating.present?%></span>
                                    <span class="overview-video-time ov-span"><%= video.recorded_pitch_duration.to_minutes if video.recorded_pitch_duration.present? %> </span>
                                </div>
                            </div>
                        </a>
                        <% count+=1%>
                    <% end %>
                    <% break if count == 2 %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="stats_chart">
        <div class="stats_chart-cont">
            <div class="chart-container">
                <canvas id="Chart"></canvas>
            </div>
        </div>
    </div>
    <style type="text/css">
    
        .tooltipi {
            display:none;
            position:absolute;
            border: 1px solid #ccc;
            background-color:#e2c452;
            border-radius:2px;
            padding:10px;
            font-size:12px Arial;
        }
    </style>
</section>

<% content_for(:body_attributes) do %>
    data-turbolinks="false"
<% end %>

<script>
(function() {
[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach(
    function(el) {
       new SelectFx(el);
       newTab: false;
    } );
})();
    
var ctx = document.getElementById("Chart");
var datapoints = [NaN, NaN, NaN, NaN, NaN, NaN, NaN ];
var datapoints2 = [NaN, NaN, NaN, NaN, NaN, NaN, NaN ];
var label = [NaN, NaN, NaN, NaN, NaN, NaN, NaN];
var i = 0;
<% @turns_rating.each do |g| %>
    var json_data = <%= g.to_json.html_safe %>
    json_data["word"] = "<%= g.turn.word.name if g.turn.word.present? && g.turn.present? %>";
        json_data["id"] = "<%= g.turn.id %>";
        json_data["turn_rating_id"] = "<%= g.id %>";
        <% if g.turn.recorded_pitch.present? %>
            json_data["turn_pitch"] = true;
        <% else %>
            json_data["turn_pitch"] = false;
        <% end %>
    
    json_data["type"] = "ges"
    json_data["type2"] = "ges2"
    json_data["type_text"] = "Gesment"
    datapoints[i] = {value: <%= g.ges / 10.0 %>, data: json_data};

    <% if GameRating.where(game_id: g.game_id).first %>
        <% rating = GameRating.where(game_id: g.game_id).first %>
        var json_data2 = <%= rating.to_json.html_safe %>
        json_data2["average_team_ratings"] = <%= number_with_precision(rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) %>;

        datapoints2[i] = {value: <%= rating.ges / 10.0 %>, data:  json_data2};
    <% end %>
    label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
    i++;
<% end %>
var data1 = [], data2=[], pointColors = [];
var i = 0
datapoints2.forEach(function(el){
    if(el.value == undefined){
        data2[i] = el
    }else{
        data2[i] = el.value
    } 
    i++;
})
var i = 0
datapoints.forEach(function(el){
    if(el.value == undefined){
        data1[i] = el
        pointColors[i] = "rgba(255,255,255,1.0)"

    }else{
        data1[i] = el.value

        if(el.data.turn_pitch){
            pointColors[i] = "rgba(255,0,0,1.0)"
        }else{
            pointColors[i] = "rgba(255,255,255,1.0)"
        }
    }
    i++;
    
})
function customTooltips(tooltipModel) {
    var tooltipEl = document.getElementById('chartjs-tooltip');

    if( tooltipModel.opacity > 0 ) {
    if (!tooltipEl) {
            tooltipEl = document.createElement('div');
            tooltipEl.id = 'chartjs-tooltip';
            tooltipEl.innerHTML = `<div class='tooltips'></div>`;
            document.body.appendChild(tooltipEl);
        }

        // Hide if no tooltip
        if (tooltipModel.opacity === 0) {
            tooltipEl.style.opacity = 0;
            return;
        }

        // Set caret Position
        tooltipEl.classList.remove('above', 'below', 'no-transform');
        if (tooltipModel.yAlign) {
            tooltipEl.classList.add(tooltipModel.yAlign);
        } else {
            tooltipEl.classList.add('no-transform');
        }

        function getBody(bodyItem) {
            return bodyItem.lines;
        }

        // Set Text
        if (tooltipModel.body) {
            var titleLines = tooltipModel.title || [];
            var bodyLines = tooltipModel.body.map(getBody);

            var innerHtml = '<div>';

            titleLines.forEach(function(title) {
                innerHtml += '<div><div>' + title + '</div></div>';
            });
            innerHtml += '</div><div>';

            bodyLines.forEach(function(body, i) {
                var colors = tooltipModel.labelColors[i];
                var style = 'background:' + colors.backgroundColor;
                style += '; border-color:' + colors.borderColor;
                style += '; border-width: 2px';
                var span = '<span style="' + style + '"></span>';
                innerHtml += '<div><div>' + span + body + '</div></div>';
            });
            innerHtml += '</div>';

            var tableRoot = tooltipEl.querySelector('div');
            tableRoot.innerHTML = innerHtml;
        }
        var position = this._chart.canvas.getBoundingClientRect();
        // Display, position, and set styles for font
        tooltipEl.style.opacity = 1;
        tooltipEl.style.position = 'relative';
        tooltipEl.style.left = (((position.left + tooltipModel.caretX)) - ($('#chartjs-tooltip').outerWidth()/2))+ 'px';
        tooltipEl.style.top = ( (position.top + tooltipModel.caretY) - ($('#chartjs-tooltip').outerHeight())) - 18 + 'px';
        // tooltipEl.style.left = (position.left + window.pageXOffset + tooltipModel.caretX+100)/window.devicePixelRatio + 'px';
        // tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY-330 + 'px';
        // tooltipEl.style.fontFamily = tooltipModel._bodyFontFamily;
        tooltipEl.style.fontSize = tooltipModel.bodyFontSize + 'px';
        tooltipEl.style.fontStyle = tooltipModel._bodyFontStyle;
        tooltipEl.style.padding = tooltipModel.yPadding + 'px ' + tooltipModel.xPadding + 'px';
        tooltipEl.style.pointerEvents = 'none';
    } else {
        tooltipEl.remove();

    }
    return;
}
var user1 = '<%= @user.fname %>';
var gesamtChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: label,
        datasets: [{
            label: user1,
            data: data1,
            fill:false,
            borderColor:"rgba(255,255,255,1.0)",
            borderWidth: 5,
            pointBorderColor:"rgba(255,255,255,1.0)",
            pointBackgroundColor: pointColors,
            pointHoverBackgroundColor: pointColors,
            pointHoverBorderColor:"rgba(255,255,255,1.0)",
            pointBorderWidth: 2,
            pointRadius: 8,
            pointColor: pointColors,
            datapoints: datapoints,
            pointHoverRadius: 8,
            lineTension:0,
            extra: datapoints
        }, {
            label: 'Team',
            data: data2,
            fill: false,
            borderColor:"rgba(255,255,255,0.30)",
            borderWidth: 5,
            pointBorderColor:"rgba(255,255,255,0.30)",
            pointBackgroundColor:"rgba(255,255,255,0.30)",
            pointHoverBackgroundColor:"rgba(255,255,255,0.30)",
            pointHoverBorderColor:"rgba(255,255,255,0.30)",
            pointBorderWidth: 5,
            pointRadius: 1,
            datapoints: datapoints2,
            pointHoverRadius: 1,
            lineTension:0,
            extra: datapoints2
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
        },
        title: {
            display: false,
        },
        tooltips: {
            mode: 'single',
            onlyShowForDatasetIndex: [0],
            enabled: false,

            position: 'nearest',
            yPadding: '100px',
            multiKeyBackground:"rgba(255,255,255,0)",
            intersect: false,
            dataPoints: datapoints,
            custom: customTooltips,

            callbacks: {
                title: function(tooltipItem, data) {
                  if(data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]){

                    var creative = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["creative"] / 10
                    

                    var admin_ratings = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["admin_ges"]  /10
                    var ges = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["ges"] / 10

                    var spontan = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["spontan"] / 10
                    var type = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["type"]
                    var type2 = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["type2"]
                    var type_text = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["type_text"]
                    var body = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["body"] / 10
                    var rhetorik = data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["rhetoric"] / 10
                  }else{
                    var creative = 0,
                        ges=0,
                      spontan=0,
                      admin_ratings= 0,
                      team_Average= 0,
                      body=0,
                      rhetorik=0;
                  }
                  if(data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]){
                    var creative2 = data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]["creative"] / 10
                    var team_Average = data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]["average_team_ratings"] ? data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]["average_team_ratings"] : 0 
                    var spontan2 = data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]["spontan"] / 10
                    var body2 = data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]["body"] / 10
                    var ges2 = data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]["ges"] / 10
                    var rhetorik2 = data["datasets"][1]["datapoints"][tooltipItem[0]['index']]["data"]["rhetoric"] / 10
                  }else{
                    var creative2 = 0,
                        ges2=0,
                        team_Average=0,
                      spontan2=0,
                      body2=0,
                      rhetorik2=0;
                  }
                  var val =` 
                    <div class="progress-block">
                        <div class="progress-top">
                            <h6>`+tooltipItem[0]["xLabel"]+`</h6>
                            <h3>`+data["datasets"][0]["datapoints"][tooltipItem[0]['index']]["data"]["word"]+`</h3>
                            <div id="dash_stats">
                                <div class="rhetorik rhetorik-ge">`
                                    val += `<button class="circle" id="chart_rhetorik">`+eval(type)+`</button>`
                                    val += `<div class="text" id="t_rhetorik">`+type_text+`</div>`
                                val+=`</div>
                                <div class="rhetorik rhetorik-ts">
                                    <button class="circle" id="chart_rhetorik">`+eval(type2)+`</button>
                                    <div class="text" id="t_rhetorik">Teamschnitt</div>
                                </div>
                            </div>
                        </div>
                        <div class="progress-main">
                          <div class="progressBar">
                            <div class="progress-bar-text">Spontanitat</div>
                            <div class="progress-bar-pop">
                              <div class="progress-bar-con progress-con-t">
                                <div class="progressbar-view">
                                  <div class="progressbar-fill" style="width: `+spontan/10*100+`% !important;"></div>
                                </div>
                                <div class="progress-bar-value">`+spontan+`</div>
                              </div>`;
                              if(data["datasets"][1]){
                                val+=`
                                  <div class="progress-bar-con progress-con-b">
                                    <div class="progressbar-view">
                                      <div class="progressbar-fill" style="width: `+spontan2/10*100+`% !important;"></div>
                                    </div>
                                    <div class="progress-bar-value">`+spontan2+`</div>
                                  </div>` ;     
                              }
                              val+=`
                            </div>
                          </div>
                          <div class="progressBar">
                            <div class="progress-bar-text">Kreativitat</div>
                            <div class="progress-bar-pop">
                              <div class="progress-bar-con progress-con-t">
                                <div class="progressbar-view">
                                  <div class="progressbar-fill" style="width: `+creative/10*100+`% !important;"></div>
                                </div>
                                <div class="progress-bar-value">`+creative+`</div>
                              </div>
                              `;
                              if(data["datasets"][1]){
                                val+=`
                                  <div class="progress-bar-con progress-con-b">
                                    <div class="progressbar-view">
                                      <div class="progressbar-fill" style="width: `+creative2/10*100+`% !important;"></div>
                                    </div>
                                    <div class="progress-bar-value">`+creative2+`</div>
                                  </div>`
                              }
                              
                              val+=`
                            </div>
                          </div>
                          <div class="progressBar">
                            <div class="progress-bar-text">Korpersprache</div>
                            <div class="progress-bar-pop">
                              <div class="progress-bar-con progress-con-t">
                                <div class="progressbar-view">
                                  <div class="progressbar-fill" style="width: `+body/10*100+`% !important;"></div>
                                </div>
                                <div class="progress-bar-value">`+body+`</div>
                              </div>`;
                              if(data["datasets"][1]){
                                val+=` <div class="progress-bar-con progress-con-b">
                                    <div class="progressbar-view">
                                      <div class="progressbar-fill" style="width: `+body2/10*100+`% !important;"></div>
                                    </div>
                                    <div class="progress-bar-value">`+body2+`</div>
                                  </div>`;
                              }

                              
                              val+=`
                            </div>
                          </div>
                          <div class="progressBar">
                            <div class="progress-bar-text">Rhetorik</div>
                            <div class="progress-bar-pop">
                              <div class="progress-bar-con progress-con-t">
                                <div class="progressbar-view">
                                  <div class="progressbar-fill" style="width: `+rhetorik/10*100+`% !important;"></div>
                                </div>
                                <div class="progress-bar-value">`+rhetorik+`</div>
                              </div>
                              `;
                              if(data["datasets"][1]){
                                 val+=`
                                  <div class="progress-bar-con progress-con-b">
                                    <div class="progressbar-view">
                                      <div class="progressbar-fill" style="width: `+rhetorik2/10*100+`% !important;"></div>
                                    </div>
                                    <div class="progress-bar-value">`+rhetorik2+`</div>
                                  </div>
                                  `;
                              }
                              val+=`
                            </div>
                          </div>
                        </div>
                    </div>
                    ` 
                            return val
                },
                label: function(tooltipItem, data) {
                  // return data['datasets'][0]['data'][tooltipItem['index']];
                },
                afterLabel: function(tooltipItem, data) {
                  // var dataset = data['datasets'][0];
                  // var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
                  // return '(' + percent + '%)';
                }
            },
            filter: function (tooltipItem) {
                return tooltipItem.datasetIndex === 0;
            },

        },
        scales: {
            yAxes: [{
                gridLines: {
                    display: true,
                    color:"rgba(255,255,255,1.0)",
                    lineWidth: 0.2,
                    zeroLineColor: "rgba(255,255,255,0)",
                },
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 10,
                    stepSize: 1,
                    fontColor:"rgba(255,255,255,1.0)",
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                    color:"rgba(255,255,255,1.0)",
                    lineWidth: 0.2,
                },
                ticks: {
                    fontColor:"rgba(255,255,255,1.0)",
                }
            }],
        },
    }
});
// var canvas = document.getElementById('Chart')
// canvas.onclick = function (evt) {
//     var points = gesamtChart.getElementAtEvent(evt);
//     var current_point = datapoints[points[0]._index];
//     var game_id = current_point.data.game_id,
//     turn_id = current_point.data.turn_rating_id,
//     recorded_pitch = current_point.data.turn_pitch;
//     if(recorded_pitch){
//         window.location  = "/dash/stats/turns/"+turn_id;
//     }
// };
document.getElementById('chart_gesamt').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.gesamt').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        var json_data = <%= g.to_json.html_safe %>
        json_data["word"] = "<%= g.turn.word.name if g.turn.word.present? %>";
        json_data["id"] = "<%= g.turn.id %>";
        json_data["turn_rating_id"] = "<%= g.id %>";
        json_data["turn_video"] = "<%= g.turn.recorded_pitch.present? ? true : false %>"
       
        json_data["type"] = "ges"
        json_data["type2"] = "ges"
        json_data["type_text"] = "Gesment"

        
        datapoints[i] = {value: <%= g.ges / 10.0 %>, data: json_data};
        <% if GameRating.where(game_id: g.game_id).first %>
            <% rating = GameRating.where(game_id: g.game_id).first %>
            var json_data2 = <%= rating.to_json.html_safe %>
            json_data2["average_team_ratings"] = <%= number_with_precision(rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) %>;
            
            datapoints2[i] = {value: <%= rating.ges / 10.0 %>, data:  json_data2};
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    var i = 0
    datapoints2.forEach(function(el){
        if(el.value == undefined){
            data2[i] = el
        }else{
            data2[i] = el.value
        } 
        i++;
    })
    var i = 0
    datapoints.forEach(function(el){
        if(el.value == undefined){
            data1[i] = el
        }else{
            data1[i] = el.value
        }
        i++;
        
    })
    window.gesamtChart.update();
});
document.getElementById('chart_spontan').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.spontan').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>  
        var json_data = <%= g.to_json.html_safe %>
        json_data["word"] = "<%= g.turn.word.name if g.turn.word.present? && g.turn.present?  %>";
        json_data["id"] = "<%= g.turn.id %>";
        json_data["turn_rating_id"] = "<%= g.id %>";


        json_data["type"] = "spontan"
        json_data["type2"] = "spontan2"
        json_data["type_text"] = "Spontan"

        datapoints[i] = {value: <%= g.spontan / 10.0 %>, data: json_data};
        <% if GameRating.where(game_id: g.game_id).first %>
            <% rating = GameRating.where(game_id: g.game_id).first %>
            var json_data2 = <%= rating.to_json.html_safe %>
            json_data2["average_team_ratings"] = <%= number_with_precision(rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) %>;
            
            datapoints2[i] = {value: <%= rating.spontan / 10.0 %>, data:  json_data2};
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    var i = 0
    datapoints2.forEach(function(el){
        if(el.value == undefined){
            data2[i] = el
        }else{
            data2[i] = el.value
        } 
        i++;
    })
    var i = 0
    datapoints.forEach(function(el){
        if(el.value == undefined){
            data1[i] = el
        }else{
            data1[i] = el.value
        }
        i++;
        
    })
    window.gesamtChart.update();
});
document.getElementById('chart_kreativ').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.kreativ').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        var json_data = <%= g.to_json.html_safe %>
        json_data["word"] = "<%= g.turn.word.name if g.turn.word.present? && g.turn.present? %>";
        json_data["id"] = "<%= g.turn.id %>";
        json_data["turn_rating_id"] = "<%= g.id %>";

      
        json_data["type"] = "creative"
        json_data["type2"] = "creative2"
        json_data["type_text"] = "Creative"

        datapoints[i] = {value: <%= g.creative / 10.0 %>, data: json_data};
        <% if GameRating.where(game_id: g.game_id).first %>
            <% rating = GameRating.where(game_id: g.game_id).first %>
            var json_data2 = <%= rating.to_json.html_safe %>
            json_data2["average_team_ratings"] = <%= number_with_precision(rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) %>;
            
            datapoints2[i] = {value: <%= rating.creative / 10.0 %>, data:  json_data2};
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    var i = 0
    datapoints2.forEach(function(el){
        if(el.value == undefined){
            data2[i] = el
        }else{
            data2[i] = el.value
        } 
        i++;
    })
    var i = 0
    datapoints.forEach(function(el){
        if(el.value == undefined){
            data1[i] = el
        }else{
            data1[i] = el.value
        }
        i++;
        
    })
    window.gesamtChart.update();
});
document.getElementById('chart_body').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.body').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        var json_data = <%= g.to_json.html_safe %>
        json_data["word"] = "<%= g.turn.word.name if g.turn.word.present? && g.turn.present?  %>";
        json_data["id"] = "<%= g.turn.id %>";
        json_data["turn_rating_id"] = "<%= g.id %>";


       
        json_data["type"] = "body"
        json_data["type2"] = "body2"
        json_data["type_text"] = "Body"

        datapoints[i] = {value: <%= g.body / 10.0 %>, data: json_data};
        <% if GameRating.where(game_id: g.game_id).first %>
            <% rating = GameRating.where(game_id: g.game_id).first %>
            var json_data2 = <%= rating.to_json.html_safe %>
        json_data2["average_team_ratings"] = <%= number_with_precision(rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) %>;
            
            datapoints2[i] = {value: <%= rating.body / 10.0 %>, data:  json_data2};
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>

    var i = 0
    datapoints2.forEach(function(el){
        if(el.value == undefined){
            data2[i] = el
        }else{
            data2[i] = el.value
        } 
        i++;
    })
    var i = 0
    datapoints.forEach(function(el){
        if(el.value == undefined){
            data1[i] = el
        }else{
            data1[i] = el.value
        }
        i++;
        
    })
    window.gesamtChart.update();
});
document.getElementById('chart_rhetorik').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.rhetorik').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        var json_data = <%= g.to_json.html_safe %>
        json_data["word"] = "<%= g.turn.word.name if g.turn.word.present? && g.turn.present?  %>";
        json_data["id"] = "<%= g.turn.id %>";
        json_data["turn_rating_id"] = "<%= g.id %>";

        
        json_data["type"] = "rhetorik"
        json_data["type2"] = "rhetorik2"
        json_data["type_text"] = "Rhetoric"

        datapoints[i] = {value: <%= g.rhetoric / 10.0 %>, data: json_data};
        <% if GameRating.where(game_id: g.game_id).first %>
            <% rating = GameRating.where(game_id: g.game_id).first %>
            var json_data2 = <%= rating.to_json.html_safe %>
        json_data2["average_team_ratings"] = <%= number_with_precision(rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) %>;
            
            datapoints2[i] = {value: <%= rating.rhetoric / 10.0 %>, data:  json_data2};
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    var i = 0
    datapoints2.forEach(function(el){
        if(el.value == undefined){
            data2[i] = el
        }else{
            data2[i] = el.value
        } 
        i++;
    })
    var i = 0
    datapoints.forEach(function(el){
        if(el.value == undefined){
            data1[i] = el
        }else{
            data1[i] = el.value
        }
        i++;
        
    })
    window.gesamtChart.update();
});

<%if current_user.nil? %>
$(document).ready(function(){

  setTimeout(function(){
    $('#pop_up').modal({backdrop: 'static', keyboard: false});
  }, 3000);
});
<% end %>

</script>