<body>

  <div class="verification-canvas py-4 d-flex align-items-center justify-content-center">
    <div class="container">
      <div class="text-center">
      <div class="mail-img position-relative d-inline-block">
          <%= image_tag ("mail-icon.png") ,alt:"IMG"%>         
          <span class="mail-digit">1</span>
      </div>
    <h1 class="verification-heading">Check your email</h1>
    <p class="verification-para">We sent a six-digit code to <span class="text-green"><%=@admin.email%></span></p>
    <p class="verification-para">Enter it below to unlock your free trial of peterpitch.com</p>
    <%= form_for @admin, as: Admin, url: verify_token_path  ,id: 'myForm' do |f| %>
      <%= hidden_field_tag "vid_token", @admin.vid_token %>
      <%= hidden_field_tag "token", @admin.token , id:"token"%>
      <div class="digit-box d-flex align-items-center justify-content-center" >

        <input class="digits digit-1" index="1" type="text" id="1" minlength="1" maxlength="1" required>
        <input class="digits digit-2" index="2" type="text" id="2" minlength="1" maxlength="1" required>
        <input class="digits digit-3" index="3" type="text" id="3" minlength="1"  maxlength="1" required>
        <div class="inputs-seperator"><div class="center"></div></div>
        <input class="digits digit-4" index="4" type="text" id="4" minlength="1" maxlength="1" required>
        <input class="digits digit-5" index="5" type="text" id="5" minlength="1" maxlength="1" required>
        <input class="digits digit-6" index="6" type="text" id="6" minlength="1" maxlength="1" required>
      </div>

      <div class="form-group" id="errordiv">
      </div>
      <div class="form-group text-center ">
        <button type="button"  class="btn btn-green mb-0 mt-4" id="submitbutton">Submit!</button>
       <!--- <%= f.submit 'Submit', class: 'btn btn-green mb-0 mt-4', id:"submitbutton" %> ---->
      </div>
      </div>
    <%end%>
  </div>
</body>


<script>

$(document).ready(function(){
   var ver_token =  $('#token').val();  
   
   var a = ver_token.charAt(0);
   var b = ver_token.charAt(1);
   var c = ver_token.charAt(2);
   var d = ver_token.charAt(3);
   var e = ver_token.charAt(4);
   var f = ver_token.charAt(5);

   $('.digits').autotab({ maxlength: 1 });
   

    // $("input").on('change', function(){
    //     v1=  $('#1').val();
    //     v2=  $('#2').val();
    //     v3 = $('#3').val();
    //     v4= $('#4').val();
    //     v5 = $('#5').val();
    //     v6=  $('#6').val();
      
    //     if  ((v1== a) && (v2 == b) && (v3 == c) && (v4 == d) &&  (v5 == e) && (v6 == f)){
    //     $('form').submit();
    //     } 
    //       else{
    //          nameError = "Please enter correct token";
    //       document.getElementById("errordiv").innerHTML = nameError; 
    //       return true;

    //       }
            
    // });
    $('#submitbutton').click(function() {

        v1=  $('#1').val();
        v2=  $('#2').val();
        v3 = $('#3').val();
        v4= $('#4').val();
        v5 = $('#5').val();
        v6=  $('#6').val();
        if  ((v1== a) && (v2 == b) && (v3 == c) && (v4 == d) &&  (v5 == e) && (v6 == f)){
        $('form').submit();
        } else if( (v1 == null || v1 == "") && (v2 == null || v2 == "") && (v3 == null || v3 == "")
         && (v4 == null || v4 == "") && (v5 == null || v5 == "") && (v6 == null || v6 == "")){

          nameError = "Please fill out all fields";
          document.getElementById("errordiv").innerHTML = nameError; 
          return true;
         } else{
          nameError = "Please enter correct token";
          document.getElementById("errordiv").innerHTML = nameError; 
          return true;

          }
    });
});

  
</script>