<div class="karte account">
    <div class="head left">Account Daten</div>
    <%= form_for(:admin, as: Admin, url: registration_path(Admin), html: { method: :put }) do |f|%>
    <div class="img-upload" onclick="showAvatar()">
        <label for="">Nutzerbild</label>
        <% if @admin.avatar? %>
        <%= image_tag @admin.avatar.quad.url %>
        <% else %>
        <% end %>
        <i class="fas fa-plus-circle"></i>
    </div>
    <div class="img-upload" onclick="showLogo()">
        <label for="">Logo</label>
        <% if @admin.logo? %>
        <span class="poligon">
        <%= image_tag @admin.logo.quad.url %>
        </span>
        <% else %>
        <% end %>
        <i class="fas fa-plus-circle"></i>
    </div><br>
    <div class="fields">
    <div class="half-1">
        <label for="">Firmenname</label>
        <%= f.text_field :company_name, class: 'field' %>
    </div>
    <div class="half-2">
        <label for="">E-Mail</label>
        <%= f.email_field :email, class: 'field' %>
    </div>
    </div>
    <div class="fields">
        <div class="half-1-1">
            <label for="">Vorname</label>
            <%=  f.text_field :fname, class: 'field' %>
        </div>
        <div class="half-1-2">
            <label for="">Nachname</label>
            <%= f.text_field :lname, class: 'field' %>
        </div>
        <div class="half-1-3">
            <label for="">Passwort</label>
            <%= f.password_field :password, class: 'field' %>
        </div>
        <div class="half-1-2">
            <label for="">Passwort wdhl</label>
            <%= f.password_field :password_confirmation, class: 'field' %>
        </div>
    </div>
    <div class="fields">
        <div class="half-1">
            <label for="">Straße / Hausnr.</label>
            <%= f.text_field :street, class: 'field' %>
        </div>
        <div class="half-1-3">
            <label for="">PLZ</label>
            <%= f.text_field :zipcode, class: 'field' %>
        </div>
        <div class="half-1-2">
            <label for="">Ort</label>
            <%= f.text_field :city, class: 'field' %>
        </div>
    </div>
    <%= f.submit 'Änderungen speichern', class: 'btn btn-green' %>
    <% end %>
</div>
<div class="popup" id="popup-avatar">
    <%= form_for(:admin, url: edit_admin_avatar_path(@admin), html: {class: 'dropzone'}) do |f|%>
        <div class="dz-message">Drop files here or click to upload.</div>
        <div class="fallback">
        <%= f.file_field :avatar %>
        </div>
    <% end %>
    <div class="close" onclick="hidePopup()"><i class="fas fa-times"></i></div>
</div>
<div class="popup" id="popup-logo">
    <%= form_for(:admin, url: edit_admin_logo_path(@admin), html: {class: 'dropzone'}) do |f|%>
        <div class="dz-message">Drop files here or click to upload.</div>
        <div class="fallback">
        <%= f.file_field :avatar %>
        </div>
    <% end %>
    <div class="close" onclick="hidePopup()"><i class="fas fa-times"></i></div>
</div>
<script>
    function showAvatar() {
        $('#popup-avatar').show();
    }
    function showLogo() {
        $('#popup-logo').show();
    }
    function hidePopup() {
        $('#popup-avatar').hide();
        $('#popup-logo').hide();
        window.location.reload(true);
    }
    Dropzone.options.myAwesomeDropzone = {
        paramName: "params[:admin][:avatar]",
    };
</script>