<% if @already %>
	$("#input_name<%=@id %>").addClass("error")
<% else %>
	$("#count<%= @id %>").html(<%=@count%>)
	$("#input_name<%=@id %>").val('');
	$("#input_name<%=@id %>").removeClass("error")
	var template = "<li> <%= @word.name %> <span class='rounded-minus-linear'><i class='fas fa-minus remove-word'></i></span></li>";
	$("#catchword-list<%=@id %>").append(template);
<% end %>