
<div class="px-5 pt-5">
<% if @admin.cards.exists?%>
<div class="tableCard-container">
    <table class="table tabel-card">
        <thead class="thead-dark">
            <tr>
                <th scope="col"> Card number</th>
                <th scope="col"> Expiry Month</th>
                <th scope="col"> Expiry Year</th>  
                <th scope="col"> Brand</th>                  
            </tr>
        </thead>
        <tbody>
                <% @credit_cards.each do |credit_card| %>
                    <tr>
                    <td> <%= credit_card.last_4_cards_digit %> </td>
                    <td> <%= credit_card.expiry_month %> </td>
                    <td> <%= credit_card.expiry_year %> </td>
                    <td> <%= credit_card.card_brand %> </td>
                    </tr> 
                <% end %>            
        </tbody>
    </table>

    <div class="accordion" id="accordionExample">
        <div class="card card-billing">
            <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <%= image_tag ("plus.png")%>
                </button>
            </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <%= form_tag cards_path, id:"payment-form" ,class:"payment-form" do %>
                        <div class="form-row-e">
                            <label for="card-element">
                            Credit or debit card
                            </label>
                            <div id="card-element" class="card-element d-flex align-items-center">
                                <div class="card-inner d-flex align-items-center">
                                    <div class="ce-card-no position-relative">
                                        <span><svg width="22" height="16" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21"><g fill="#000" fill-rule="evenodd"><g id="unknown" class="Icon-fill"><g id="card" transform="translate(0 2)"><path id="shape" d="M26.58 19H2.42A2.4 2.4 0 0 1 0 16.62V2.38A2.4 2.4 0 0 1 2.42 0h24.16A2.4 2.4 0 0 1 29 2.38v14.25A2.4 2.4 0 0 1 26.58 19zM10 5.83c0-.46-.35-.83-.78-.83H3.78c-.43 0-.78.37-.78.83v3.34c0 .46.35.83.78.83h5.44c.43 0 .78-.37.78-.83V5.83z" opacity=".2"></path><path id="shape" d="M25 15h-3c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1zm-6 0h-3c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1zm-6 0h-3c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1zm-6 0H4c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1z" opacity=".3"></path></g></g></g></svg></span>
                                        <input type="text" class="form-control" placeholder="Card number" data-stripe="number" maxlength="16">
                                    </div>
                                    <div class="ce-date d-flex position-relative">
                                    <input placeholder="MM" type="text" size="2"  class="form-control" data-stripe="exp-month" maxlength="2"/>
                                    <input placeholder="YY" type="text" size="4" class="form-control" data-stripe="exp-year" maxlength="4"/>
                                    </div>
                                    <div class="ce-cvc position-relative">
                                        <input type="text" class="form-control" placeholder="CVC" data-stripe="cvc" maxlength="3">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-green">Set as default</button>
                            </div>

                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                    <%end%>        
                </div>
            </div>
        </div>
    </div>

    
    
</div>


<%else%>
    <%= form_tag cards_path, id:"payment-form" ,class:"payment-form" do %>
        <form  id="payment-form" method="post" class="payment-form">
            <div class="form-row">
                <label for="card-element">
                Credit or debit card
                </label>
                <div id="card-element" class="card-element d-flex align-items-center">
                    <div class="card-inner d-flex align-items-center">
                        <div class="ce-card-no position-relative">
                            <span><svg width="22" height="16" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 21"><g fill="#000" fill-rule="evenodd"><g id="unknown" class="Icon-fill"><g id="card" transform="translate(0 2)"><path id="shape" d="M26.58 19H2.42A2.4 2.4 0 0 1 0 16.62V2.38A2.4 2.4 0 0 1 2.42 0h24.16A2.4 2.4 0 0 1 29 2.38v14.25A2.4 2.4 0 0 1 26.58 19zM10 5.83c0-.46-.35-.83-.78-.83H3.78c-.43 0-.78.37-.78.83v3.34c0 .46.35.83.78.83h5.44c.43 0 .78-.37.78-.83V5.83z" opacity=".2"></path><path id="shape" d="M25 15h-3c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1zm-6 0h-3c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1zm-6 0h-3c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1zm-6 0H4c-.65 0-1-.3-1-1s.35-1 1-1h3c.65 0 1 .3 1 1s-.35 1-1 1z" opacity=".3"></path></g></g></g></svg></span>
                            <input type="text" class="form-control" placeholder="Card number" data-stripe="number" maxlength="16">
                        </div>
                        <div class="ce-date d-flex position-relative">
                        <input placeholder="MM" type="text" size="2"  class="form-control" data-stripe="exp-month" maxlength="2"/>
                        <input placeholder="YY" type="text" size="4" class="form-control" data-stripe="exp-year" maxlength="4"/>
                        </div>
                        <div class="ce-cvc position-relative">
                            <input type="text" class="form-control" placeholder="CVC" data-stripe="cvc" maxlength="3">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-green">Set as default</button>
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>
    <%end%>
<%end%>
</div>

<script>
    var stripeResponseHandler;
    // var stripe = Stripe('pk_test_c88mwAcqSsWPdJ47Pg6Xz20X');

    jQuery(function() {
    Stripe.setPublishableKey("pk_test_c88mwAcqSsWPdJ47Pg6Xz20X");
    $('#payment-form').submit(function(event) {
        var $form;
        $form = $(this);
        // Disable the submit button to prevent repeated clicks
        // $form.find('button').prop('disabled', true);
        // Prevent form submittion
        Stripe.card.createToken($form, stripeResponseHandler);
        return false;
    });
    stripeResponseHandler = function(status, response) {
            var $form, token;
            $form = $('#payment-form');
            if (response.error) {
                $form.find('.payment-errors').text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {
                token = response.id;
                $form.append($('<input type="hidden" name="payment_gateway_token" />').val(token));
                $form.get(0).submit();
            }
            };
    });


</script>