<section id="game-container">
<%= image_tag 'dash/game-arrow-top.png', id: 'arrow-top' %>
<%= image_tag 'dash/game-arrow-bottom.png', id: 'arrow-bottom', style: 'display:none' %>

<h1>Jetzt Spiel starten!</h1>

<%= form_for(:game, url: new_game_path(@admin)) do |f| %>
  
  <div class="col1">
      <%= f.label 'Spielgruppe', class: 'row1' %>
      
      <div class="row2">
      <select id='game_team_id' name="game[team_id]" class="cs-select cs-skin-underline form-field">
          <option value=''>Spielgruppe wählen</option>
          <% @teams.each do |t| %>
              <% if @team && t == @team %>
              <option value="<%= t.id %>" selected><%= t.name %></option>
              <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
              <% end %>
          <% end %>
      </select>
      </div>
      <div class="row3">
          -oder-
      </div>
  </div>
  
  <div class="col2">
  <%= f.label :password, 'Spielpasswort', class: 'row2' %>
  <div class="row3">
  <%= f.text_field :password, placeholder: 'Spielpasswort', class: 'form-field', onfocus: 'set_arrow()'%>
  </div>
  </div>
  
  <div class="col3">
     <div class="row3">
      <%= f.submit 'Spiel starten!', id:'anim_but' %>
      </div>
  </div>
<% end %>

<%= form_for(:team, url: new_team_game_path(@admin)) do |f| %>

    <div class="col1">
        <div class="row4">
        <%= f.text_field :name, placeholder: 'Spielgruppe erstellen', class: 'form-field', id: 'new_team' %>
        </div>
        <%= f.submit '+' %>
    </div>
<% end %>
</section>

<script>
document.getElementById('new_team').value='';
(function() {
    [].slice.call( document.querySelectorAll( 'form select.cs-select' ) ).forEach( 
        function(el) {
            new SelectFx(el);
        });
})();
function set_arrow(){
    $('#arrow-bottom').show();
    $('#anim_but').addClass( "anim" );
}
    
</script>