<section id="game-container">
<% if @team %>
<%= image_tag 'dash/game-arrow-top.png', id: 'arrow-top' %>
<% else %>
<%= image_tag 'dash/game-arrow-top.png', id: 'arrow-top', style: 'display: none'%>
<% end %>
<%= image_tag 'dash/game-arrow-bottom.png', id: 'arrow-bottom', style: 'display: none'%>
<h1>Jetzt Spiel starten!</h1>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.js"></script>
<%= form_for(:game, url: new_game_path(@admin), html: {id: 'game_form'}) do |f| %>
  
  <div class="col1">
      <%= f.label 'Team', class: 'row1' %>
      
      <div class="row2">
      <select id='game_team_id' name="game[team_id]" class="cs-select cs-skin-underline form-field" required>
          <option value='' disabled>Team wählen</option>
          <% @teams.each do |t| %>
              <% if @team && t == @team %>
              <option value="<%= t.id %>" selected data-class='cs-selected'><%= t.name %></option>
              <% else %>
              <option value="<%= t.id %>"><%= t.name %></option>
              <% end %>
          <% end %>
      </select>
      </div>
      <div class="row3">
          -oder-
      </div>
  </div>
  
  <div class="col2">
  <%= f.label :password, 'Spiel-URL', class: 'row2' %>
  <div class="row3">
    <div class="form-field-text">
        peterpitch.com/
        <% if @team %>
        <%= f.text_field :password, class: 'field2', id: 'url-field', autofocus: true, required: true, onchange: 'set_arrow()' %>
        <% else %>
        <%= f.text_field :password, class: 'field2', id: 'url-field', required: true, onchange: 'set_arrow()' %>
        <% end %>
        
    </div>
    <div class="switch-box">
      <label class="switch">
        <input type="checkbox" id="own_rules_check" value="is" >
        <span class="slider round"></span>
      </label>
      <p>Nach eignenen Regein spielen</p>
    </div>
    </div>
  </div>
  
  <div class="col3">
     <div class="row3">
      <%= f.submit 'Spiel starten!', id: 'anim_but' %>
      </div>
  </div>
<% end %>

<%= form_for(:team, url: new_team_game_path(@admin)) do |f| %>

    <div class="col1">
        <div class="row4">
        <% if @team %>
        <%= f.text_field :name, placeholder: 'Team erstellen', class: 'form-field', required: true %>
        <% else %>
        <%= f.text_field :name, placeholder: 'Team erstellen', class: 'form-field', autofocus: true, required: true %>
        <% end %>
        </div>
        <%= f.submit '+' %>
    </div>
<% end %>

</section>
<%= content_for :modal do %>
  <div class="modal pop_up2 modal-teams" id="pop_up" style='position: relative;' tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h1>You do not want to be bored. Upgrade to Pro and get unlimited Catchwords<br> <%= link_to "Continue", "", class: "btn btn-green mt-4 ml-0", id: "continue" %> </h1>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
    <%= render partial: 'popup_for_own_rules' %>
<% end %>

<script>

$("#continue").click(function(e){
  e.preventDefault();
  $("#game_form").submit();
});
(function() {
    [].slice.call( document.querySelectorAll( 'form select.cs-select' ) ).forEach( 
        function(el) {
            new SelectFx(el, {
						onChange: function(val){
							$('#arrow-top').show();
                            $('#url-field').focus();
						}
					});

        });
})();

$("#own_rules_check").on("change", function(e){
  var that = $(this);
  if(that.is(":checked")){
    $("#own-rules-modal").modal({backdrop: 'static', keyboard: false})
  }
})
function createNewGame(){
  if($("#url-field").val() != ""){
    var fields = $( ":input" ).serializeArray();
    var seconds = $("input[name='game[seconds]']:checked").val()
    fields << {seconds: seconds}
    fields << {own_rules: true}
    $.ajax({
      url: '/games/new',
      type: 'post',
      data: fields
    })
  }
  
}
<% if @admin.admin_subscription_id.nil? %>
  $("#anim_but").on("click", function(e){
    e.preventDefault()
    if(($("#url-field").val() != "") && $("#game_team_id").val() != ""){
      $('#pop_up').modal({backdrop: 'static', keyboard: false});
    }
    $("#continue").click(function(e){
      e.preventDefault();
      createNewGame()
    });
  })
<% else %>
  $("#anim_but").on("click", function(e){
    e.preventDefault()
    createNewGame()
  })
<% end %>
function set_arrow(){
    $('#arrow-bottom').show();
    $('#anim_but').addClass( "anim" );
}
</script>