<%= image_tag 'dash/lets-pitch1.png', class: 'lets-pitch-img1' %>
<%= image_tag 'dash/lets-pitch2.png', class: 'lets-pitch-img2' %>
<% if !@game %>
<div class="karte letsplay" id="letsplay">
    <div class="head">
        Jetzt Pitch starten!
    </div>
    <%= form_for(:game, url: new_game_path(@admin), html: {id: 'game-form'}) do |f| %>
    <div class="team">
        <label>
            Team
            <% if flash[:select_team] %>
            <div class="alert alert-game1"><%= flash[:select_team] %></div>
            <% else %>
            <div class="newteam-link" onclick="showTeam()">Team erstellen</div>
            <% end %>
        </label>
        <select name="game[team_id]" id="game_team_id"
            class="custom-select custom-select-lg <% if flash[:select_team] %>red<% end %>">
            <% if !@team %>
            <option value="" selected disabled>Team wählen</option>
            <% end %>
            <% @teams.each do |t| %>
            <% if @team && t.id == @team.id %>
            <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
            <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
            <% end %>
        </select>
    </div>
    <div class="url">
        <label>Pitch-URL
            <% if flash[:missing_password] %>
            <div class="alert alert-game1"><%= flash[:missing_password] %></div>
            <% end %>
        </label>
        <div class="url-field <% if flash[:missing_password] %>red<% end %>">
            <div class="text">peterpitch.com/</div>
            <%= f.text_field :password, class: 'custom-url-field' %>
        </div>
    </div>
    <input type="text" id="game_sound" name="game[mute_sound]" value="false" style="display: none">
    <div class="toggle-my-ratings toggle-my-ratings-1">
        <div class="toggle toggle-game right" onclick="soundCheck()"><div class="dot"></div></div>
        <div class="text">Pitch sound</div>
    </div>
    
    <button class="btn btn-green" onclick="submitForm()">weiter!</button>
    <% end %>
</div>
<div class="karte letsplay" id="newteam">
    <i class="back small fas fa-arrow-left" onclick="hideTeam()"></i>
    <div class="head small">
        Team erstellen!
    </div>
    <%= form_for(:team, url: new_team_path()) do |f| %>
    <% if flash[:team_name] %>
    <label>Teamname
        <div class="alert alert-team"><%= flash[:team_name] %></div>
    </label>
    <%= f.text_field :name, class: 'field red' %>
    <% else %>
    <label>Teamname</label>
    <%= f.text_field :name, class: 'field' %>
    <% end %>

  	<% @users.each do |u| %>
    	<input type="checkbox"  name="team[users][]" value="<%= u.id %>" id="team_users_<%= u.id %>">
    <% end %>
    <label>Nutzer suchen</label><br>
    <div class="user-list">
		<div class="search-field">
			<%= image_tag 'dash/icons/search.png', class: 'search' %>
            <input type="text" placeholder="Nutzer Suchen" id='searchNewTeam' value="" autocomplete="off">
		</div>
        <div class="unselected_user">
        	<% @users.each do |u| %>
            <label for="team_users_<%= u.id %>" class="user" onclick="moveUser(this)">
                <i class="fas fa-plus-circle"></i>
                <% if u.avatar.present? %>
                	<%= image_tag u.avatar.quad.url %>
                <% else %>
                	<div class="circle"></div>
                <% end %>
                <%= (u.fname.present? ? u.fname : "") + ' ' + (u.lname.present? ? u.lname : "") %>
            </label>
            <% end %>
		</div>
	</div>
    <div class="selected_users" style="bottom: 8vh; height: 15vh; width: 40.04vh;"></div>
    <%= f.hidden_field :url, value: 'letsplay' %>
    <%= f.submit 'Team erstellen', class: 'btn btn-green' %>
    <% end %>
</div>
<% elsif @game && @team %>
<div class="karte letsplay" id="letsplay">
    <div class="head">
        Jetzt Pitch starten!
    </div>
    <%= form_for(:game, url: update_game_path(@game), html: {id: 'game-form'}) do |f| %>
    <div class="team">
        <label>
            Team
            <% if flash[:select_team] %>
            <div class="alert alert-game1"><%= flash[:select_team] %></div>
            <% else %>
            <div class="newteam-link" onclick="showTeam()">Team erstellen</div>
            <% end %>
        </label>
        <select name="game[team_id]" id="game_team_id"
            class="custom-select custom-select-lg <% if flash[:select_team] %>red<% end %>">
            <% if !@team %>
            <option value="" selected disabled>Team wählen</option>
            <% end %>
            <% @teams.each do |t| %>
            <% if @team && t.id == @team.id %>
            <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
            <option value="<%= t.id %>"><%= t.name %></option>
            <% end %>
            <% end %>
        </select>
    </div>
    <div class="url">
        <label>Pitch-URL
            <% if flash[:missing_password] %>
            <div class="alert alert-game1"><%= flash[:missing_password] %></div>
            <% end %>
        </label>
        <div class="url-field <% if flash[:missing_password] %>red<% end %>">
            <div class="text">peterpitch.com/</div>
            <%= f.text_field :password, class: 'custom-url-field' %>
        </div>
    </div>
    <input type="text" id="game_sound" name="game[mute_sound]" value="false" style="display: none">
    <div class="toggle-my-ratings toggle-my-ratings-1">
        <div class="toggle toggle-game right" onclick="soundCheck()"><div class="dot"></div></div>
        <div class="text">Game sound</div>
    </div>
    <button class="btn btn-green" onclick="submitForm()">weiter!</button>
    <% end %>
</div>
<div class="karte letsplay" id="newteam">
    <i class="back small fas fa-arrow-left" onclick="hideTeam()"></i>
    <div class="head small">
        Team erstellen!
    </div>
    <%= form_for(:team, url: new_team_path()) do |f| %>
    <% if flash[:team_name] %>
    <label>Teamname
        <div class="alert alert-team"><%= flash[:team_name] %></div>
    </label>
    <%= f.text_field :name, class: 'field red' %>
    <% else %>
    <label>Teamname</label>
    <%= f.text_field :name, class: 'field' %>
    <% end %>

  	<% @users.each do |u| %>
    		<input type="checkbox"  name="team[users][]" value="<%= u.id %>" id="team_users_<%= u.id %>">
    <% end %>
    <label>Nutzer suchen</label><br>
    <div class="user-list">
		<div class="search-field">
			<%= image_tag 'dash/icons/search.png', class: 'search' %>
            <input type="text" placeholder="Nutzer Suchen" id='searchNewTeam' autocomplete="off">
		</div>
        <div class="unselected_user">
        	<% @users.all.each do |u| %>
            <label for="team_users_<%= u.id %>" class="user" onclick="moveUser(this)">
                <i class="fas fa-plus-circle"></i>
                <% if u.avatar.present? %>
                	<%= image_tag u.avatar.quad.url %>
                <% else %>
                	<div class="circle"></div>
                <% end %>
                <%= (u.fname.present? ? u.fname : "") + ' ' + (u.lname.present? ? u.lname : "") %>
            </label>
            <% end %>
		</div>
	</div>
    <div class="selected_users"></div>
    <%= f.hidden_field :url, value: 'letsplay' %>
    <%= f.submit 'Team erstellen', class: 'btn btn-green' %>
    <% end %>
</div>
<% else %>
<div class="karte letsplay" id="ownrules">
   	<%= link_to '', dash_admin_game_2_path(@game, @game.team), class: "back small fas fa-arrow-left" %>
    <div class="head small">Pitche nach deinen Regeln</div>
    <%= form_for(:game, url: new_game_2_path(@game), html: {id: 'game-form'}) do |f| %>
    <div class="karte-content">
        <div class="time">
            <label>Zeit</label><br>
            <div class="field">
                <input id="game-time" type="number" name="game[seconds]" value="80" style="display: none;">
                <div class="time" id="game-time-input">1:20</div>
                <div class="up" onclick="timeUp()"><i class="fa fa-angle-up"></i></div>
                <div class="down" onclick="timeDown()"><i class="fa fa-angle-down"></i></div>
            </div>
        </div>

        <div class="catchwords">
            <label>Catchwords
                <% if flash[:select_catchword] %>
                <div class="alert alert-game2">
                    <%= flash[:select_catchword] %>
                </div>
                <% end %>
            </label>
            <input type="checkbox" name="game[baskets][]" value="pp" multiple id="game_baskets_pp">
            <% @admin.catchword_baskets.where(objection: false).each do |b| %>
            <input type="checkbox" name="game[baskets][]" value="<%= b.id %>" multiple id="game_baskets_<%= b.id %>">
            <% end %>
            <div class="checked-field <% if flash[:select_catchword] %>red<% end %>">
                <div class="text">Original Peter's Catchwords</div>
                <div class="add" onclick="catchwordsShow()"><i class="fas fa-plus"></i></div>
            </div>
            <div class="unchecked-field">
                <% @admin.catchword_baskets.where(objection: false).each do |b| %>
                <div class="checkbox" onclick="moveCatchwords(this)" data-value="game_baskets_<%= b.id %>">
                    <label for="game_baskets_<%= b.id %>"><%= b.name %> <i class="fas fa-plus"></i></label>
                </div>
                <% end %>
                <div class="checkbox" onclick="moveCatchwords(this)" data-value="game_baskets_pp" style="border-color: #54b7ff">
                    <label for="game_baskets_pp">PetersWords<i class="fas fa-times"></i></label>
                </div>
            </div>
        </div>

        <div class="objections">
            <label>Einwände
                <% if flash[:select_objection] %>
                <div class="alert alert-game2"><%= flash[:select_objection] %></div>
                <% end %>
            </label>
            <input type="checkbox" name="game[objections][]" value="pp" multiple id="game_objections_pp">
            <% @admin.catchword_baskets.where(objection: true).each do |b| %>
            <input type="checkbox" class="obj-check" name="game[objections][]" value="<%= b.id %>" multiple
                id="game_objections_<%= b.id %>">
            <% end %>
            <div class="checked-field <% if flash[:select_objection] %>red<% end %>">
               	<div class="text">Original Peter's Einwände</div>
                <div class="add" onclick="objectionsShow()"><i class="fas fa-plus"></i></div>
            </div>
            <div class="unchecked-field">
                <% @admin.catchword_baskets.where(objection: true).each do |b| %>
                <div class="checkbox" onclick="moveObjections(this)" data-value="game_objections_<%= b.id %>">
                    <label for="game_objections_<%= b.id %>"><%= b.name %> <i class="fas fa-plus"></i></label>
                </div>
                <% end %>
                <div class="checkbox" onclick="moveObjections(this)" data-value="game_objections_pp" style="border-color: #54b7ff">
                    <label for="game_objections_pp">PetersEinwände <i class="fas fa-times"></i></label>
                </div>
            </div>
        </div>

        <div class="ratings">
            <label>Bewertungskriterium
                <% if flash[:select_catchword] %>
                <div class="alert alert-game2">
                    <%= flash[:select_catchword] %>
                </div>
                <% end %>
            </label>
            <% @admin.custom_ratings.each do |cr| %>
                <input type="radio" class="radio-rating" name="game[rating]" value="<%= cr.id %>" id="game_ratings_<%= cr.id %>">
            <% end %>

            <div class="checked-field <% if flash[:select_catchword] %>red<% end %>">
                <div class="text">Original Peter's Kriterien</div>
                <div class="add" onclick="ratingsShow()"><i class="fas fa-plus"></i></div>
            </div>
            <div class="unchecked-field">
                <% @admin.custom_ratings.each do |cr| %>
				    <% if cr.name != 'PP' && cr.rating_criteria.present? %>
                        <div class="checkbox checkbox-<%= cr.id %>" onclick="moveRatings(this)" data-value="game_ratings_<%= cr.id %>">
                            <label><%= cr.name %> <i class="fas fa-plus"></i></label>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
        
        <div class="rate-type">
        	<label for="">Bewertungsausgabe (nach jedem Pitch)</label>
        	<div class="form-group">
        		<input type="radio" id="all_ratings" name="game[rating_option]" value="0" checked>
        		<label for="all_ratings">
        			Gesamtbewertung anzeigen
        			<i class="far fa-dot-circle"></i><i class="far fa-circle"></i>        		
        		</label>
        	</div>
        	<div class="form-group">
        		<input type="radio" id="no_ratings" name="game[rating_option]" value="2">
        		<label for="no_ratings">
        			Keine Bewertungen anzeigen
        			<i class="far fa-dot-circle"></i><i class="far fa-circle"></i>
        		</label>
        	</div>
        	<div class="form-group">
        		<input type="radio" id="one_rating" name="game[rating_option]" value="1">
        		<label for="one_rating">
        			Bewertung einer bestimmten Person anzeigen
        			<i class="far fa-dot-circle"></i><i class="far fa-circle"></i>	
        		</label>
        	</div>
        </div>

        <div class="youtube">
            <label for="" onclick="openYoutube()">Video hinzufügen</label>
            <input type="text" class="field" name="game[youtube_url]" id="youtube-link" placeholder="Youtube-Link einfügen">
            <input type="checkbox" name="game[video_is_pitch][]" value="true" id="game_video_is_pitch">
            <% @admin.videos.each do |v| %>
            	<input type="radio" name="game[video][]" value="<%= v.id %>" id="game_videos_<%= v.id %>">
            <% end %>
            <% @turns.each do |t| %>
            	<input type="radio" name="game[video_turn][]" value="<%= t.id %>" id="game_videos_turns_<%= t.id %>">
            <% end %>
            <input type="text" class="field" name="game[video_name]" id="video_selection" placeholder="Video auswählen" onclick="toggleSelectVideo()">
        </div>
    </div>
    <button class="btn btn-green" onclick="submitForm()">Pitch starten!</button>
    <% end %>
</div>

<div class="karte letsplay" id="selectVideos">
	<i class="back small fas fa-arrow-left" onclick="toggleSelectVideo()"></i>
	<div class="head small">Video auswählen!</div>
	<div class="body">
		<% @admin.videos.each do |v| %>
        <label for="game_videos_<%= v.id %>" class="video-karte videoSearch" onclick="selectVideo('<%= v.name %>', false)" style="background-image: url('<%= v.file.thumb.url.present? ? asset_path(v.file.thumb.url) : '' %>')">
          <div class="overlay"></div>
          <div class="title"><%= v.name %></div>
          <div class="duration"></div>
        </label>
        <% end %>
        <% @turns.each do |t| %>
        <% 
        first_name = t.user&.fname ? t.user.fname : 'no' 
        last_name = t.user&.lname ? t.user.lname : 'name' 
        %>
        <label for="game_videos_turns_<%= t.id %>" class="video-karte videoSearch" onclick="selectVideo('<%= first_name + " " + last_name %>', false)" style="background-image: url('<%= t.recorded_pitch.thumb.url.present? ? asset_path(t.recorded_pitch.thumb.url) : '' %>')">
          <div class="overlay"></div>
          <div class="title"><%= first_name + " " + last_name %></div>
          <div class="duration"></div>
        </label>
        <% end %>
	</div>
</div>
<script>
	new PerfectScrollbar('.karte-content');
</script>
<% end %>


<% if flash[:pop_up] %>
	<div class="fullscreen-blur">
		<div class="karte">
			<div class="head small">Url Vergeben!</div>
			<div class="body">
				<%= flash[:pop_up] %>
				<% if flash[:pop_up2] %>
				<br>
				<%= flash[:pop_up2] %>
				<% end %>
			</div>
			<div class="bottom">
			<button class="btn btn-green" onclick="closeModal()">Close</button>
			</div>
		</div>
	</div>
<% end %>
<div class="fullscren-blur" id="help-popup">
	<div class="video" onclick="togglevideo('startpitch')">
		<%= image_tag 'dash/help/startpitch.png' %>
		<div class="overlay"></div>
		<div class="play"><i class="fas fa-play"></i></div>
		<div class="text">Pitch erstellen?</div>
	</div>
</div>
<div class="video-modal" id="videoStartPitch">
	<div class="close"><i class="fas fa-times" onclick="togglevideo('startpitch')"></i></div>
	<%= video_tag 'HIW/startpitch.mp4', id: 'modalVideo', controls: true, preload: "auto" %>
</div>


<script>
    function soundCheck() {
        var toggle = $('.toggle-game');
        if (toggle.hasClass('left')) {
            toggle.removeClass('left');
            toggle.addClass('right');
            $('#game_sound').attr('value', 'false')
        } else {
            toggle.removeClass('right');
            toggle.addClass('left');
            $('#game_sound').attr('value', 'true')
        }
    }
	function togglevideo(e) {
		var vid;
		if(e == "startpitch") {
			$('#videoStartPitch').toggle();
			vid = document.querySelector('#videoStartPitch #modalVideo');
		}
		if(!vid.paused){
			vid.pause();
		} else {
			vid.play();
		}
	}
	function closeModal() {
		$('.fullscreen-blur').hide();
	}
    flash();
	function selectVideo(name, isPitch) {
		$('#youtube-link').val('')
		$('#selectVideos').toggle();
		$("#video_selection").val(name);
	}
	function toggleSelectVideo() {
		$('#selectVideos').toggle();
	}
    function openYoutube() {
        if ($('#youtube-link').css('display') == 'none') {
            $('#youtube-link').show();
			$('#video_selection').show();
            document.querySelector('.karte-content').scrollTo(0, document.querySelector('.karte-content').scrollHeight);
        } else {
            $('#youtube-link').hide();
			$('#video_selection').hide();
            document.querySelector('.karte-content').scrollTo(0, 0);
        }
    }
    function objectionsShow() {
        if ($(".objections > .unchecked-field").css('display') == 'none') {
            $(".objections > .unchecked-field").show();
            $(".catchwords > .unchecked-field").hide();
            $(".ratings > .unchecked-field").hide();
            document.querySelector('.karte-content').scrollTo(0, document.querySelector('.karte-content').scrollHeight);
        } else {
            $(".objections > .unchecked-field").hide();
            document.querySelector('.karte-content').scrollTo(0, 0);
        }
    }
    function moveObjections(e) {
        var checkbox = document.getElementById(e.getAttribute('data-value'));
        if (checkbox.checked) {
            e.querySelector('.fas').className = "fas fa-plus";
            document.querySelector('.objections > .unchecked-field').appendChild(e);
			if($('.objections .checked-field').children('.checkbox').length == 0) {
				$('.objections .checked-field .text').show();	
			}
        } else {
			$('.objections > .checked-field .text').hide();
            e.querySelector('.fas').className = "fas fa-times";
            document.querySelector('.objections > .checked-field').appendChild(e);
        }
    }
    function catchwordsShow() {
        if ($(".catchwords > .unchecked-field").css('display') == 'none') {
            $(".catchwords > .unchecked-field").show();
            $(".objections > .unchecked-field").hide();
            $(".ratings > .unchecked-field").hide();
            document.querySelector('.karte-content').scrollTo(0, document.querySelector('.karte-content').scrollHeight);
        } else {
            $(".catchwords > .unchecked-field").hide();
            document.querySelector('.karte-content').scrollTo(0, 0);
        }
    }
    function moveCatchwords(e) {
        var id = e.getAttribute('data-value');
        var checkbox = document.getElementById(id);
        if (checkbox.checked) {
            e.querySelector('.fas').className = "fas fa-plus";
            document.querySelector('.catchwords > .unchecked-field').appendChild(e);
			if($('.catchwords .checked-field').children('.checkbox').length == 0) {
				$('.catchwords > .checked-field .text').show();	
			}
        } else {
			$('.catchwords > .checked-field .text').hide();
            e.querySelector('.fas').className = "fas fa-times";
            document.querySelector('.catchwords > .checked-field').appendChild(e);
        }
    }
    function ratingsShow() {
        if ($(".ratings > .unchecked-field").css('display') == 'none') {
            $(".ratings > .unchecked-field").show();
            $(".objections > .unchecked-field").hide();
            $(".catchwords > .unchecked-field").hide();
            document.querySelector('.karte-content').scrollTo(0, document.querySelector('.karte-content').scrollHeight);
        } else {
            $(".ratings > .unchecked-field").css('display', 'none')
            document.querySelector('.karte-content').scrollTo(0, 0);
        }
    }
    
    function moveRatings(e) {
        var id = e.getAttribute('data-value');
        var class_name = $(e).attr('class').split(' ')[1]
        var checkbox = document.getElementById(id);


        var cross_btn_clicked = $(`.${class_name} .fa-times`).length
        if (cross_btn_clicked) {
            $(checkbox).prop("checked", false);
            e.querySelector('.fas').className = "fas fa-plus";
            document.querySelector('.ratings > .unchecked-field').appendChild(e);
            if($('.ratings .checked-field').children('.checkbox').length == 0) {
                $('.ratings > .checked-field .text').show();
            }
        } else {
            if ($(`.${class_name} .fa-plus`).length) {
                $(".ratings input[type=radio]").each(function() {
                    if (this.id == id ){
                        $(this).prop("checked", true);                
                    } else {
                        $(this).prop("checked", false);
                    }
                });            
            }

            if($('.ratings .checked-field').children('.checkbox').length) {
                var checked_checkbox = document.querySelector('.ratings > .checked-field .checkbox')
                document.querySelector('.ratings > .checked-field').removeChild(checked_checkbox);
                checked_checkbox.querySelector('.fas').className = "fas fa-plus";
                document.querySelector('.ratings > .unchecked-field').appendChild(checked_checkbox);

                $('.ratings > .checked-field .text').hide();
                e.querySelector('.fas').className = "fas fa-times";
                document.querySelector('.ratings > .checked-field').appendChild(e);
            } else {
                $('.ratings > .checked-field .text').hide();
                e.querySelector('.fas').className = "fas fa-times";
                document.querySelector('.ratings > .checked-field').appendChild(e);
            }
        }    
    }

	function moveUser(e) {
        var selected = document.querySelector('#newteam .selected_users');
		var unselected = document.querySelector('#newteam .unselected_user');
		var id = e.getAttribute('for');
		var checkbox = document.getElementById(id);
		if(checkbox.checked) {
			e.querySelector('.fas').className = "fas fa-plus-circle";
			unselected.appendChild(e);
		} else {
			e.querySelector('.fas').className = "fas fa-minus-circle";
			selected.appendChild(e);
			$('#searchNewTeam').val("");
		}
    }

    function flash() {
        if ($('.alert-team')[0]) { showTeam(); }
        if (!$('.alert-game1')[0] && $('.alert-game2')[0]) { showRules(); }
    }
    function showTeam() {
        $('#letsplay').hide();
        $('#newteam').show();
		setTimeout(function(){$('#newteam .unselected_user').hide();}, 500);
    }
    function hideTeam() {
        $('#letsplay').show();
        $('#newteam').hide();
    }
	$('.user-list .search-field').attr('style','border-bottom: 0 !important');
    /* search newTeam */
    $('#searchNewTeam').keyup(function() {
    	let element_exist = false;
        $(".unselected_user .user").each(function () {
			if (($(this).css("display") == "block") || ($(this).css("display") == "flex")) {
				element_exist = true
			}
      	});
		if ((this.value && !element_exist) || (!this.value)) {
        	$('.unselected_user .user').attr('style', 'display: none !important');
            $('.user-list .search-field').attr('style','border-bottom: 0 !important');
		}
        $rows = $('.unselected_user .user');
        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        	reg = RegExp(val, 'i'),
            text;
        $rows.show().filter(function() {
        	text = $(this).text().replace(/\s+/g, ' ');
            if(!(!reg.test(text)) && ($('#searchNewTeam').val() != "")){
                $('.unselected_user .user').attr('style', 'display: flex !important');
                $('#newteam .unselected_user').show();
                $('.user-list .search-field').attr('style','border-bottom: 0.1vh solid #dfe1e5 !important');
            } else if (($('#searchNewTeam').val() == "")) {
                $('#newteam .unselected_user').hide();
                $('.unselected_user .user').attr('style', 'display: none !important');
                $('.user-list .search-field').attr('style','border-bottom: 0 !important');
            }
            return !reg.test(text);
        }).hide();
        })
    function submitForm() {
        $('#game-form').unbind('submit');
        $('#game-form').submit();
    }
    function showRules() {
        $("#game-form").submit(function (e) {
            e.preventDefault();
        });
        $('#letsplay').hide();
        $('#ownrules').show();
        setTimeout(function () {
            $('#game-form').unbind('submit');
        }, 500)
    }
    function hideRules() {
        $('#letsplay').show();
        $('#ownrules').hide();
    }
    function timeUp() {
        $('#game-form').unbind('submit');
        if ($('#game-time').val() == 80) {
            $('#game-time').val(150);
            $('#game-time-input').text('2:30');
        } else if ($('#game-time').val() == 150) {
            $('#game-time').val(300);
            $('#game-time-input').text('5:00');
        }  else if ($('#game-time').val() == 20) {
            $('#game-time').val(80);
            $('#game-time-input').text('1:20');
        }
    }
    function timeDown() {
        if ($('#game-time').val() == 150) {
            $('#game-time').val(80);
            $('#game-time-input').text('1:20');
        } else if ($('#game-time').val() == 300) {
            $('#game-time').val(150);
            $('#game-time-input').text('2:30');
        } else if ($('#game-time').val() == 80) {
            $('#game-time').val(20);
            $('#game-time-input').text('0:20');
        }
    }


</script>