
<div class="videotool-canvas d-flex">
  <div class="videotool-content">
    <div class="progress-block">
        <div class="progress-top">
            <h6><%= @turn.created_at.strftime("%d.%m.%Y") %> <%=  @turn.user.present? ? "- #{@turn.user.fname} #{@turn.user.lname}" : "- #{@admin.fname} #{@admin.lname}"%> </h6>
            <h3 class="<%= @turn.word.name.length >= 15 ? 'marquee' : ''%>"><span><span><%= @turn.word.name if @turn.word.present? %></span></span> </h3>
            <div id="dash_stats">
              <div class="gesamt rhetorik active">
                <button class="circle" id="chart_gesamt">
                  <span><%= number_with_precision(@average/ 10, precision: 1) %></span>
                  <% if @user.present? && @user.avatar? %>
                    <%= image_tag @user.avatar.quad.url %>
                  <% else %>
                      <%= image_tag 'defaults/wolf.jpg' %>
                  <% end %>
                </button>
                <div class="text" id="t_gesamt">Gesamt</div>
              </div>
              <% if @admin_ratings.present?%>
              <div class="gesamt rhetorik show_it" style="display: none;">
                <button class="circle" id="chart_gesamt">
                  <span><%=  number_with_precision(@admin_ratings.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) %></span>
                  <% if @user.present? && @user.avatar? %>
                  <%= image_tag @user.avatar.quad.url %>
                  <% else %>
                      <%= image_tag 'defaults/wolf.jpg' %>
                  <% end %>
                </button>
                <div class="text" id="t_gesamt">Meine Bewertung</div>
              </div>
              <% end%>
            </div>
        </div>
        <div class="progress-main">
          <div class="progressBar">
            <div class="progress-bar-text">Spontanitat</div>
            <div class="progress-bar-pop">
              <div class="progress-bar-con progress-con-t">
                <div class="progressbar-view">
                  <div class="progressbar-fill" style="width: <%=@spontan%>% !important;"></div>
                </div>
                <div class="progress-bar-value"><%=number_with_precision @spontan.to_f/10,precision: 1 %></div>
              </div>
              <% if @admin_ratings.present? %>
                  <div class="progress-bar-con progress-con-b show_it"  style="display: none">
                    <div class="progressbar-view">
                      <div class="progressbar-fill" style="width: <%=@admin_ratings.spontan%>% !important;"></div>
                    </div>
                    <div class="progress-bar-value"><%=number_with_precision @admin_ratings.spontan.to_f/10,precision: 1 %></div>
                  </div>
              <% end %>
            </div>
          </div>
          <div class="progressBar">
            <div class="progress-bar-text">Kreativitat</div>
            <div class="progress-bar-pop">
              <div class="progress-bar-con progress-con-t">
                <div class="progressbar-view">
                  <div class="progressbar-fill" style="width: <%=@creative%>% !important;"></div>
                </div>
                <div class="progress-bar-value"><%=number_with_precision @creative.to_f/10,precision: 1 %></div>
              </div>
              <% if @admin_ratings.present? %>
            
                <div class="progress-bar-con progress-con-b show_it"  style="display: none">
                  <div class="progressbar-view">
                    <div class="progressbar-fill" style="width: <%=@admin_ratings.creative%>% !important;"></div>
                  </div>
                  <div class="progress-bar-value"><%=number_with_precision @admin_ratings.creative.to_f/10,precision: 1 %></div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="progressBar">
            <div class="progress-bar-text">Korpersprache</div>
            <div class="progress-bar-pop">
              <div class="progress-bar-con progress-con-t">
                <div class="progressbar-view">
                  <div class="progressbar-fill" style="width: <%=@body%>% !important;"></div>
                </div>
                <div class="progress-bar-value"><%=number_with_precision @body.to_f/10,precision: 1 %></div>
              </div> 
              <% if @admin_ratings.present? %>
                <div class="progress-bar-con progress-con-b show_it"  style="display: none">
                  <div class="progressbar-view">
                    <div class="progressbar-fill" style="width: <%=@admin_ratings.body%>% !important;"></div>
                  </div>
                  <div class="progress-bar-value"><%=number_with_precision @admin_ratings.body.to_f/10,precision: 1 %></div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="progressBar">
            <div class="progress-bar-text">Rhetorik</div>
            <div class="progress-bar-pop">
              <div class="progress-bar-con progress-con-t">
                <div class="progressbar-view">
                  <div class="progressbar-fill" style="width: <%=@rhetoric%>% !important;"></div>
                </div>
                <div class="progress-bar-value"><%=number_with_precision @rhetoric.to_f/10,precision: 1 %></div>
              </div>
              <% if @admin_ratings.present? %>
              
                  <div class="progress-bar-con progress-con-b show_it"  style="display: none" style="display: none">
                    <div class="progressbar-view">
                      <div class="progressbar-fill" style="width: <%=@admin_ratings.rhetoric%>% !important;"></div>
                    </div>
                    <div class="progress-bar-value"><%=number_with_precision @admin_ratings.rhetoric.to_f/10,precision: 1 %></div>
                  </div>
              <% end %>    
            </div>
          </div>
        </div>
        <div class="switch-box switch-box-vt">
          <label class="switch">
            <input type="checkbox" id="show_video" value="is" >
            <span class="slider round"></span>
          </label>
          <p class="text-for-switch">Betwertung einblenden</p>
        </div>
    </div>
  </div>
  <% if @turn.recorded_pitch.url.present? %>
  <div class="videotool-content videotool-content-video" id="video" >
    <div class="video-container">
      <%= image_tag @turn.recorded_pitch.thumb.url, id: "pitch_thumb" %>
      <video  height="auto" width="100%"  preload="auto" id="pitch_video"  preload="auto" style="display: none;">
        <source src="<%= @turn.recorded_pitch.url %>" type="video/webm">
      </video>
    </div>
    <div class="player-bar">
      <div class="player-bar-current">
        <span class="player-cursor" ></span>
      </div>
    </div>
    <div class="video-time">
      <span id="currentTime">0:00/<%=  @turn.recorded_pitch_duration.to_minutes if @turn.recorded_pitch_duration.present?%></span>
      <span id="duration"></span>
    </div>
    <div class="video-options position-relative">
      <a href="#" class="stop-video" id="stop"></a>
      <a href="#" class="play-video" id="play-video"></a>
      <a href="#" class="edit-video" id="edit-video"></a>
      <a href="#" class="volume-on"></a>
    </div>
  </div>
  <% end %>
  <div class="videotool-content videotool-comment" id="comments" >
    <div class="progress-block">
      <div class="vc-top">
        <div class="vc-top-scroll" id="comment-box">
          <% @turn.comments.order('time_of_video ASC').each do |c| %>
            <div class="vc-row single-comment  <%= 'vcr-'+c.type_of_comment %> comment-<%=c.time_of_video%>" data-time="<%=c.time_of_video%>">
              <h5><%= c.time_of_video  ? c.time_of_video.to_minutes : '0:00'%></h5>
              <p><%= c.title %></p>
            </div>
          <% end %>
        </div>
      </div>
      <div class="vc-detail">
        <form class="" id="add-comment-form">
          <div class="vc-detail-comment">
            <div class="vc-video-t vcr-positive" id="time_of_video">0:00</div>
            <div class="vc-options">
              <label class="radio-label radio-positive">positive
                <input type="radio" checked="checked" name="radio" value="vcr-positive">
                <span class="checkmark"></span>
              </label>
              <label class="radio-label radio-neutral">neutral
                <input type="radio" name="radio" value="vcr-neutral">
                <span class="checkmark"></span>
              </label>
              <label class="radio-label radio-negative">negative
                <input type="radio" name="radio" value="vcr-negative">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <input type="text" name="field" placeholder="Kommentar hinzufügen" autocomplete="off">
          <button class="com-plus-icon" type="submit"></button>
        </form>
      </div>
    </div>
  </div>
</div>
   

<script type="text/javascript">

  var Comments = (<%= raw(@turn.comments.to_json) %>);
  $(document).ready(function(){
    window.clearInterval(timerId);

    const player = document.querySelector('#video');
    const progress = player.querySelector('.player-bar');
    const progressBar = player.querySelector('.player-bar-current');
    const skipButtons = player.querySelectorAll('[data-skip]');
    const ranges = player.querySelectorAll('.player__slider');
    const playbutton = document.querySelector(".play-video");
    const video = document.getElementById('pitch_video');
    const editButton = document.getElementById('edit-video');
    const durationSpan =  $("span#durationn");
    const currentTimeSpan = $("span#currentTime");

    $("input[name=radio]").on('change', function(){
      $("#time_of_video").removeClass()
      $("#time_of_video").addClass('vc-video-t')
      $('#time_of_video').addClass($(this).val())
    })
    video.addEventListener("loadedmetadata", function(){console.log(video.duration)}, false)
    /* Build out functions */
    function togglePlay(e) {
      e.preventDefault()
      const method = video.paused ? 'play' : 'pause';
      $("#pitch_video").show()
      $("#pitch_thumb").hide()
      if(method == 'play'){
         timerId = window.setInterval(function(){
            handleProgress()  /// call your function here
          }, 50);
        $(".play-video").addClass("pause-video")
      }else{
        window.clearInterval(timerId);
        $(".play-video").removeClass("pause-video")
      }
      video[method]();
    }
    $("#add-comment-form").on('submit', function(e){
      e.preventDefault()
      var text = $("input[name=field]").val()
      if(text.length > 0){
        $("input[name=field]").val('')
        var type = $("input[name=radio]:checked").val()
        // $("#comment-box").animate({ scrollTop: $('#comment-box').prop("scrollHeight")}, 300);
        addCommentToCommentBox(text, type) 
        sendToServer(text, type)
      }
    });
    function dynamicSort(property) {
      var sortOrder = 1;
      if(property[0] === "-") {
          sortOrder = -1;
          property = property.substr(1);
      }
      return function (a,b) {
          /* next line works with strings and numbers, 
           * and you may want to customize it to your needs
           */
          var result = (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
          return result * sortOrder;
      }
    }

    function sortAndRenderComments(val){
      Comments.push(val)
      Comments.sort(dynamicSort("time_of_video"))
      $("#comment-box").empty()
      renderTemplate()
    }

    function renderTemplate(){
      Comments.forEach(function(t){
        var template =`<div class="vc-row single-comment  vcr-`+t.type_of_comment+` comment-`+t.time_of_video+`" data-time="`+t.time_of_video+`">
              <h5>`+fancyTimeFormat(t.time_of_video)+`</h5>
              <p>`+t.title +`</p>
            </div>`;
        $("#comment-box").append(template)
      })
    }

    $(".volume-on").on('click', toggleMute)

    function toggleMute(e){
      e.preventDefault()
      video.muted = video.muted == true ? false : true;
      video.muted == true ? $(this).addClass('volume-off') : $(this).removeClass('volume-off') ;
    }

    function sendToServer(text, type){
      $.ajax({
        url: '<%= create_comment_path(@turn.id)%>',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {title: text, type: type, current_time:  video.currentTime},
        type: 'post'
      })
    }

    function fancyTimeFormat(time){   
        var hrs = ~~(time / 3600);
        var mins = ~~((time % 3600) / 60);
        var secs = ~~time % 60;
        var ret = "";
        if (hrs > 0) {
            ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
        }
        ret += "" + mins + ":" + (secs < 10 ? "0" : "");
        ret += "" + secs;
        return ret;
    }

    function updateButton() {
      const icon = this.paused ? '►' : '❚ ❚';
      console.log(icon);
    }

    function skip() {
    }

    function commentBox(e){
      e.preventDefault()
      var time = video.currentTime
      video.pause()
      fillTimeOfCommentBox(video.currentTime)
      $("#comments").fadeIn()
    }
    document.getElementById("pitch_video").currentTime=12228292812
    document.getElementById("pitch_video").currentTime=0
    function fillTimeOfCommentBox(time){
      var displayedTime = fancyTimeFormat(time)
      $("#time_of_video").text(displayedTime)
    }

    function addCommentToCommentBox(text, type){
      var time = (video.currentTime)
      fillTimeOfCommentBox(time)
      type = type.split("vcr-")
      type = type[type.length-1]
      sortAndRenderComments({title: text, time_of_video: time, type_of_comment: type })
      $(".vc-row").slideDown()
    }

    function handleRangeUpdate() {
      video[this.name] = this.value;
    }


    var timerId;
    // video.ontimeupdate = e => {
    //   console.log(video.currentTime)
    //   handleProgress()
    // }

    function handleProgress(e) {
      console.log(e)
      var duration = video.duration != Infinity ? video.duration : <%=@turn.recorded_pitch_duration.present? ? @turn.recorded_pitch_duration : 0 %> ;
      var percent = (video.currentTime / duration ) * 100;
      video.duration = <%=@turn.recorded_pitch_duration.present? ? @turn.recorded_pitch_duration : 0 %> ;
      progressBar.style.width = `${percent}%`;
      if(percent == 0 || percent == 100){
        if(percent == 0){
          $('.player-cursor').css('left','0px');
          $('.player-cursor').css('right','');
        }
        if(percent == 100){
          window.clearInterval(timerId);

          $("#play-video").removeClass("pause-video")
          $("#pitch_video").hide()
          $("#pitch_thumb").show()
          $('.player-cursor').css('right','0px');
          $('.player-cursor').css('left','');
        }
      }else{
        $('.player-cursor').css('right','');
        $('.player-cursor').css('left','');
      }
      if(duration != Infinity)
        $("span#duration").html('/'+secondsToHms(Math.round(duration)))
      $("span#currentTime").html(secondsToHms(Math.round(video.currentTime)))
    }


    function scrub(e) {
      $("#pitch_video").show()
      $("#pitch_thumb").hide()
      var duration = video.duration != Infinity ? video.duration : <%=@turn.recorded_pitch_duration.present? ? @turn.recorded_pitch_duration : 0 %> ;
      const scrubTime = (e.offsetX / progress.offsetWidth) * duration;
      video.currentTime = scrubTime;
      handleProgress()
    }

    function stopVideo(){
      video.currentTime = 0;
      video.pause()
      $(".play-video").removeClass("pause-video");
      $("#pitch_video").hide()
      $("#pitch_thumb").show()
      handleProgress()
    }
    /* Hook up the event listeners */
    video.addEventListener('click', togglePlay);
    playbutton.addEventListener('click', togglePlay);
    playbutton.addEventListener('click', updateButton);
    playbutton.addEventListener('click', handleProgress);
    video.addEventListener('play', updateButton);
    video.addEventListener('pause', updateButton);
    editButton.addEventListener("click", commentBox)
    skipButtons.forEach(button => button.addEventListener('click', skip));
    ranges.forEach(range => range.addEventListener('change', handleRangeUpdate));
    ranges.forEach(range => range.addEventListener('mousemove', handleRangeUpdate));

    let mousedown = false;
    progress.addEventListener('click', scrub);
    progress.addEventListener('mousemove', function(){
      if(mousedown){
        scrub()
      }
    });
    progress.addEventListener('click', (e) => mousedown && scrub(e));
    progress.addEventListener('click', () => mousedown = true);
    progress.addEventListener('click', () => mousedown = false);
    
    
    $(".stop-video").click(function(e){
      e.preventDefault()
      stopVideo()
    })
    $(".switch").click(function(event){
        var show = $("#show_video").prop("checked");
        if(show==true){
          $(".show_it").fadeIn()

        }else{
          $(".show_it").fadeOut()
        }
    })
    $(".switch").click();
    $(".show_it").fadeIn()

  })
  function secondsToHms(d) {
      d = Number(d);
      var h = Math.floor(d / 3600);
      var m = Math.floor(d % 3600 / 60);
      var s = Math.floor(d % 3600 % 60);

      var mDisplay = m > 0 ? (":") + m  : "0";
      var sDisplay = s > 0 ? ":" + (s).toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})  : ":00";
      return   mDisplay + sDisplay; 
  }

 /* Get Our Elements */
</script>