<div class="teams">
    <div class="searchbar">
        <%= image_tag 'dash/icons/search.png', id: 'search-icon' %>
        <input type="text" placeholder="Team suchen" id="searchTeams" onkeyup="search(this, $('.teamname'))">
    </div>
    <button class="btn btn-green" onclick="showNewteam()">Team erstellen</button>
    <div class="karte" id="teams">
        <div class="head left">Teams</div>
        <div class="table" id="teams-table">
            <table>
                <thead>
                    <tr>
                        <th>Teamname</th>
                        <th>Nutzer</th>
                        <th>Score</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   <% @teams.each do |t| %>
                    <tr class="teamname <% if @team && @team.id == t.id %> active <% end %>" >
                        <td onclick="selectTeam(<%= t.id %>)" id="search" ><%= t.name %></td>
                        <td onclick="selectTeam(<%= t.id %>)"><%= t.users.count %></td>
                        <td onclick="selectTeam(<%= t.id %>)">
                        	<% if t.team_rating_criteria.present? && !t.team_rating_criteria.find_by(name: 'ges')&.value.nil? %>
                        		<div class="circle" id="team_<%= t.id %>"></div>
                        		<div class="rating"><%= t.team_rating_criteria.find_by(name: 'ges').value / 10.0 %></div>
                        	<% else %>
                        		<div class="rating">0</div>
                        	<% end %>
                        </td>
                        <td><%= link_to '', dash_admin_team_path(t.id, query: 'edit'), class: 'far fa-edit edit'%></td>
                        <td><%= link_to image_tag('dash/icons/stats.png'), dash_admin_team_stats_path(t.id) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="karte" id="newteam">
        <i class="back fas fa-arrow-left" onclick="hideNewteam()"></i>
        <div class="head left">Team erstellen</div>
        <%= form_for(:team, url: new_team_path()) do |f| %>
            <% if flash[:team_name] %>
                <label>Teamname
                    <div class="alert alert-team"><%= flash[:team_name] %></div>
                </label>
                <%= f.text_field :name, class: 'field red', value: '' %>
            <% else %>
                <label>Teamname</label>
                <%= f.text_field :name, class: 'field', value: ''%>
            <% end %>
        	<% @admin.users.all.each do |u| %>
               	<input type="checkbox"  name="team[users][]" value="<%= u.id %>" id="team_users_<%= u.id %>">
            <% end %>
            <label>Nach Nutzer suchen</label><br>
            <div class="user-list">
                <div class="search-field">
                    <%= image_tag 'dash/icons/search.png', class: 'search' %>
                    <input type="text" placeholder="Nutzer Suchen" id='searchNewTeam' autocomplete="off">
                </div>
                <div class="unselected_users">
                	<% @admin.users.all.each do |u| %>
                		<label for="team_users_<%= u.id %>" class="user" onclick="moveUserNew(this)">
                			<i class="fas fa-plus-circle"></i>
                			<% if u.avatar.present? %>
                				<%= image_tag u.avatar.quad.url %>
                			<% else %>
                				<div class="circle"></div>
                			<% end %>
                			<%= (u.fname.present? ? u.fname : "") + ' ' + (u.lname.present? ? u.lname : "") %>
                		</label>
                	<% end %>
                </div>
            </div>
            <div class="selected_users">
            	
            </div>
            <%= f.hidden_field :url, value: 'teams' %>
            <%= f.submit 'Team erstellen', class: 'btn half btn-green' %>
        <% end %>
    </div>
    
    <%  if @team %>
    <div class="karte editteam" id="editteam">
        <i class="back fas fa-arrow-left" onclick="hideEditteam()"></i>
        <div class="head left">Team bearbeiten</div>
        <%= form_for(:team, url: edit_team_path(@team)) do |f| %>
            <% if flash[:team_name] %>
                <label>Teamname
                <div class="alert alert-team_name"><%= flash[:team_name] %></div>
                </label>
                <%= f.text_field :name, class: 'field red', value: @team.name %>
            <% else %>
                <label>Teamname</label>
                <%= f.text_field :name, class: 'field', value: @team.name%>
            <% end %>
            <% @admin.users.all.each do |u| %>
              	<% if TeamUser.where(team_id: @team.id, user_id: u.id).count == 1 %>
               	<input type="checkbox"  name="team[users][]" value="<%= u.id %>" id="team_users_edit_<%= u.id %>" checked>
               	<% else %>
               	<input type="checkbox"  name="team[users][]" value="<%= u.id %>" id="team_users_edit_<%= u.id %>">
               	<% end %>
            <% end %>
        
            <label>Nach Nutzer suchen</label><br>
            <div class="user-list">
                <div class="search-field">
                    <%= image_tag 'dash/icons/search.png', class: 'search' %>
                    <input type="text" placeholder="Nutzer suchen" id='searchEditTeam'>
                </div>
                <div class="unselected_users">
                	<% @admin.users.all.each do |u| %>
                		<% if TeamUser.where(team_id: @team.id, user_id: u.id).count == 0 %>
                			<label for="team_users_edit_<%= u.id %>" class="user edituser" onclick="moveUserEdit(this)">
                				<i class="fas fa-plus-circle"></i>
                				<% if u.avatar.present? %>
                					<%= image_tag u.avatar.quad.url %>
                				<% else %>
                					<div class="circle"></div>
                				<% end %>
                				<%= (u.fname.present? ? u.fname : "") + ' ' + (u.lname.present? ? u.lname : "") %>
                			</label>
                		<% end %>
                	<% end %>
                </div>
            </div>
            <div class="selected_users">
            	<% @admin.users.all.each do |u| %>
            		<% if TeamUser.where(team_id: @team.id, user_id: u.id).count == 1 %>
            			<label for="team_users_edit_<%= u.id %>" class="user edituser" onclick="moveUserEdit(this)">
                			<i class="fas fa-minus-circle"></i>
                			<% if u.avatar.present? %>
                				<%= image_tag u.avatar.quad.url %>
                			<% else %>
                				<div class="circle"></div>
                			<% end %>
                			<%= (u.fname.present? ? u.fname : "") + ' ' + (u.lname.present? ? u.lname : "") %>
                		</label>
                	<% end %>
                <% end %>
            </div>
            <%= f.submit 'speichern', class: 'btn half btn-green' %>
        <% end %>
        <div onclick="toggleDeleteTeamModal()" class="remove far fa-trash-alt"></div>
    </div>
    <% end %>
</div>

<div class="users">
    <% if !@user %>
    <div class="searchbar">
        <%= image_tag 'dash/icons/search.png', id: 'search-icon' %>
        <input type="text" placeholder="Nutzer suchen" id="searchUsers">
    </div>
    <% end %>
    <button class="btn btn-green" onclick="showNewUser()">User erstellen</button>
    <div class="karte" id="users">
        <div class="head left">Nutzer</div>
        <select name="team" id="select-team" class="custom-select custom-select-lg">
            <option value="" <% if !@team %> selected <% end %> onclick="unselectTeams()">Alle Teams</option>
            <% @teams.each do |t| %>
            <% if @team && t.id == @team.id %>
            <option value="<%= t.id %>" selected><%= t.name %></option>
            <% else %>
            <option value="<%= t.id %>" onclick="selectTeam(<%= t.id %>)"><%= t.name %></option>
            <% end %>
            <% end %>
        </select>
        <div class="table" id="users-table">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Pitches</th>
                        <th>Score</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   <% @users.each do |u| %>
                    <tr class="username">
                        <% if u.avatar.present? %>
                        <td><a class="username-link" href="<%= dash_admin_user_stats_path(u.id) %>"><%= image_tag u.avatar.quad.url %><%= (u.fname.present? ? u.fname : "") + " " + (u.lname.present? ? u.lname : "") %></a></td>
                        <% else %>
                        <td><a class="username-link" href="<%= dash_admin_user_stats_path(u.id) %>"><div class="circle"></div><%= (u.fname.present? ? u.fname : "") + " " + (u.lname.present? ? u.lname : "") %></a></td>
                        <% end %>
                        <td><%= u.turn_rating_criteria.present? ? u.turn_rating_criteria.where(name: 'ges').count : 0 %></td>
                        <td>
                        	<% if u.user_rating_criteria.present? && !u.user_rating_criteria.find_by(name: 'ges')&.value.nil? %>
                        		<div class="circle" id="user_<%= u.id %>"></div>
                        		<div class="rating"><%= u.user_rating_criteria.find_by(name: 'ges').value / 10.0 %></div>
                        	<% else %>
                        		<div class="rating">0</div>
                        	<% end %>
                        </td>
                        <td><%= link_to '', dash_admin_user_path(u.id), class: 'far fa-edit' %></td>
                        <td><%= link_to image_tag('dash/icons/stats.png'), dash_admin_user_stats_path(u.id) %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="karte" id="newUser">
        <i class="back fas fa-arrow-left" onclick="hideNewUser()"></i>
        <div class="head left">Nutzer erstellen</div>
        <%= form_for(:user, url: new_user_path) do |f| %>
            <label class="half left">Unternehmen</label>
            <label class="half right">E-Mail
                <% if flash[:user_email] %>
                <div class="alert alert-newUser"><%= flash[:user_email] %></div>
                <% end %>
            </label>
            <%= f.text_field :company_name, class: 'half-field left' %>
            <% if flash[:user_email] %>
            <%= f.email_field :email, class: 'half-field right red' %>
            <% else %>
            <%= f.email_field :email, class: 'half-field right' %>
            <% end %>
            <label class="half left">Vorname</label>
            <label class="half right">Nachname</label>
            <%= f.text_field :fname, class: 'half-field left' %>
            <%= f.text_field :lname, class: 'half-field right' %>
            <%= f.hidden_field :admin_id, value: @admin.id %>
            <label>Teams</label>
            <% @admin.teams.each do |t| %>
                <input type="checkbox" name="user[teams][]" value="<%= t.id %>" multiple id="new_user_teams_<%= t.id %>">
            <% end %>
            <div class="selected-teams" id="selected_new_teams">
                
            </div>
            <div class="team-list" id="unselected_new_teams">
                <div class="search-field">
                    <%= image_tag 'dash/icons/search.png', class: 'search' %>
                    <input type="text" placeholder="Team suchen" id='searchNewUser' autocomplete="off">
                </div>
                <% @admin.teams.each do |t| %>
                    <label for="new_user_teams_<%= t.id %>" class="team newUser" onclick="moveNewTeam(this)"><%= t.name %> <i class="fas fa-times"></i></label>
                <% end %>
            </div>
            <%= f.submit 'Nutzer erstellen', class: 'btn half btn-green' %>
        <% end %>
    </div>
    <% if @user %>
    <div class="karte" id="editUser">
        <i class="back fas fa-arrow-left" onclick="unselectTeams()"></i>
        <div class="head left">Nutzer bearbeiten!</div>
        <%= form_for(:user, url: edit_user_path(@user)) do |f| %>
            <label class="half left">Unternehmen</label>
            <label class="half right">E-Mail</label>
            <%= f.text_field :company_name, class: 'half-field left' %>
            <%= f.email_field :email, class: 'half-field right' %>
            <label class="half left">Vorname</label>
            <label class="half right">Nachname</label>
            <%= f.text_field :fname, class: 'half-field left' %>
            <%= f.text_field :lname, class: 'half-field right' %>
            <%= f.hidden_field :admin_id, value: @admin.id %>
            <label>Teams</label><br>
            <% @admin.teams.each do |t| %>
                <% if TeamUser.where(team_id: t.id, user_id: @user.id).count != 0 %>
                    <input type="checkbox" name="user[teams][]" value="<%= t.id %>" multiple id="edit_user_teams_<%= t.id %>" checked>
                <% else %>
                    <input type="checkbox" name="user[teams][]" value="<%= t.id %>" multiple id="edit_user_teams_<%= t.id %>">
                <% end %>
            <% end %>
            <div class="selected-teams" id="selected_edit_teams">
                <% @user.teams.each do |t| %>
                <label for="edit_user_teams_<%= t.id %>" class="team" onclick="moveEditTeam(this)"><%= t.name %> <i class="fas fa-times"></i></label>
                <% end %>
            </div>
            <div class="team-list" id="unselected_edit_teams">
                <div class="search-field">
                    <%= image_tag 'dash/icons/search.png', class: 'search' %>
                    <input type="text" placeholder="Nutzer suchen" id='searchEditUser'>
                </div>
                <% @admin.teams.each do |t| %>
                    <% if TeamUser.where(team_id: t.id, user_id: @user.id).count == 0 %>
                    <label for="edit_user_teams_<%= t.id %>" class="team editUser" onclick="moveEditTeam(this)"><%= t.name %> <i class="fas fa-times"></i></label>
                    <% end %>
                <% end %>
            </div>
            <%= f.submit 'speichern', class: 'btn half btn-green' %>
        <% end %>
        <div onclick="toggleDeleteUserModal()" class="remove far fa-trash-alt"></div>
    </div>
    <% end %>
</div>
<% if flash[:pop_up] %>
	<div class="fullscreen-blur" onclick="closeModal()">
		<div class="karte">
			<div class="head small">Keine Stats!</div>
			<div class="body">
				<%= flash[:pop_up] %>
				<% if flash[:pop_up2] %>
				<br>
				<%= flash[:pop_up2] %>
				<% end %>
			</div>
			<div class="bottom">
			<button class="btn btn-green">Close</button>
			</div>
		</div>
	</div>
<% end %>
<% if @user %>
<div class="fullscreen-blur" id="deleteUser">
    <div class="karte">
    	<div class="head">Spieler löschen?</div>
    	<div class="body">
    		Bist du sicher das du den Spieler unwiederuflich löschen möchtest?
    	</div>
    	<div class="bottom" style="display: flex;">
    		<%= link_to 'löschen', destroy_user_path(@user), class: 'btn btn-green' %>
    		<button class="btn btn-green" onclick="toggleDeleteUserModal()">Close</button>
    	</div>
	</div>
</div>
<% end %>
<% if @team %>
<div class="fullscreen-blur" id="deleteTeam">
    <div class="karte">
    	<div class="head">Team löschen?</div>
    	<div class="body">
    		Bist du sicher das du das Team unwiederuflich löschen möchtest?
    	</div>
    	<div class="bottom" style="display: flex;">
    		<%= link_to 'löschen', destroy_team_path(@team), class: 'btn btn-green' %>
    		<button class="btn btn-green" onclick="toggleDeleteTeamModal()">Close</button>
    	</div>
	</div>
</div>
<% end %>

<div class="fullscren-blur" id="help-popup">
</div>

<style>
    .user, .newUser {
        display: none !important;
    }
</style>
<script>
	function myColor(val) {
		if (val < 0.5 ) {
			return '#'+(Math.round(255-(val*2))).toString(16)+(Math.round(107+(val*288))).toString(16)+(Math.round(108+(val*180))).toString(16);
		} else {
			return '#'+(Math.round(29+((1-val)*450))).toString(16)+(Math.round(218+((1-val)*66))).toString(16)+(Math.round(175+((1-val)*46))).toString(16);
		}
	}
	function drawCircle(value, circle_id) {
		var bar = new ProgressBar.Circle(circle_id, {
			strokeWidth: 8,
			easing: 'linear',
			duration: 0,
			color: myColor(value),
			svgStyle: null,
		});
		bar.animate(value);
	}
	<% @teams.each do |t| %>
		<% if t.team_rating_criteria.present? && !t.team_rating_criteria.find_by(name: 'ges')&.value.nil? %>
			drawCircle(<%= t.team_rating_criteria.find_by(name: 'ges').value / 100.0 %>, '#team_<%= t.id %>');
		<% end %>
	<% end %>
	<% @users.each do |u| %>
		<% if u.user_rating_criteria.present? && !u.user_rating_criteria.find_by(name: 'ges')&.value.nil? %>
			drawCircle(<%= u.user_rating_criteria.find_by(name: 'ges').value / 100.0 %>, '#user_<%= u.id %>');
		<% end %>
	<% end %>
	function toggleDeleteUserModal() {
		$('#deleteUser').toggle();
	}
	function toggleDeleteTeamModal() {
		$('#deleteTeam').toggle();
	}
	function closeModal() {
		$('.fullscreen-blur').hide();
	}
    new PerfectScrollbar('#teams-table');
    new PerfectScrollbar('#users-table');
    /* Team suchen */
        $('#searchTeams').keyup(function() {
            var $rows = $('.teamname');
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;

        $rows.show().filter(function() {
            text = $(this).children().first().text().replace(/\s+/g, ' ');
            return !reg.test(text);
        }).hide();
        })
    
    /* Nutzer suchen */
        $('#searchUsers').keyup(function() {
            $rows = $('.username');
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;
        $rows.show().filter(function() {
            text = $(this).children().first().text().replace(/\s+/g, ' ');
            return !reg.test(text);
        }).hide();
        })
    
        $('.user-list .search-field').attr('style','border-bottom: 0 !important');
        $('#searchNewTeam').keydown(function(){
            var element_exist = false    
                $(".user").each(function () {
                    if ($(this).css("display") == "block") {
                        element_exist = true
                    }
                });
        });
    /* search newTeam */
        $('#searchNewTeam').keyup(function() {
            let element_exist = false    
            $(".unselected_users .user").each(function () {
                if (($(this).css("display") == "block") || ($(this).css("display") == "flex")) {
                    element_exist = true
                }
            });
            if ((this.value && !element_exist) || (!this.value)) {
                $('.unselected_users .user').attr('style', 'display: none !important');
                $('.user-list .search-field').attr('style','border-bottom: 0 !important');
            }
            $rows = $('.unselected_users .user');
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;
        $rows.show().filter(function() {
            text = $(this).text().replace(/\s+/g, ' ');
            console.log(!reg.test(text))
            if(!(!reg.test(text)) && ($('#searchNewTeam').val() != "")){
                $('.unselected_users .user').attr('style', 'display: flex !important');
                $('#newteam .unselected_user').show();
                $('.user-list .search-field').attr('style','border-bottom: 0.1vh solid #dfe1e5 !important');
            } else if (!reg.test(text) && ($('#searchNewTeam').val() == "")) {
                $('#newteam .unselected_user').hide();
                $('.unselected_users .user').attr('style', 'display: none !important');
                $('.user-list .search-field').attr('style','border-bottom: 0 !important');
            }
            return !reg.test(text);
        }).hide();
        })
    
    /* search EditTeam */
        $('#searchEditTeam').keyup(function() {
            let element_exist = false    
            $(".unselected_users .user").each(function () {
                if (($(this).css("display") == "block") || ($(this).css("display") == "flex")) {
                    element_exist = true
                }
            });
            if ((this.value && !element_exist) || (!this.value)) {
                $('.unselected_users .user').attr('style', 'display: none !important');
                $('.user-list .search-field').attr('style','border-bottom: 0 !important');
            }
            $rows = $('.unselected_users .user');
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;
        $rows.show().filter(function() {
            text = $(this).text().replace(/\s+/g, ' ');
            console.log(!reg.test(text))
            if(!(!reg.test(text)) && ($('#searchEditTeam').val() != "")){
                $('.unselected_users .user').attr('style', 'display: flex !important');
                $('#newteam .unselected_user').show();
                $('.user-list .search-field').attr('style','border-bottom: 0.1vh solid #dfe1e5 !important');
            } else if (!reg.test(text) && ($('#searchEditTeam').val() == "")) {
                $('#newteam .unselected_user').hide();
                $('.unselected_users .user').attr('style', 'display: none !important');
                $('.user-list .search-field').attr('style','border-bottom: 0 !important');
            }
            return !reg.test(text);
        }).hide();
        })
        
        $('.team-list').attr('style','height: 5.5vh !important');
        $('.team-list .search-field').attr('style','border-bottom: 0 !important');
    /* search newUser */
        $('#searchNewUser').keyup(function() {
            let element_exist = false    
            $(".user").each(function () {
                if (($(this).css("display") == "block") || ($(this).css("display") == "flex")) {
                    element_exist = true
                }
            });
            if ((this.value && !element_exist) || !this.value) {
                $('.team-list').attr('style','height: 5.5vh !important');
                $('.newUser').attr('style', 'display: none !important');
                $('.team-list .search-field').attr('style','border-bottom: 0 !important');
            }
            $rows = $('.newUser');
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;
            console.log('test')
            console.log(val)
        $rows.show().filter(function() {
            text = $(this).text().replace(/\s+/g, ' ');
            if(!(!reg.test(text)) && ($('#searchNewUser').val() != "")){
                $('.newUser').attr('style', 'display: flex !important');
                $('.team-list').attr('style','height: 12.9vh !important');
                $('.team-list .search-field').attr('style','border-bottom: 0.1vh solid #dfe1e5 !important');
            } else if (!reg.test(text) && ($('#searchNewUser').val() == "")) {
                $('.team-list').attr('style','height: 5.5vh !important');
                $('.newUser').attr('style', 'display: none !important');
                $('.team-list .search-field').attr('style','border-bottom: 0 !important');
            }
            return !reg.test(text);
        }).hide();
        })
    /* search EditUser */
        $('#searchEditUser').keyup(function() {
            let element_exist = false    
            $(".user").each(function () {
                if (($(this).css("display") == "block") || ($(this).css("display") == "flex")) {
                    element_exist = true
                }
            });
            if ((this.value && !element_exist) || !this.value) {
                $('.team-list').attr('style','height: 5.5vh !important');
                $('.editUser').attr('style', 'display: none !important');
                $('.team-list .search-field').attr('style','border-bottom: 0 !important');
            }
            $rows = $('.editUser');
            var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
            reg = RegExp(val, 'i'),
            text;
        $rows.show().filter(function() {
            text = $(this).text().replace(/\s+/g, ' ');
            if(!(!reg.test(text)) && ($('#searchEditUser').val() != "")){
                $('.editUser').attr('style', 'display: flex !important');
                $('.team-list').attr('style','height: 12.9vh !important');
                $('.team-list .search-field').attr('style','border-bottom: 0.1vh solid #dfe1e5 !important');
            } else if (!reg.test(text) && ($('#searchEditUser').val() == "")) {
                $('.team-list').attr('style','height: 5.5vh !important');
                $('.editUser').attr('style', 'display: none !important');
                $('.team-list .search-field').attr('style','border-bottom: 0 !important');
            }
            return !reg.test(text);
        }).hide();
        })
    
    function moveUserNew(e) {
		var selected = document.querySelector('#newteam .selected_users');
		var unselected = document.querySelector('#newteam .unselected_users');
		var id = e.getAttribute('for');
		var checkbox = document.getElementById(id);
		if(checkbox.checked) {
			e.querySelector('.fas').className = "fas fa-plus-circle";
			unselected.appendChild(e);
		} else {
			e.querySelector('.fas').className = "fas fa-minus-circle";
			selected.appendChild(e);
		}
	}
	function moveUserEdit(e) {
		var selected = document.querySelector('#editteam .selected_users');
		var unselected = document.querySelector('#editteam .unselected_users');
		var id = e.getAttribute('for');
		var checkbox = document.getElementById(id);
		if(checkbox.checked) {
			e.querySelector('.fas').className = "fas fa-plus-circle";
			unselected.appendChild(e);
		} else {
			e.querySelector('.fas').className = "fas fa-minus-circle";
			selected.appendChild(e);
		}
	}
    function moveNewTeam(e) {
        var selected = document.getElementById('selected_new_teams');
        var unselected = document.getElementById('unselected_new_teams');
        var id = e.getAttribute('for');
        var checkbox = document.getElementById(id)
        if(checkbox.checked) {
            e.className += ' newUser';
            unselected.appendChild(e);
        } else {
            e.className = 'team';
            selected.appendChild(e);
        }
        
    }
    function moveEditTeam(e) {
        var selected = document.getElementById('selected_edit_teams');
        var unselected = document.getElementById('unselected_edit_teams');
        var id = e.getAttribute('for');
        var checkbox = document.getElementById(id)
        if(checkbox.checked) {
            e.className += ' editUser';
            unselected.appendChild(e);
        } else {
            e.className = 'team';
            selected.appendChild(e);
        }
        
    }
    flash();
    getUrl();
    function getUrl() {
        var url = window.location.href;
        if (url.indexOf("?") != -1) {
            var arguments = url.split('?')[1].split('=');
            arguments.shift();
            if (arguments == 'edit') {
                showEditteam()
            }
        }
    }
    function flash() {
        if ($('.alert-team_name')[0] || $('.alert-team_danger')[0]){showNewteam();}
        if ($('.alert-newUser')[0]){showNewUser();}
    }
    function unselectTeams() {
        <% if !current_page?(dash_admin_teams_path) %>
        location.replace("<%= dash_admin_teams_path %>");
        <% end %>
    }
    function selectTeam(team_id) {
        <% if current_page?(dash_admin_teams_path) %>
        location.replace('teams/'+team_id);
        <% else %>
        location.replace(team_id);
        <% end %>
    }
    function showNewUser() {
        <% if @user %>$('#editUser').hide();<% end %>
        $('#users').hide();
        $('#newUser').show();
        $('.users .searchbar').hide();
    }
    function hideNewUser() {
        $('#newUser').hide();
        $('#users').show();
        <% if !@user %>$('.users .searchbar').show();<% end %>
        <% if @user %>$('#editUser').show();<% end %>
    }
    function showNewteam() {
        $('#teams').hide();
        $('#newteam').show();
        $('.teams .searchbar').hide();
    }
    function hideNewteam() {
        $('#teams').show();
        $('#newteam').hide();
        $('.teams .searchbar').show();
    }
    function showEditteam() {
        $('#teams').hide();
        $('#editteam').show();
        $('.teams .searchbar').hide();
    }
    function hideEditteam() {
        $('#teams').show();
        $('#editteam').hide();
        $('.teams .searchbar').show();
    }
</script>