<section id="gd_team">
    <input type="text" id="searchField" placeholder="suchen" onfocus='team_hide()' onblur="team_show()">
    <%= image_tag 'dash/search.png' %>
</section>

<section id="teams-container">
    <div class="add_team">
       <a href="" data-toggle="modal" data-target="#new_team"></a>
        <div class="head">
            Team
        </div>
        <div class="middle">
            +
        </div>
        <div class="bottom">
            hinzufügen
        </div>
    </div>
    <% @teams.each do |t| %>
    <div class="team_card">
       <%= link_to '', dash_admin_team_users_path(t.id) %>
        <div class="head">
            <%= t.name %>
        </div>
        <div class="middle">
            <span><%= t.users.count %></span> User
        </div>
        <div class="bottom">
            <%= link_to '', dash_admin_team_stats_path(t.id), class: 'fas fa-chart-line' , id:"users_stats"  %>   
            <%= link_to '', destroy_team_path(t.id), class: 'fas fa-trash-alt', data: { confirm: "Sind Sie sicher, dass Sie das Team unwiederuflich löschen möchten?" }%>
        </div>
    </div>
    <% end %>
    <%= content_for :modal do %>
    <div class="modal pop_up modal-teams" id="pop_up" style='position: relative;' tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <h1>Select your Plan first in order to see users statistics <br> <%= link_to "Select Package", dash_admin_price_path, class: "btn btn-default" %> </h1>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    <% end %>
</section>




<script>

$(document).ready( function () {
   // document.getElementById("pop_up").style.display = "none";
} );
var $rows = $('.team_card');
$('#searchField').keyup(function() {
    
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;
    
    $rows.show().filter(function() {
        text = $(this).text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
team_show = function() {
    $('.add_team').show();
}
team_hide = function() {
    $('.add_team').hide();
}
new PerfectScrollbar('#teams-container');


// window.onload = setTimeout(function(){
//     alert('This is an alert');
//     window.location = 'http://www.example.com';
// }, 5000);

var id = "<%= @admin.admin_subscription_id %>";
$(document).ready(function(){
    $("#users_stats").click(function(e) {
        e.preventDefault()
        var $this = $(this),
            $href = $(this).attr("href");
        if(id == ""){
            $('#pop_up').modal({backdrop: 'static', keyboard: false});
        }else{
            window.location.href = $href;
        }
       
    });
})

</script>
