<section id="dash_stats" class="dash_stats-head dash-stats-set">
    
     <div class="head">
         <%= render partial: 'select_team_user_dropdown', locals: {users: @users, teams: @teams, user: @user,team: @team, teams_page: true} %>
    </div>
    
    <div class="stats_overview">
        <div class="gesamt active">
            <button class="circle" id="chart_gesamt"><span><%= @rating.ges.nil? ? 0 : @rating.ges / 10.0 %></span></button>
            <div class="text" id="t_gesamt">Gesamt</div>
        </div>
        
        <div class="spontan">
            <button class="circle" id="chart_spontan"><%= @rating.spontan.nil? ? 0 : @rating.spontan/10.0 %></button>
            <div class="text" id="t_spontan">Spontanität</div>
        </div>
        
        <div class="kreativ">
            <button class="circle" id="chart_kreativ"><%= @rating.creative.nil? ? 0 : @rating.creative/10.0 %></button>
            <div class="text" id="t_kreativ">Kreativität</div>
        </div>
        
        <div class="body">
            <button class="circle" id="chart_body"><%= @rating.body.nil? ? 0 : @rating.body/10.0 %></button>
            <div class="text" id='t_body'>Körpersprache</div>
        </div>
        
        <div class="rhetorik">
            <button class="circle" id="chart_rhetorik"><%= @rating.rhetoric.nil? ? 0 : @rating.rhetoric/10.0 %></button>
            <div class="text" id="t_rhetorik">Rhetorik</div>
        </div>
        
        <ul class="places-ratings">
          <% @result.first(3).each.with_index(1) do |v ,i| %>
               <% if v.present? %>
                   <li class="<%= 'current' if v[:user].id == current_admin.id %>">  
                       <% if v[:user].id == current_admin.id or i.to_s == "2" %>
                           <%= image_tag "current.png", id: "open-team-scores", style: 'cursor: pointer;'%>
                       <% end %>
                       <div class="rating-c"><%= i %>. <%= v[:user].fname%></div>
                       <div class="rating-d"><%= number_with_precision(v[:rating][:average] / 10, precision: 1)  %></div>
                   </li>
               <% end %>
          <% end %> 
       </ul>       
    
    <div class="compare">
            
        <select class="cs-select cs-skin-underline form-field">
            <% if @team2 %>
            <option value="" disabled selected><%= @team2.name %></option>
            <% else %>
            <option value="" disabled selected>Vergleiche mit</option>
            <% end %>
            <% @teams.each do |t| %>
                    <% if @team2 && t.id == @team2.id %>
                        <option value="<%= t.id %>" data-link="<%= dash_admin_compare_team_stats_path(@team.id, @team2.id) %>" data-class="cs-selected"><%= t.name %></option>
                    <% elsif @team.id != t.id %>
                    <option value="<%= t.id %>" data-link="<%= dash_admin_compare_team_stats_path(@team.id, t.id) %>">
                         <%= t.name %>
                    </option>
                    <% end %>
            <% end %>
        </select>
        
    </div>
    <div class="video-content">
            <h5><%= @team.name.to_s + "'s"%> Aufnahmen</h5>
            <a href="/admins/dash/video_tool">Alle sehen</a>
            <% count = 0 %>
            <% @reviewed_videos.each do |video| %>
                <% if video.turn_rating.present? %>
                    <a href="<%= "/admins/dash/stats/turns/#{video.turn_rating.id}"%>">
                        <div class="overview-block overview-block-n">
                            <div class="overviewBlock-video">
                                <img src="<%= video.recorded_pitch.thumb.url %>"/>
                                <span class="overview-video-play"></span>
                                <span class="overview-video-rating ov-span"><%= number_with_precision(video.turn_rating.slice("creative", "body","rhetoric", "spontan").values.map(&:to_f).inject(:+) / 40, precision: 1) if video.turn_rating.present?%></span>
                                <span class="overview-video-time ov-span"><%= video.recorded_pitch_duration.to_minutes if video.recorded_pitch_duration.present? %> </span>
                            </div>
                        </div>
                    </a>
                    <% count+=1%>
                <% end %>
                <% break if count == 2 %>
            <% end %>
        </div>
    </div>
    <div class="stats_chart">
        <div class="stats_chart-cont">
            <div class="chart-container">
                <canvas id="Chart"></canvas>
            </div>
        </div>
    </div>
</section>

<%= render partial: 'statistics_table', locals: {result: @result} %>

<% content_for(:body_attributes) do %>
    data-turbolinks="false"
<% end %>

<script>
function myColor(div) {
    if(div == 'chart_gesamt') {
        var val = <%= number_with_precision(@rating.ges.to_f / 100.0, precision:1) %>;
    } else if(div == 'chart_spontan') {
        var val = <%= number_with_precision(@rating.spontan.to_f / 100.0, precision:1) %>;
    } else if(div == 'chart_kreativ') {
        var val = <%= number_with_precision(@rating.creative.to_f / 100.0, precision:1) %>;
    } else if(div == 'chart_body') {
        var val = <%= number_with_precision(@rating.body.to_f / 100.0, precision:1) %>;
    } else if(div == 'chart_rhetorik') {
        var val = <%= number_with_precision(@rating.rhetoric.to_f / 100.0, precision:1) %>;
    }
    if (val < 0.5 ) {
        document.getElementById(div).style.borderColor = '#'+(Math.round(255-(val*2))).toString(16)+(Math.round(107+(val*288))).toString(16)+(Math.round(108+(val*180))).toString(16);
    } else {
        document.getElementById(div).style.borderColor = '#'+(Math.round(29+((1-val)*450))).toString(16)+(Math.round(218+((1-val)*66))).toString(16)+(Math.round(175+((1-val)*46))).toString(16);
    }
}
myColor('chart_gesamt');
myColor('chart_spontan');
myColor('chart_kreativ');
myColor('chart_body');
myColor('chart_rhetorik');
(function() {
[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach(
    function(el) {	
	   new SelectFx(el);
       newTab: false;
    } );
})();
$("#open-team-scores").on("click", function(){
    $('#new_team_pop').modal("show");

})
function closeTeamPop(){
    $('#new_team_pop').modal("hide");

}
var ctx = document.getElementById("Chart");
var datapoints = [0, NaN, NaN, NaN, NaN, NaN, NaN ];
var datapoints2 = [0, NaN, NaN, NaN, NaN, NaN, NaN ];
var label = [0, NaN, NaN, NaN, NaN, NaN, NaN];
var i = 1;
<% @gameratings.each do |g| %>
    datapoints[i] = <%= g.ges.nil? ? 0 : g.ges/10.0 %> ;
    label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
    i++;
<% end %>
<% if @gameratings2 %>
  i = 1;
  <% @gameratings2.each do |g| %>
    datapoints2[i] = <%= g.ges.nil? ? 0 : g.ges/10.0 %>;
    i++;
  <% end %>
<% end %>
var team1 = '<%= @team.name %>'
<% if @team2 %>
var team2 = '<%= @team2.name %>'
<% end %>
var gesamtChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: label,
        datasets: [{
            label: team1,
            data: datapoints,
            fill:false,
            borderColor:"rgba(255,255,255,1.0)",
            borderWidth: 5,
            pointBorderColor:"rgba(255,255,255,1.0)",
            pointBackgroundColor:"rgba(255,255,255,1.0)",
            pointHoverBackgroundColor:"rgba(255,255,255,1.0)",
            pointHoverBorderColor:"rgba(255,255,255,1.0)",
            pointBorderWidth: 5,
            pointRadius: 5,
            pointHoverRadius: 8,
            lineTension:0,
        }<% if @team2 %>
        ,{
            label: team2,
            data: datapoints2,
            fill: false,
            borderColor:"rgba(255,255,255,0.5)",
            borderWidth: 5,
            pointBorderColor:"rgba(255,255,255,0.5)",
            pointBackgroundColor:"rgba(255,255,255,0.5)",
            pointHoverBackgroundColor:"rgba(255,255,255,0.5)",
            pointHoverBorderColor:"rgba(255,255,255,0.5)",
            pointBorderWidth: 5,
            pointRadius: 5,
            pointHoverRadius: 8,
            lineTension:0,
        }<% end %>]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
        },
        title: {
            display: false,
        },
        tooltips: {
            mode: 'index'
        },
        scales: {
            yAxes: [{
                gridLines: {
                    display: true,
                    color:"rgba(255,255,255,1.0)",
                    lineWidth: 0.2,
                    zeroLineColor: "rgba(255,255,255,0)",
                },
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 10,
                    stepSize: 1,
                    fontColor:"rgba(255,255,255,1.0)",
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                    color:"rgba(255,255,255,1.0)",
                    lineWidth: 0.2,
                },
                ticks: {
                    fontColor:"rgba(255,255,255,1.0)",
                }
            }],
        },
    }
});
$( ".modal" ).on('shown', function(){
    alert("I want this to appear after the modal has opened!");
});
document.getElementById('chart_gesamt').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.gesamt').addClass('active');
    var i = 1;
    <% @gameratings.each do |g| %>
        datapoints[i] = <%= g.ges.nil? ? 0 : g.ges/10.0 %>;
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    <% if @gameratings2 %>
        i = 1;
        <% @gameratings2.each do |g| %>
            datapoints2[i] = <%= g.ges.nil? ? 0 : g.ges/10.0 %>;
            i++;
        <% end %>
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_spontan').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.spontan').addClass('active');
    var i = 1;
    <% @gameratings.each do |g| %>
        datapoints[i] = <%= g.spontan.nil? ? 0 : g.spontan/10.0 %>;
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    <% if @gameratings2 %>
        i = 1;
        <% @gameratings2.each do |g| %>
            datapoints2[i] = <%= g.spontan.nil? ? 0 : g.spontan/10.0 %>;
            i++;
        <% end %>
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_kreativ').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.kreativ').addClass('active');
    var i = 1;
    <% @gameratings.each do |g| %>
        datapoints[i] = <%= g.creative.nil? ? 0 : g.creative/10.0 %>;
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    <% if @gameratings2 %>
        i = 1;
        <% @gameratings2.each do |g| %>
            datapoints2[i] = <%= g.creative.nil? ? 0 : g.creative/10.0 %>;
            i++;
        <% end %>
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_body').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.body').addClass('active');
    var i = 1;
    <% @gameratings.each do |g| %>
        datapoints[i] = <%= g.body.nil? ? 0 : g.body/10.0 %>;
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    <% if @gameratings2 %>
        i = 1;
        <% @gameratings2.each do |g| %>
            datapoints2[i] = <%= g.body.nil? ? 0 : g.body/10.0 %>;
            i++;
        <% end %>
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_rhetorik').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.rhetorik').addClass('active');
    var i = 1;
    <% @gameratings.each do |g| %>
        datapoints[i] = <%= g.rhetoric.nil? ? 0 : g.rhetoric/10.0 %>;
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    <% if @gameratings2 %>
        i = 1;
        <% @gameratings2.each do |g| %>
            datapoints2[i] = <%= g.rhetoric.nil? ? 0 : g.rhetoric/10.0 %>;
            i++;
        <% end %>
    <% end %>
    window.gesamtChart.update();
});

 

<%if current_admin.admin_subscription_id.nil? %>
$(document).ready(function(){

  setTimeout(function(){
      $('#pop_up').modal({backdrop: 'static', keyboard: false});
  }, 3000);
});
<% end %>
</script>