<div class="scrollable-content" id="scrollbar" onclick="teamSelectHide()">
<div class="heading">
    <%= @team.name + "'s Ratings" %>
    <div class="select-team custom-select" onclick="teamSelect()">Alle Teams
        <div class="teams" id="scrollTeams" >
            <% @teams.each do |t| %>
                <% if t.team_rating %>
                    <div class="team" onmouseover="teamSelectUser(this)" onmouseout="teamSelectUserHide(this)"><%= link_to t.name, dash_admin_team_stats_path(t.id) %> <i class="fas fa-caret-left"></i>
                        <div class="users" id="scrollUsers">
                            <% t.users.each do |u| %>
                                <% if u.user_rating %>
                                    <div class="user"><%= link_to (u.fname.present? ? u.fname : "") + ' ' + (u.lname.present? ? u.lname : ""), dash_admin_user_stats_path(u.id) %></div>
                                <% end %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            <% end %>  
        </div>
    </div>
</div>


<div class="rating-overview">
    <div class="karte active" onclick="ratingGes()" id="gesamt">
        <div class="icon-circle">
            <i class="fas fa-star"></i>
        </div>
        <div class="rating">
            <%= @team_rating.ges.present? ? ((@team_rating.ges / 10.0 == 10.0) ? '10' : (@team_rating.ges / 10.0)) : '' %>
        </div>
        <!-- <% ges = @team_rating.ges.present? ? @team_rating.ges : 0 %>
        <div>
            <div class="inner-content text-center" style="margin: 0.8vh auto 0;">
                <div class="c100 p<%= ges %> center" style="background-color: #4394ec; font-size: 11vh;">
                    <span><%= @team_rating.ges.present? ? ((@team_rating.ges / 10.0 == 10.0) ? '10' : (@team_rating.ges / 10.0)) : '0.0' %></span>
                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                </div>
            </div>
        </div> -->
        
        <label>Gesamt</label>
        <% if @team_rating.change_ges.present? %>
        <% if @team_rating.change_ges > 0 %>
            <div class="change up">
                <i class="fas fa-caret-up"></i>
                <%= (@team_rating.change_ges / 10.0).round(1) %>
            </div>
        <% elsif @team_rating.change_ges < 0 %>
            <div class="change down">
                <i class="fas fa-caret-down"></i>
                <%= (@team_rating.change_ges / 10.0).round(1) %>
            </div>
        <% else %>
            <div class="change equal">
                <i class="fas fa-equals"></i>
                <%= (@team_rating.change_ges / 10.0).round(1) %>
            </div>
        <% end %>
        <% end %>
    </div>
    
    <div class="karte" onclick="ratingSpontan()" id="spontan">
        <div class="icon-circle">
            <i class="fas fa-bolt"></i>
        </div>
        <div class="rating">
            <%= @team_rating.spontan.present? ? ((@team_rating.spontan / 10.0 == 10.0) ? '10' : (@team_rating.spontan / 10.0)) : '' %>
        </div>
        <!-- <% spontan = @team_rating.spontan.present? ? @team_rating.spontan : 0 %>
        <div>
            <div class="inner-content text-center" style="margin: 0.8vh auto 0;">
                <div class="c100 p<%= spontan %> center" style="background-color: white; font-size: 11vh;">
                    <span><%= @team_rating.spontan.present? ? ((@team_rating.spontan / 10.0 == 10.0) ? '10' : (@team_rating.spontan / 10.0)) : '' %></span>
                    <div class="slice"><div class="bar"></div><div class="fill"></div></div>
                </div>
            </div>
        </div> -->
        <label>Spontanität</label>
        <% if @team_rating.change_spontan.present? %>
        <% if @team_rating.change_spontan > 0 %>
            <div class="change up">
                <i class="fas fa-caret-up"></i>
                <%= (@team_rating.change_spontan / 10.0).round(1) %>
            </div>
        <% elsif @team_rating.change_spontan < 0 %>
            <div class="change down">
                <i class="fas fa-caret-down"></i>
                <%= (@team_rating.change_spontan / 10.0).round(1) %>
            </div>
        <% else %>
            <div class="change equal">
                <i class="fas fa-equals"></i>
                <%= (@team_rating.change_spontan / 10.0).round(1) %>
            </div>
        <% end %>
        <% end %>
    </div>
    
    <div class="karte" onclick="ratingCreative()" id="creative">
        <div class="icon-circle">
            <%= image_tag 'dash/icons/creative.png' %>
        </div>
        <div class="rating">
            <%= @team_rating.creative.present? ? ((@team_rating.creative / 10.0 == 10.0) ? '10' : (@team_rating.creative / 10.0)) : '' %>
        </div>
        <label>Kreativität</label>
        <% if @team_rating.change_creative.present? %>
        <% if @team_rating.change_creative > 0 %>
            <div class="change up">
                <i class="fas fa-caret-up"></i>
                <%= (@team_rating.change_creative / 10.0).round(1) %>
            </div>
        <% elsif @team_rating.change_creative < 0 %>
            <div class="change down">
                <i class="fas fa-caret-down"></i>
                <%= (@team_rating.change_creative / 10.0).round(1) %>
            </div>
        <% else %>
            <div class="change equal">
                <i class="fas fa-equals"></i>
                <%= (@team_rating.change_creative / 10.0).round(1) %>
            </div>
        <% end %>
        <% end %>
    </div>
    
    <div class="karte" onclick="ratingBody()" id="body">
        <div class="icon-circle">
            <i class="fas fa-child"></i>
        </div>
        <div class="rating">
            <%= @team_rating.body.present? ? ((@team_rating.body / 10.0 == 10.0) ? '10' : (@team_rating.body / 10.0)) : '' %>
        </div>
        <label>Körpersprache</label>
        <% if @team_rating.change_body.present? %>
        <% if @team_rating.change_body > 0 %>
            <div class="change up">
                <i class="fas fa-caret-up"></i>
                <%= (@team_rating.change_body / 10.0).round(1) %>
            </div>
        <% elsif @team_rating.change_body < 0 %>
            <div class="change down">
                <i class="fas fa-caret-down"></i>
                <%= (@team_rating.change_body / 10.0).round(1) %>
            </div>
        <% else %>
            <div class="change equal">
                <i class="fas fa-equals"></i>
                <%= (@team_rating.change_body / 10.0).round(1) %>
            </div>
        <% end %>
        <% end %>
    </div>
    
    <div class="karte" onclick="ratingRhet()" id="rhetoric">
        <div class="icon-circle">
            <%= image_tag 'dash/icons/megaphone.png' %>
        </div>
        <div class="rating">
            <%= @team_rating.rhetoric.present? ? ((@team_rating.rhetoric / 10.0 == '10.0') ? '10' : (@team_rating.rhetoric / 10.0)) : '' %>
        </div>
        <label>Rhetorik</label>
        <% if @team_rating.change_rhetoric.present? %>
        <% if @team_rating.change_rhetoric > 0 %>
            <div class="change up">
                <i class="fas fa-caret-up"></i>
                <%= (@team_rating.change_rhetoric / 10.0).round(1) %>
            </div>
        <% elsif @team_rating.change_rhetoric < 0 %>
            <div class="change down">
                <i class="fas fa-caret-down"></i>
                <%= (@team_rating.change_rhetoric / 10.0).round(1) %>
            </div>
        <% else %>
            <div class="change equal">
                <i class="fas fa-equals"></i>
                <%= (@team_rating.change_rhetoric / 10.0).round(1) %>
            </div>
        <% end %>
        <% end %>
    </div>
</div>

<div class="heading">Statistics</div>

<div class="stats-overview">
    <div class="karte">
        <label>Activity Days</label>
        <div class="number"><%= @days %></div>
    </div>
    <div class="karte">
        <label>Pitches</label>
        <div class="number"><%= @games.count %></div>
    </div>
    <!-- <div class="karte">
        <label>% of victories</label>
        <div class="number">?</div>
    </div> -->
    <div class="karte">
        <label for="">Best rating</label>
        <div class="number green"><%= (@game_ratings.reorder('ges DESC').first.ges.present? ? (@game_ratings.reorder('ges DESC').first.ges / 10.0) : 0.0) %></div>
    </div>
    <div class="karte">
        <label for="">Worst rating</label>
        <div class="number red"><%= (@game_ratings.reorder('ges ASC').first.ges.present? ?  (@game_ratings.reorder('ges ASC').first.ges / 10.0) : 0.0) %></div>
    </div>
</div>

<div class="karte" id="statistic">
    <div class="head left">Details</div>
    <div class="chart">
        <canvas id="myChart" width="814px" height="280px"></canvas>
    </div>
    <div class="divider"></div>
    <div class="right">
        <div class="karte bestlist small">
            <div class="table">
                <div class="table-line">
                    <div class="name">
                       1.<%=  @user_ratings.first[:fname] %>
                    </div>
                    <div class="points">
                       <%=  @user_ratings.first[:rating] / 10.0 %>
                    </div>
                </div>
                <% if @user_ratings.length > 1 %>
                <div class="table-line">
                    <div class="name">
                        2.<%=  @user_ratings.second[:fname] %>
                    </div>
                    <div class="points">
                        <%=  @user_ratings.second[:rating] / 10.0 %>
                    </div>
                </div>
                <% if @user_ratings.length > 2 %>
                <div class="table-line">
                    <div class="name">
                        3.<%=  @user_ratings.third[:fname] %>
                    </div>
                    <div class="points">
                        <%= @user_ratings.third[:rating] / 10.0 %>
                    </div>
                </div>
                <% else %>
                <div class="table-line">
                    <div class="name">
                    </div>
                    <div class="points">
                    </div>
                </div>
                <% end %>
                <% else %>
                <div class="table-line">
                    <div class="name">
                    </div>
                    <div class="points">
                    </div>
                </div>
                <% end %>
            </div>
            <%= image_tag 'current.png', class: 'rating-record' %>
        </div>
    </div>
</div>
</div>
















<!-- Modal start -->


<!-- Modal -->
<div id="myModal" class="modal status-modal fade" role="dialog">
    <div class="inner">
        <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="table_wrapper">
        <div class="modal-header" style="border: 0">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align: center">Team Vertrieb</h4>
        </div>
        <div class="modal-body">
                <div style="width: 100%">
                <table style="width: 100%">
                    <thead>
                        <tr>
                            <th style="padding: 10px;text-align: left; border-bottom: 1px solid #dfe1e5; width: 5%;"></th>
                            <th style="padding: 10px;text-align: left; border-bottom: 1px solid #dfe1e5; width: 30%;">Name</th>
                            <th style="padding: 10px;text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 10%;">Ges</th>
                            <th style="padding: 10px;text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 10%;">Spon</th>
                            <th style="padding: 10px;text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 10%;">Korp</th>
                            <th style="padding: 10px;text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 10%;">Krea</th>
                            <th style="padding: 10px;text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 10%;">Rhet</th>
                            <th style="text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 5%;"><img src="<%= root_url %>/assets/dash/icons/gold.png", style="width: 20px"></th>
                            <th style="text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 5%;"><img src="<%= root_url %>/silver.png", style="width: 20px"></th>
                            <th style="text-align: left; border-bottom: 1px solid #dfe1e5; max-width: 5%;"><img src="<%= root_url %>/bronze.png", style="width: 20px"></th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td style="padding: 0 10px;width: 5%;"></td>
                                <td style="padding: 0 10px;width: 30%;"></td>
                                <td style="padding: 0 10px;width: 10%;"></td>
                                <td style="padding: 0 10px;width: 10%;"></td>
                                <td style="padding: 0 10px;width: 10%;"></td>
                                <td style="padding: 0 10px;width: 10%;"></td>
                                <td style="padding: 0 10px;width: 10%;"></td>
                                <td style="padding: 0 10px;width: 5%;"></td>
                                <td style="padding: 0 10px;width: 5%;"></td>
                                <td style="padding: 0 10px;width: 5%;"></td>
                            </tr>
                        </tbody>
                </table>
                </div>
                <div id="team-users" class="table-scroll table-scroll-live">
                <table style="width: 100%">
                    <tbody>
                        <% @team_users.each.with_index(1) do |user,i| %>
                        <tr>
                            <td style="padding: 10px; text-align: left; width: 5%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= i %>.</td>
                            <td style="padding: 10px; text-align: left; width: 30%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= "#{user[:fname]} #{user[:lname]}" %></td>
                            <td style="padding: 10px; text-align: left; width: 10%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><div class="rating"><%= ((number_with_precision user[:ges] / 10, precision: 1) == "10.0") ? 10 : (number_with_precision user[:ges] / 10, precision: 1) %></div></td>
                            <td style="padding: 10px; text-align: left; width: 10%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= number_with_precision user[:spon] / 10, precision: 1 %></td>
                            <td style="padding: 10px; text-align: left; width: 10%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= number_with_precision user[:rhetoric] / 10, precision: 1 %></td>
                            <td style="padding: 10px; text-align: left; width: 10%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= number_with_precision user[:creative] / 10, precision: 1 %></td>
                            <td style="padding: 10px; text-align: left; width: 10%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= number_with_precision user[:body] / 10, precision: 1 %></td>
                            <td style="padding: 10px; text-align: left; width: 5%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= user[:gold] %></td>
                            <td style="padding: 10px; text-align: left; width: 5%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= user[:silver] %></td>
                            <td style="padding: 10px; text-align: left; width: 5%; <%= i == 1 ? 'border-top: 0' : 'border-top: 1px solid #dfe1e5;' %>"><%= user[:bronze] %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <!-- <div class="download-btn">
                <button class="btn btn-green" data-href="/admin/dash/teams/<%= @team.id %>/generate_img_from_html" onclick="downloadImage()">Download</button>
            </div> -->
        </div>
        </div>
    </div>
  </div>
  <div class="download-btn">
        <button class="btn btn-green" data-href="/admin/dash/teams/<%= @team.id %>/generate_img_from_html" onclick="downloadImage()">Download</button>
    </div>
</div>

<div>
<a href=""  id="a_download" style="display: none;" download></a>
</div>


<style>

    .trophy-img {
        width: 20px;
    }

    #table_wrapper .modal-body {
        padding-bottom: 9vh;
    }
    .modal-backdrop.show {
        opacity: .7;
    }
    .modal-backdrop {
        display: none;
    }
    .status-modal {
        background-color: rgba(244, 250, 255, 0.7);
        left: 25.6vh;
        width: auto;
        right: 0;
    }
    .status-modal .inner {
        display: flex;
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .status-modal .close {
        position: absolute;
        right: 2vh;
        top: 1vh;
        font-size: 3vh;
        font-weight: 300;
        opacity: 0.4;
    }
    .status-modal .modal-title {
        text-align: center;
        width: 100%;
        font-size: 2.8vh;
    }
    .status-modal .modal-header {
        border: 0;
    }
    .status-modal .modal-dialog {
        z-index: 555;
    }
    .status-modal .modal-content {
        border: 0;
        border-radius: 1vh;
        box-shadow: 0px 0.6vh 2.2vh 0 rgba(172, 172, 172, 0.1);
    }
    .status-modal .modal-dialog {
        max-width: 100vh;
        width: 100%;
        margin: 0 auto;
    }
    .status-modal table {
        width: 100%;
        width: 2000px;
        font-size: 1.8vh;
    }
    .status-modal table th {
        color: #4e4e4e;
        font-size: 1.8vh;
        font-weight: 300;
        padding: 1vh;
    }
    .status-modal table th img {
        width: 2vh;
    }
    .status-modal table td,
    .status-modal table th {
        width: 10%;
    }
    .status-modal table td {
        padding: 1.1vh 2vh;
        border-top: 0.2vh solid #dfe1e5;
    }
    .status-modal table td:nth-child(2) {
        padding-left: 1vh;
    }
    .status-modal table td:first-child,
    .status-modal table th:first-child {
        width: 4vh;
        width: 5%;
        padding-left: 0;
        padding-right: 0;
    }
    .status-modal table td:nth-child(8),
    .status-modal table th:nth-child(8),
    .status-modal table td:nth-child(9),
    .status-modal table th:nth-child(9),
    .status-modal table td:nth-child(10),
    .status-modal table th:nth-child(10) {
        width: 4vh;
        width: 5%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    .status-modal table td:nth-child(2),
    .status-modal table th:nth-child(2) {
        width: 25vh;
        width: 30%;
        word-break: break-word;
    }
    .status-modal table td:nth-child(3) {
        padding-left: 1vh;
    }
    .download-btn {
        /* text-align: center;
        margin: 1vh 0;
        text-align: center;
        margin-top: 20px; */
        position: absolute;
        bottom: 24vh;
        width: 100%;
        justify-content: center;
        text-align: center;
        z-index: 555555555;
    }
    .download-btn .btn-green {
        width: 20vh;
    }
    .table-responsive {
        max-height: 31vh;
    }

    .table-scroll .rating {
        width: 4vh;
        height: 4vh;
        border: 0.26vh solid #a8c916;
        color: #a8c916;
        border-radius: 50%;
        text-align: center;
        font-size: 1.8vh;
        line-height: 3.8vh;
    }

    .rating-record {
        cursor: pointer;
        position: absolute;
        right: -6.5vh;
        top: 3vh;
        width: 4vh;
        height: 4vh;
    }

    .table-scroll {
        height: 31vh;
        position: relative;
    }


</style>

<!-- Modal end -->




<script>
    
// $('.progressWrapper progress').each(function(){
//       var prgsVal = $(this).data('value');
//       var maxN = $(this).attr('max');
//       var pop = prgsVal/maxN * 100
      
//       $(this).prev().css('left', pop + '%').text(prgsVal);
//       $(this).val(prgsVal);
//     });

    new PerfectScrollbar('#team-users');
    $(".rating-record").on('click',function(){
        $('#myModal').modal('show');
    });

    function downloadImage(){
        var $href =  $('.btn-green').attr('data-href');
        $.ajax({
            url: $href,
            type: 'post',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: {html: $("#table_wrapper").html()},
            success: function(res){
                $("#a_download").attr("href", JSON.parse(res).url)
                document.getElementById("a_download").click()
            }

        })
    }
    $("#download").on("click", function(e){
        e.preventDefault()
        var $href =  $(this).attr("href");
        $.ajax({
            url: $href,
            type: 'post',
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: {html: $("#table_wrapper").html()},
            success: function(res){
                $("#a_download").attr("href", JSON.parse(res).url)
                document.getElementById("a_download").click()
            }

        })
    })


    console.log('<%= @chartdata.count %>')
    new PerfectScrollbar('#scrollbar');
function teamSelect() {
    setTimeout(function() {
        $('.heading .select-team .teams').show();
    }, 100);
}
function teamSelectHide() {
    $('.heading .select-team .teams').hide();
}
function teamSelectUser(elem) {
    $(elem).children().show();
}
function teamSelectUserHide(elem) {
    $(elem).find('.users').hide();
}
var ctx = document.getElementById("myChart");
var datapoints = [NaN, NaN, NaN, NaN, NaN, NaN ];
var datapoints2 = [NaN, NaN, NaN, NaN, NaN, NaN ];
var label = [NaN, NaN, NaN, NaN, NaN, NaN];
var i = 0;
var team = '<%= '' + @team.name %>';
<% @chartdata.first(6).each do |cd| %>
    var json_data = <%= cd.to_json.html_safe %>;
    label[i] = "<%= cd[:date].to_s %>";
    datapoints[i] = {value: <%= (cd[:ges].present? ? cd[:ges] : 0) / 10.0 %>, data: json_data};
    i++;
<% end %>
var data1 = [];
i = 0;
datapoints.forEach(function(el){
    if(el.value == undefined){
        data1[i] = el
    }else{
        data1[i] = el.value
    }
    i++;        
})
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: label,
        datasets: [{
            label: team,
            data: data1,
            fill: false,
            lineTension:0,
            spanGaps: true,
            borderWidth: 3,
            borderColor: "rgba(67, 148, 236, 1)",
            pointBackgroundColor: "#4394ec",
            pointBorderColor: "#fafafa",
            pointBorderWidth: 3,
            pointRadius: 9,
            hoverRadius: 9,
            datapoints: datapoints,
            extra: datapoints
        }],
    },
    options: {
        layout: {
            padding: {
                top: 25,
                left: 25,
            }
        },
        legend: {
            display: false,
        },
        title: {
            display: false,
        },
        scales: {
            yAxes: [{
                gridLines: {
                    display: true,
                    color:"rgba(94, 94, 94, 0.15)",
                    lineWidth: 0.2,
                    zeroLineColor: "rgba(94, 94, 94, 0.15)",
                },
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 10,
                    stepSize: 1,
                    fontColor:"rgba(0,0,0,1.0)",
                    fontSize: 14,
                    fontFamily: 'Nunito',
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                    color:"rgba(255,255,255,1.0)",
                    lineWidth: 0.2,
                    zeroLineBorderDashOffset: 1.0,
                },
                ticks: {
                    fontColor:"rgba(0,0,0,1.0)",
                    fontSize: 14,
                    fontFamily: 'Nunito',
                }
            }],
        },
        tooltips: {
            yAlign: 'center',
            mode: 'single',
            onlyShowForDatasetIndex: [0],
            enabled: false,
            position: 'nearest',
            intersect: true,
            dataPoints: datapoints,
            custom: function(tooltipModel) {
                var tooltipEl = document.getElementById('chartjs-tooltip');
                
                if (!tooltipEl) {
                    tooltipEl = document.createElement('div');
                    tooltipEl.id = 'chartjs-tooltip';
                    tooltipEl.class = 'chart-tooltip';
                    tooltipEl.innerHTML = ''
                    document.body.appendChild(tooltipEl);
                }
                if (tooltipModel.opacity === 0) {
                    tooltipEl.style.opacity = 0;
                    return;
                }
                
                tooltipEl.classList.remove('above', 'below', 'no-transform');
                if (tooltipModel.yAlign) {
                    tooltipEl.classList.add(tooltipModel.yAlign, 'small');
                } else {
                    tooltipEl.classList.add('no-transform');
                }
                
                function getBody(bodyItem) {
                    return bodyItems.lines;
                }
                if (tooltipModel.body) {
                    var titleLines = tooltipModel.title || '';
                    
                    var innerHtml = '';
                    titleLines.forEach(function(title){
                        innerHtml += title;
                    });
                    
                    var tableRoot = tooltipEl;
                    tableRoot.innerHTML = innerHtml;
                }
                var position = this._chart.canvas.getBoundingClientRect();
                
                tooltipEl.style.opacity = 1;
                tooltipEl.style.position = 'relative';
                tooltipEl.style.left = position.left + window.pageXOffset + tooltipModel.caretX - 138.5 + 'px';
                tooltipEl.style.top = position.top + window.pageYOffset + tooltipModel.caretY - 420 + 'px';
                tooltipEl.style.pointerEvents = 'none';
            },
            callbacks: {
                title: function(tooltipItem, data) {
                    var innerHtml = '<div class="head">';
                        innerHtml += '<div class="date">'+tooltipItem[0]["xLabel"]+'</div>';
                        innerHtml += '<div class="word">'+team+'</div></div>';

                        innerHtml += '<div class= "body">';
                        
                        innerHtml += '<div class="rating">';
                        innerHtml += '<div class="circle">'+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["ges"]/ 10.0+'</div>';
                        innerHtml += '<div class="text">Gesamt</div>';
                        innerHtml += '</div>';
                    
                        innerHtml += '<div class="stats">';
                        innerHtml += '<div class="text">Spontanität</div>';
                        innerHtml += '<div class="line"><div class="fill" style="width: '+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["spontan"]+'%"></div></div>';
                        innerHtml += '<div class="line-text">'+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["spontan"] / 10.0+'</div></div>'
                    
                        innerHtml += '<div class="stats">';
                        innerHtml += '<div class="text">Kreativität</div>';
                        innerHtml += '<div class="line"><div class="fill" style="width: '+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["creative"]+'%"></div></div>';
                        innerHtml += '<div class="line-text">'+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["creative"] / 10.0+'</div></div>'
                    
                        innerHtml += '<div class="stats">';
                        innerHtml += '<div class="text">Körpersprache</div>';
                        innerHtml += '<div class="line"><div class="fill" style="width: '+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["body"]+'%"></div></div>';
                        innerHtml += '<div class="line-text">'+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["body"] / 10.0+'</div></div>'
                    
                        innerHtml += '<div class="stats">';
                        innerHtml += '<div class="text">Rhetorik</div>';
                        innerHtml += '<div class="line"><div class="fill" style="width: '+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["rhetoric"]+'%"></div></div>';
                        innerHtml += '<div class="line-text">'+data["datasets"][0]["datapoints"][tooltipItem[0]["index"]]["data"]["rhetoric"] / 10.0+'</div></div>'
                    
                    return innerHtml
                },
            },
        },
    }
});
function ratingGes() {
    i = 0;
    $('.active').removeClass('active');
    $('#gesamt').addClass('active');
    <% @chartdata.first(6).each do |cd| %>
        datapoints[i].value = <%= (cd[:ges].present? ? cd[:ges] : 0) / 10.0 %>;
        i++;
    <% end %>
    i = 0;
    datapoints.forEach(function(el){
    if(el.value == undefined){
        data1[i] = el
    }else{
        data1[i] = el.value
    }
        i++;        
    })
    window.myChart.update();
}
function ratingSpontan() {
    i = 0;
    $('.active').removeClass('active');
    $('#spontan').addClass('active');
    <% @chartdata.first(6).each do |cd| %>
        datapoints[i].value = <%= (cd[:spontan].present? ? cd[:spontan] : 0) / 10.0 %>;
        i++;
    <% end %>
    i = 0;
    datapoints.forEach(function(el){
    if(el.value == undefined){
        data1[i] = el
    }else{
        data1[i] = el.value
    }
        i++;        
    })
    window.myChart.update();
}
function ratingCreative() {
    i = 0;
    $('.active').removeClass('active');
    $('#creative').addClass('active');
    <% @chartdata.first(6).each do |cd| %>
        datapoints[i].value = <%= (cd[:creative].present? ? cd[:creative] : 0) / 10.0 %>;
        i++;
    <% end %>
    i = 0;
    datapoints.forEach(function(el){
    if(el.value == undefined){
        data1[i] = el
    }else{
        data1[i] = el.value
    }
        i++;        
    })
    window.myChart.update();
}
function ratingBody() {
    i = 0;
    $('.active').removeClass('active');
    $('#body').addClass('active');
    <% @chartdata.first(6).each do |cd| %>
        datapoints[i].value = <%= (cd[:body].present? ? cd[:body] : 0) / 10.0 %>;
        i++;
    <% end %>
    i = 0;
    datapoints.forEach(function(el){
    if(el.value == undefined){
        data1[i] = el
    }else{
        data1[i] = el.value
    }
        i++;        
    })
    window.myChart.update();
}
function ratingRhet() {
    i = 0;
    $('.active').removeClass('active');
    $('#rhetoric').addClass('active');
    <% @chartdata.first(6).each do |cd| %>
        datapoints[i].value = <%= (cd[:rhetoric].present? ? cd[:rhetoric] : 0) / 10.0 %>;
        i++;
    <% end %>
    i = 0;
    datapoints.forEach(function(el){
    if(el.value == undefined){
        data1[i] = el
    }else{
        data1[i] = el.value
    }
        i++;        
    })
    window.myChart.update();
}
</script>