<section id="dash_stats" class="dash_stats-head">
  <div class="head">
  </div>
  <div class="video-overview">
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  	<div class="overview-block">
  		<h4 class="overview-block-heading">FleischKissen</h4>
  		<div class="overviewBlock-video">
  			<img src="<%= image_path('overview-img.png')%>">
  			<span class="overview-video-play"></span>
  			<span class="overview-video-rating ov-span">9,6</span>
  			<span class="overview-video-time ov-span">01:20</span>
  		</div>
  		<div class="overviewBlock-detail">
  			<h5>Willy Wann</h5>
  			<p>25.03.19</p>
  		</div>
  	</div>
  </div>
</section>