<style type="text/css">
</style>
<section id="gd_users">
  <%= content_for :modal do %>
    <%= render partial: 'form', locals: {u: User.new } %>
  <% end %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.js"></script>
<div class="top">

  <div class="select-text">Spielgruppe wählen</div>
    <div class="select">
      <select class="cs-select cs-skin-underline form-field" id="team_id" name="team_id">
        <% if @team %>
          <option value="<%=@team.id %>" disabled selected><%= @team.name %></option>
          <option value="" data-link="<%= dash_admin_users_path %>">Alle Teams</option>
        <% else %>
          <option value="" disabled selected>Alle Teams</option>
          <option value="" data-link="<%= dash_admin_users_path %>" data-class="cs-selected">Alle Teams</option>
        <% end %>
        <% @teams.each do |t| %>
          <% if @team && t.id == @team.id %>
             <option value="<%= t.id %>" data-class="cs-selected"><%= t.name %></option>
          <% else %>
              <option value="<%= t.id %>" data-link="<%= dash_admin_team_users_path(t.id) %>"><%= t.name %></option>
          <% end %>
        <% end %>
    </select>
  </div>

  <button  class="btn-green-plus green-plus-se" id="newUserModal"> 
    <i class='fas fa-plus'></i>
  </button>
  <input type="text" id="searchField" placeholder="Spieler suchen">
  <%= image_tag 'dash/search.png' %>

</div>
   
<div class="users" id="users">
   <div id="table">
    <table id="myTable">
      <thead>
        <tr>
            <th style="opacity: 0"></th>
            <th>Name</th>
            <th>Email</th>
            <th>Unternehmen</th>
            <th>Letztes Spiel</th>
            <th>Spiele</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr class="user-row user-row-admin">
           <td onclick="redirect_stats(<%= @admin.teams.first.id if  @admin.teams.first.present? %>,<%= @admin.id %>, true)"><%= @admin.avatar? ? image_tag(@admin.avatar.quad.url) : image_tag('defaults/wolf.jpg') %></td>
           
            <td class="name" onclick="redirect_stats(<%= @admin.teams.first.id if  @admin.teams.first.present? %>,<%= @admin.id %>, true)"><%= @admin.fname %> <%= @admin.lname %></td>
            
            <td onclick="redirect_stats(<%= @admin.teams.first.id if  @admin.teams.first.present? %>,<%= @admin.id %>, true)"><%= @admin.email %></td>
            
            <td onclick="redirect_stats(<%= @admin.teams.first.id if  @admin.teams.first.present? %>,<%= @admin.id %>, true)"><%= @admin.company_name %></td>
            <td onclick="redirect_stats(<%= @admin.teams.first.id if  @admin.teams.first.present? %>,<%= @admin.id %>, true)"><% if Turn.where(user_id: @admin.id).count > 0 %><%= Turn.where(user_id: @admin.id).last.updated_at.strftime('%d.%m.%Y') %><% end %></td>
            <td><%= @admin.turns.where(admin_turn: true).count %></td>
            <td><% if @admin.teams.count > 0 %>
                <%= link_to '', dash_admin_statistics_path, class: "fas fa-chart-line package_pop_up" %>
                <% end %>
            </td>
            <td>
            </td>
        </tr> -->

        </tbody>
      </table>
    </div>
  </div>
  <%= content_for :modal do %>
    <%= render partial: 'edit_form' %>
    <div class="blue_table">
    <div class="blue blue-place modal teamV-modal userDelete-modal" id="<%= "delete-user-modal" %>">
        <div class="modal-dialog">
            <div class="modal-content">
                <button class="close modal-close" onclick="closeTeamPop()" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <div id="table_wrapper">
                    <div id="list-table">
                        <h1>Nutzer löschen</h1>
                        <h3>Möchtest du den Nutzer wirklich unwiderruflich löschen?</h3>
                        <%= link_to 'Löschen', "#", class: 'btn btn-green user-p-btn', id: 'del_user'%>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  <% end %>
</section>
<script>
  $(document).ready(function(){

    renderElements()
  })
  var selectize;

  function renderElements(){
    // $("tbody tr").on('click', function(e){
    //   e.preventDefault()
    //   var url = $(this).find(".package_pop_up").attr("href")
    //   window.location.href = url;
    // })
    $(".email-field").keyup(function(){
      var id = $(this).data("id");
      $("#email-error-"+id).html('')
    })
    $(".edit-user").on("click", function(e){
    e.preventDefault()
    var $id = $(this).data("id")
    var user = $(this).data("user");
    var teams = $(this).data("teams");
    
    var url = '/users/'+$id+'/update';
    var defaultImgurl = "<%= image_path('defaults/wolf.jpg')%>";
    if(user.avatar.url == null){
    $("#imgPrevedit").attr("src", defaultImgurl)
    }else{
      $("#imgPrevedit").attr("src", user.avatar.url)
    }
    // $(".items").empty()
    selectize[1].selectize.clear()
    teams.forEach(function(team){
      // $("#inputtagsedit").append(`<option value=`+team.id+`" selected>`+ team.name+`</option>`)
      selectize[1].selectize.addItem(team.id)
    })
    $("#edit_company_name").val(user.company_name)
    $("#lname").val(user.lname)
    $("#fname").val(user.fname)
    $("#email").val(user.email)
    $(".delete-user").data("id",user.id)
    $("#edit_form").attr("action", url)
    $("#editUser").modal("show")

  })
  $("#newUserModal").on("click", function(event){
    event.preventDefault();
    $("#new_user").modal("show");
  });
  $(".delete-user").on("click", function(event){
    event.preventDefault();
    $('.dropdown-menu').hide()
    var $id = $(this).data("id")
    $("#del_user").attr("href","/users/"+$id+"/destroy")
    $("#delete-user-modal").modal("show")
  });
  }
  
  
  $(document).ready(function(){
    renderSelectize()
  })

    function redirect_stats(team, user, admin) {
        if(admin== true){
          window.location.href = "<%=dash_admin_statistics_path%>";
        }else{
          <% if @team %>
            window.location.href = "/admins/dash/teams/<%= @team.id %>/users/"+ user +"/stats";
          <% else %>
            window.location.href = "/admins/dash/teams/"+ team +"/users/"+ user +"/stats";
          <% end %>
        }
        
    }
    $(document).ready( function () {
    
    var table = $('#myTable').DataTable( {
       "responsive": true,
        "sScrollX": true,
        "ordering": true,
        "processing": true,
        "scrollY":  "400px",
        "searching": true,
        "lengthChange": false,
        oLanguage: {sProcessing: "<div id='loader'>Loading....</div>"},
        "serverSide": true,
        "ajax":  {url: "/admin/dash/user_list",
        "data": function(data){
          data.team_id = $("select[name=team_id] option:selected").val();
        }},
        "columnDefs": [
            { "orderable": false, "targets": 0},
            { "orderable": false, "targets": 5 },
            { "orderable": false, "targets": 7 },
            { "orderable": false, "targets": 6, render: function(data){
              $("body").append(data.edit_partial);
              $("body").append(data.del_partial);
              return data.button;
            } },
            { "orderable": false, "targets": 4 },
        ],
        "drawCallback": function( settings ) {
          renderElements()
        }
    } );
    $("#myTable_filter").hide()
    $("#searchField").keyup(function(){
      table.search($("#searchField").val()).draw() ;
    })
    
} );
(function() {
        [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {  
          new SelectFx(el);
                    newTab: false;
        } );
      })();
    
var $rows = $('.user-row');
$('#searchField').keyup(function() {
    
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;
    
    $rows.show().filter(function() {
        text = $(this).text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
new PerfectScrollbar('.cs-options');

function renderSelectize(){
  selectize = $('.InputTags').selectize({
    valueField: 'id',
    plugins: [ 'remove_button'
    ],
    labelField: 'name',
    preload: true,
    create: false,
    allowEmptyOption: true,
    render: {
      option: function(data, escape) {
          return '<option>' +
                  '<span class="url">' + escape(data.name) + '</span>' +
              '</option>';
      },
      item: function(data, escape) {
          return '<span class="tag label label-info">'+escape(data.name)+'<span data-role="remove" class="remove"></span></span>';
      }
    },
    load: function(query, callback) {
      $.get({
          url: '/team_list',
          dataType: 'json',
          data: {
              name: query,
              additionalDataIfRequired: 'Additional Data'
          },
          error: function() {
              callback();
          },
          success: function(res) {
              // you can apply any modification to data before passing it to selectize
              callback(res);
              
          }, 
          load: function(query, callback){
            this.clearOptions();  
          }
        });
      }
    })

    $(".selectize-control").addClass("bootstrap-tagsinput")
    $(".selectize-input.items input").attr("readonly", true);
  // $("").tagsinput()
}    


</script>