<section id="dash_stats">
    <div class="head">
        <span><%= @user.fname %> <%= @user.lname %></span>, <%= @team.name %>
    </div>
    <div class="stats_overview">
        <div class="gesamt active">
            <button class="circle" id="chart_gesamt">
            <span><%= number_with_precision(@current_rating[:rating][:ges].to_f / 10.0, precision: 1) %></span>
            <%= image_tag @user.avatar.quad.url %>
            </button>
            <div class="text" id="t_gesamt">Gesamt</div>
        </div>
        <div class="spontan">
            <button class="circle" id="chart_spontan"><%= number_with_precision( @current_rating[:rating][:spontan].to_f / 10.0, precision:1) %></button>
            <div class="text" id="t_spontan">Spontanität</div>
        </div>
        
        <div class="kreativ">
            <button class="circle" id="chart_kreativ"><%= number_with_precision(@current_rating[:rating][:creative].to_f / 10.0, precision:1) %></button>
            <div class="text" id="t_kreativ">Kreativität</div>
        </div>
        
        <div class="body">
            <button class="circle" id="chart_body"><%= number_with_precision(@current_rating[:rating][:body].to_f / 10.0, precision:1) %></button>
            <div class="text" id='t_body'>Körpersprache</div>
        </div>
        
        <div class="rhetorik">
            <button class="circle" id="chart_rhetorik"><%= number_with_precision(@current_rating[:rating][:rhetoric].to_f / 10.0, precision:1) %></button>
            <div class="text" id="t_rhetorik">Rhetorik</div>
        </div>
        <div class="places">
           <div class="first">
               <%= image_tag 'defaults/cup.png' %>
               <div class="txt"><%= @turns.where(place: 1).count %></div>
           </div>
           <div class="second">
               <%= image_tag 'defaults/silver.png' %>
               <div class="txt"><%= @turns.where(place: 2).count %></div>
           </div>
           <div class="third">
               <%= image_tag 'defaults/bronze.png' %>
               <div class="txt"><%= @turns.where(place: 3).count %></div>
           </div>
        </div>
        <ul class="places-ratings">
           <% @three_records.first(3).each do |k, v| %>

            <li class="<%= 'current' if v[:user].id == params[:user_id].to_i %>">  
                <% if v[:user].id == params[:user_id].to_i %>
                    <%= image_tag "current.png", id: "open-team-scores", style: 'cursor: pointer;'%>
                <% end %>
                <div class="rating-c"><%= k %>. <%= v[:user].fname%></div>
                <div class="rating-d"><%= number_with_precision(v[:rating][:average] / 10, precision: 1)  %></div>
            </li>
           <% end %> 
        </ul>
        <div class="compare">
        
        <select class="cs-select cs-skin-underline form-field">
            <option value="" disabled selected>Vergleiche mit</option>
            <% @users.each do |u| %>
                   <% if @user.id != u.id %>
                    <option value="<%= u.id %>" data-link="<%= dash_admin_compare_user_stats_path(@team.id, @user.id, u.id) %>">
                         <%= u.fname %> <%= u.lname %>
                    </option>
                    <% end %>
            <% end %>
        </select>
        
        </div>
    </div>
    <div class="stats_chart">
        <div class="chart-container">
            <canvas id="Chart"></canvas>
        </div>
    </div>
</section>
<%= content_for :modal do %>
  <div class="modal pop_up modal-teams" id="pop_up" style='position: relative;' tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h1>Select your Plan first in order to see users statistics <br> <%= link_to "Select Package", dash_admin_price_path, class: "btn btn-green mt-4 ml-0" %> </h1>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div class="blue_table">
      
      <div class="blue blue-place modal teamV-modal" id="new_team_pop" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <button type="button" class="close modal-close" onclick="closeTeamPop()" aria-label="Close"><i class="fas fa-times"></i></button>
                    <div id="table_wrapper">
                        <div class="" id="list-table">
                            <h1>
                                <span>Team Vertrieb</span>
                            </h1>
                            <div class="table-canvas">
                                <div class="t-overflow">
                                    <table>
                                        <thead>
                                            <tr class="head-row">
                                              <th class="head" width="100"></th>
                                              <th class="head" width="60">Ges</th>
                                              <th class="head" width="60">Spon</th>
                                              <th class="head" width="60">Korp</th>
                                              <th class="head" width="60">Krea</th>
                                              <th class="head" width="60">Rhet</th> 
                                              <th class="head" width="26px">
                                                <img src="<%= root_url %>/cup.png", width="16px">
                                              </th>
                                              <th class="head" width="26px">
                                                <img src="<%= root_url %>/silver.png", width="16px">
                                                  
                                              </th>
                                              <th class="head" width="26px">
                                                <img src="<%= root_url %>/bronze.png", width="16px">
                                              </th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="table-scroll">
                                    <table>
                                        <tbody>
                                            <% @result.each.with_index(1) do |r,i| %>
                                              <tr class="full-row">
                                                <td class="row-data"><%=i%> . <%= r[:user].fname %></td>
                                                <td class="row-data" width="60"><%=number_with_precision r[:rating][:ges] / 10, precision: 1 %></td> 
                                                <td class="row-data" width="60"><%= number_with_precision r[:rating][:spontan] / 10, precision: 1 %></td> 
                                                <td  class="row-data" width="60"><%= number_with_precision r[:rating][:rhetoric] / 10,precision: 1 %></td> 
                                                <td class="row-data" width="60"><%= number_with_precision r[:rating][:creative] / 10,precision: 1 %></td> 
                                                <td class="row-data" width="60"><%= number_with_precision r[:rating][:body] / 10 ,precision: 1%></td> 
                                                <td class="row-data" width="26px"><%= r[:places][:gold] %></td>
                                                <td class="row-data" width="26px"><%= r[:places][:silver] %></td>
                                                <td class="row-data" width="26px"><%= r[:places][:bronze] %></td>
                                              </tr>
                                            <% end %>
                                        </tbody>                        
                                    </table>
                                </div>
                            </div>
                            <section class="content-tm">
                                <div class="bottom">
                                    <a href=""  id="a_download" style="display: none;" download>
                                    </a>
                                    <%= link_to "<img src=#{image_path('download-m.png')}>".html_safe,"/admin/dash/teams/#{params[:team_id]}/generate_img_from_html", class: 'pol-bg', id: 'download' %>

                                    <%= link_to "<img src=#{asset_path('share-m.png')}>".html_safe,"/admin/dash/teams/#{params[:team_id]}/generate_img_from_html", class: 'pol-bg', id: 'share' %>
                                </div>
                            </section>
                        </div>
                    </div>

                    </div>
                     
                </div>
            </div>
        </div>
    </div> 
    <div class="blue_table">
      <div class="blue blue-place modal" id="share-modal" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="row">
                     <div class="col-md-9">
                        <input type="" name="" id="share_link" class="form-control mr-sm-3">
                     </div>   
                     <div class="col-md-3">
                        <button class="btn" id="btn-copy" data-clipboard-target="#share_link" style="color: white;">Copy</button>
                     </div>   
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div> 
    <script type="text/javascript">
        new ClipboardJS("#btn-copy")

        $("#download").on("click", function(e){
            e.preventDefault()
            var $href =  $(this).attr("href");
            $.ajax({
                url: $href,
                type: 'post',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: {html: $("#table_wrapper").html()},
                success: function(res){
                    $("#a_download").attr("href", JSON.parse(res).url)
                    document.getElementById("a_download").click()
                }

            })
        })
        $("#share").on("click", function(e){
            e.preventDefault()
            var $href =  $(this).attr("href");
            $.ajax({
                url: $href,
                type: 'post',
                beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                data: {html: $("#table_wrapper").html()},
                success: function(res){
                    //window.location = JSON.parse(res).url
                    $("#share-modal").modal("show")
                    $('#new_team_pop').modal("hide");

                    //window.location = JSON.parse(res).url
                    $("#share_link").val("<%= root_url %>" +JSON.parse(res).url)
                }

            })
        })
                
        $("#open-team-scores").on("click", function(){
            $('#new_team_pop').modal("show");

        })
        function closeTeamPop(){
            $('#new_team_pop').modal("hide");

        }
    </script>
<% end %>
<script>
(function() {
[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach(
    function(el) {
	   new SelectFx(el);
       newTab: false;
    } );
})();
    
var ctx = document.getElementById("Chart");
var datapoints = [NaN, NaN, NaN, NaN, NaN, NaN, NaN ];
var datapoints2 = [NaN, NaN, NaN, NaN, NaN, NaN, NaN ];
var label = [NaN, NaN, NaN, NaN, NaN, NaN, NaN];
var i = 0;
<% @turns_rating.each do |g| %>
    datapoints[i] = <%= g.ges / 10.0 %>;
    <% if GameRating.where(game_id: g.game_id).first %>
    datapoints2[i] = <%= GameRating.where(game_id: g.game_id).first.ges / 10.0 %>;
    <% end %>
    label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
    i++;
<% end %>
var user1 = '<%= @user.fname %>';
var gesamtChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: label,
        datasets: [{
            label: user1,
            data: datapoints,
            fill:false,
            borderColor:"rgba(255,255,255,1.0)",
            borderWidth: 5,
            pointBorderColor:"rgba(255,255,255,1.0)",
            pointBackgroundColor:"rgba(255,255,255,1.0)",
            pointHoverBackgroundColor:"rgba(255,255,255,1.0)",
            pointHoverBorderColor:"rgba(255,255,255,1.0)",
            pointBorderWidth: 5,
            pointRadius: 5,
            pointHoverRadius: 8,
            lineTension:0,
        }, {
            label: 'Team',
            data: datapoints2,
            fill: false,
            borderColor:"rgba(255,255,255,0.30)",
            borderWidth: 5,
            pointBorderColor:"rgba(255,255,255,0.30)",
            pointBackgroundColor:"rgba(255,255,255,0.30)",
            pointHoverBackgroundColor:"rgba(255,255,255,0.30)",
            pointHoverBorderColor:"rgba(255,255,255,0.30)",
            pointBorderWidth: 5,
            pointRadius: 1,
            pointHoverRadius: 1,
            lineTension:0,
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: false,
        },
        title: {
            display: false,
        },
        tooltips: {
            mode: 'index',
            multiKeyBackground:"rgba(255,255,255,0)",
            intersect: false,
        },
        scales: {
            yAxes: [{
                gridLines: {
                    display: true,
                    color:"rgba(255,255,255,1.0)",
                    lineWidth: 0.2,
                    zeroLineColor: "rgba(255,255,255,0)",
                },
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 10,
                    stepSize: 1,
                    fontColor:"rgba(255,255,255,1.0)",
                }
            }],
            xAxes: [{
                gridLines: {
                    display: false,
                    color:"rgba(255,255,255,1.0)",
                    lineWidth: 0.2,
                },
                ticks: {
                    fontColor:"rgba(255,255,255,1.0)",
                }
            }],
        },
    }
});
document.getElementById('chart_gesamt').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.gesamt').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        datapoints[i] = <%= g.ges / 10.0 %>;
        <% if GameRating.where(game_id: g.game_id).first %>
        datapoints2[i] = <%= GameRating.where(game_id: g.game_id).first.ges / 10.0 %>;
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_spontan').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.spontan').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        datapoints[i] = <%= g.spontan / 10.0 %>;
        <% if GameRating.where(game_id: g.game_id).first %>
        datapoints2[i] = <%= GameRating.where(game_id: g.game_id).first.spontan / 10.0 %>;
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_kreativ').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.kreativ').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        datapoints[i] = <%= g.creative / 10.0 %>;
        <% if GameRating.where(game_id: g.game_id).first %>
        datapoints2[i] = <%= GameRating.where(game_id: g.game_id).first.creative / 10.0 %>;
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_body').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.body').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        datapoints[i] = <%= g.body / 10.0 %>;
        <% if GameRating.where(game_id: g.game_id).first %>
        datapoints2[i] = <%= GameRating.where(game_id: g.game_id).first.body / 10.0 %>;
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    window.gesamtChart.update();
});
document.getElementById('chart_rhetorik').addEventListener('click', function() {
    $('.active').removeClass('active');
    $('.rhetorik').addClass('active');
    var i = 0;
    <% @turns_rating.each do |g| %>
        datapoints[i] = <%= g.rhetoric / 10.0 %>;
        <% if GameRating.where(game_id: g.game_id).first %>
        datapoints2[i] = <%= GameRating.where(game_id: g.game_id).first.rhetoric / 10.0 %>;
        <% end %>
        label[i] = '<%= g.created_at.strftime("%d.%m.%Y") %>';
        i++;
    <% end %>
    window.gesamtChart.update();
});

<%if current_admin.admin_subscription_id.nil? %>
$(document).ready(function(){

  setTimeout(function(){
    $('#pop_up').modal({backdrop: 'static', keyboard: false});
  }, 3000);
});
<% end %>

</script>