<section id="gd_users">
    
<div class="top">

    <div class="select-text">Spielgruppe wählen</div>
    <div class="select">
        <select class="cs-select cs-skin-underline form-field">
            <% if @team %>
                <option value="" disabled selected><%= @team.name %></option>
                <option value="" data-link="<%= dash_admin_users_path %>">Alle Teams</option>
            <% else %>
                <option value="" disabled selected>Alle Teams</option>
                <option value="" data-link="<%= dash_admin_users_path %>" data-class="cs-selected">Alle Teams</option>
            <% end %>
            <% @teams.each do |t| %>
                <% if @team && t.id == @team.id %>
                   <option value="<%= t.id %>" data-class="cs-selected"><%= t.name %></option>
                <% else %>
                    <option value="<%= t.id %>" data-link="<%= dash_admin_team_users_path(t.id) %>"><%= t.name %></option>
                <% end %>
            <% end %>
        </select>
    </div>
    
        <input type="text" id="searchField" placeholder="Spieler suchen">
        <%= image_tag 'dash/search.png' %>
</div>
   
<div class="users" id="users">
   <div id="table">
    <table id="myTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Unternehmen</th>
            <th>Letztes Spiel</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |u| %>
        <tr class="user-row">
           <td onclick="redirect_stats(<%= u.teams.first.id %>,<%= u.id %>)"><%= image_tag(u.avatar.quad.url) if u.avatar? %></td>
            <td class="name" onclick="redirect_stats(<%= u.teams.first.id %>,<%= u.id %>)"><%= u.fname %> <%= u.lname %></td>
            <td onclick="redirect_stats(<%= u.teams.first.id %>,<%= u.id %>)"><%= u.email %></td>
            <td onclick="redirect_stats(<%= u.teams.first.id %>,<%= u.id %>)"><%= u.company_name %></td>
            <td onclick="redirect_stats(<%= u.teams.first.id %>,<%= u.id %>)"><% if Turn.where(user_id: u.id).count > 0 %><%= Turn.where(user_id: u.id).last.updated_at.strftime('%d.%m.%Y') %><% end %></td>
            <td>
  <div class="btn-group dropleft">
  <a type="button" id="dropdownMenu<%= u.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 3vh">
    ...
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu<%= u.id %>">
    <%= link_to 'Löschen!', destroy_user_path(u), class: 'dropdown-item', style: 'border-bottom: none', type: "button", data: { confirm: "Alles Spiele und Statistiken des Nutzers gehen verloren. Bist du sicher, dass du den Nutzer unwideruflich löschen möchtest?" } %>
  </div>
</div>
           </td>
            <td><% if u.teams.count > 0 %>
                <%= link_to '', dash_admin_user_stats_path(u.teams.first, u), class: "fas fa-chart-line package_pop_up" %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>
</div>
</section>


<script>
    function redirect_stats(team, user) {
        <% if @team %>
        window.location.href = "/admins/dash/teams/<%= @team.id %>/users/"+ user +"/stats";
        <% else %>
        window.location.href = "/admins/dash/teams/"+ team +"/users/"+ user +"/stats";
        <% end %>
    }
    $(document).ready( function () {
    $('#myTable').DataTable( {
        "paging":   false,
        "info":     false,
        'searching': false,
        "order": [ 1, 'asc' ],
        "columnDefs": [
            { "orderable": false, "targets": 0 },
            { "orderable": false, "targets": 5 },
            { "orderable": false, "targets": 6 },
        ]
    } );
    
} );
(function() {
				[].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {	
					new SelectFx(el);
                    newTab: false;
				} );
			})();
    
var $rows = $('.user-row');
$('#searchField').keyup(function() {
    
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;
    
    $rows.show().filter(function() {
        text = $(this).text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
new PerfectScrollbar('#table');
new PerfectScrollbar('.cs-options');

</script>