<div class="video-details karte">
    <div class="left-part">
        <div class="head left small"><%= @word.name %></div>
        <div class="name-date">
            <% if @user.avatar.present? %>
                <%= image_tag @user.avatar.quad.url %>
            <% else %>
                <div class="circle">
                    <%= @user.fname.to(0).upcase_first() + @user.lname.to(0).upcase_first() %>
                </div>
            <% end %>
            <%= @user.fname + ' ' + @user.lname + ' - ' + @turn.created_at.strftime("%d.%m.%Y") %>
        </div>
        <div class="head transcript">Do say &amp; Don't say</div>
        <div class="karte counters">
        	<div class="do">
        		<div class="head">Do say</div>
        		<div class="count"><%= @turn.do_words %></div>
        	</div>
        	<div class="dont">
        		<div class="head">Don't say</div>
        		<div class="count"><%= @turn.dont_words %></div>
        	</div>
        	<div class="wpm">
        		<div class="head">Sprechrate</div>
        		<div class="count">
        			<%= @turn.words_count %> <br>
        			<div class="word">Worte/Minute</div>
        		</div>
        	</div>
        </div>
        <div class="head transcript">Transkript</div>
        <div class="karte text" id="video-text">
        	<% if @turn.video_text.present? %>
            	<%= @turn.video_text %>
        	<% end %>
        </div>
    </div>
    <div class="middle-part karte">
        <div class="video-container">
        <% if @turn.recorded_pitch.video.url %>
        <%= video_tag @turn.recorded_pitch.video.url, id: 'videoId', onended: 'setDuration()' %>
        <% else %>
        <%= video_tag @turn.recorded_pitch.url, id: 'videoId', onended: 'setDuration()' %>
        <% end %>
        </div>
        <div class="progress" id="progressBar" onclick="videoJumptoCoords(event)">
            <div class="progressBar"></div>
            <div class="progressDot"></div>
        </div>
        <div id="progressText"></div>
        <div class="controls">
            <!-- <div class="stop" onclick="stopVideo()"><i class="fas fa-stop"></i></div> -->
            <!-- <div class="play" onclick="playVideo()"><i class="fas fa-play" id="videoPlay"></i></div> -->
            <%= image_tag 'dash/icons/pause-i.png', class: 'video-pause' %>
            <%= image_tag 'dash/icons/play-i.png', class: 'video-play' %>
            <div class="stop" onclick="stopVideo()"><%= image_tag 'dash/icons/stop-i.png', class: 'fa-stop' %></div>
            <div class="play" onclick="playVideo()"><%= image_tag 'dash/icons/play-i.png', id: 'videoPlay', class: 'fa-play' %></div>
            <div class="mute" onclick="muteVideo()"><i class="fas fa-volume-up" id="videoMute"></i></div>
        </div>
    </div>
    <div class="right-part">
    	<% if @rating.present? %>
        <div class="rating" id="ratings">
            <div class="left">
            <div class="circle">
                <%= @rating.ges / 10.0 %>
            </div>
            <div class="text">Gesamt</div>
            <% if @my_rating.present? %>
            <div class="toggle-my-ratings">
            	<div class="toggle right" onclick="toggleRatings()"><div class="dot"></div></div>
        	</div>
           	<% end %>
            </div>
            <div class="right">
                <div class="category">
                    <div class="text">Spontanität</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @rating.spontan %>%'></div>
                    </div>
                    <div class="rating"><%= @rating.spontan / 10.0 %></div>
                </div>
                <div class="category">
                    <div class="text">Kreativtät</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @rating.creative %>%'></div>
                    </div>
                    <div class="rating"><%= @rating.creative / 10.0 %></div>
                </div>
                <div class="category">
                    <div class="text">Körpersprache</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @rating.body %>%'></div>
                    </div>
                    <div class="rating"><%= @rating.body / 10.0 %></div>
                </div>
                <div class="category">
                    <div class="text">Rhetorik</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @rating.rhetoric %>%'></div>
                    </div>
                    <div class="rating"><%= @rating.rhetoric / 10.0 %></div>
                </div>
            </div>
        </div>
        <% end %>
        <% if @my_rating.present? %>
        <div class="rating" id="my_rating">
            <div class="left">
            <div class="circle">
                <%= @my_rating.ges / 10.0 %>
            </div>
            <div class="text">Meine Bewertung</div>
            <% if @rating.present? %>
            <div class="toggle-my-ratings">
            	<div class="toggle right" onclick="toggleRatings()"><div class="dot"></div></div>
        	</div>
           	<% end %>
            </div>
            <div class="right">
                <div class="category">
                    <div class="text">Spontanität</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @my_rating.spontan %>%'></div>
                    </div>
                    <div class="rating"><%= @my_rating.spontan / 10.0 %></div>
                </div>
                <div class="category">
                    <div class="text">Kreativtät</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @my_rating.creative %>%'></div>
                    </div>
                    <div class="rating"><%= @my_rating.creative / 10.0 %></div>
                </div>
                <div class="category">
                    <div class="text">Körpersprache</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @my_rating.body %>%'></div>
                    </div>
                    <div class="rating"><%= @my_rating.body / 10.0 %></div>
                </div>
                <div class="category">
                    <div class="text">Rhetorik</div>
                    <div class="bar">
                        <div class="filled" style='width: <%= @my_rating.rhetoric %>%'></div>
                    </div>
                    <div class="rating"><%= @my_rating.rhetoric / 10.0 %></div>
                </div>
            </div>
        </div>
        <% end %>
        <div class="head comments">Kommentare</div>
        <div class="karte" id="commentCard">
            <% @comments.each do |c| %>
            <div class="comment" onclick="videoJumpTo(<%= c.time_of_video %>)">
                <%= image_tag @admin.avatar.quad.url %>
                <div class="head">
                <% if c.time_of_video < 10 %>
                  <%= @admin.fname + ' ' + @admin.lname + ' - 0:0' + c.time_of_video.to_s %>
                <% elsif c.time_of_video < 60 %>
                  <%= @admin.fname + ' ' + @admin.lname + ' - 0:' + c.time_of_video.to_s %>
                <% elsif c.time_of_video % 60 < 10 %>
                  <%= @admin.fname + ' ' + @admin.lname + ' - ' + (c.time_of_video / 60).to_s + ':0' + (c.time_of_video % 60).to_s %>
                <% else %>
                  <%= @admin.fname + ' ' + @admin.lname + ' - ' + (c.time_of_video / 60).to_s + ':' + (c.time_of_video % 60).to_s %>
                <% end %>
                </div>
                <div class="comment-title">
                    <span class="<%= c.type_of_comment %>"></span><%= c.title %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="progress-in-video"></div>
        <form class="" id="add-comment-form">
            <div class="time" id="videoTime">0:00</div>
            <label for="coment_type_of_comment_negative" id="negative">
                    <input type="radio" value="negative" checked="checked" name="radio" id="comment_type_of_comment_neutral">
                    <span class="checkbox"><span class="dot"></span></span>
                    Negativ
                </label>
                <label for="coment_type_of_comment_neutral" id="neutral">
                        <input type="radio" value="neutral" checked="checked" name="radio" id="comment_type_of_comment_neutral">
                    <span class="checkbox"><span class="dot"></span></span>
                    Neutral
                </label>
                <label for="coment_type_of_comment_positive" id="positive">
                    <input type="radio" value="positive" name="radio" id="comment_type_of_comment_positive">
                    <span class="checkbox"><span class="dot"></span></span>
                    Positiv
                </label>
            <input class="field" placeholder="Kommentar hinzufügen" type="text" name="title" id="comment_title"> 
        </form>
       
        
    </div>
</div>


<style>
    .video-play,
    .video-pause {
        display: none;
    }
</style>


<script>
	
    var admin_img = '<%= @admin.avatar.quad.url %>'
    var admin_fname = '<%= @admin.fname %>'
    var admin_lname = '<%= @admin.lname %>'
    var total_duration = '<%=  @turn.recorded_pitch_duration.to_minutes if @turn.recorded_pitch_duration.present? %>';
    new PerfectScrollbar('#commentCard');
	new PerfectScrollbar('#video-text');
    setDuration();

    $("#add-comment-form").on('submit', function(e){
      e.preventDefault()
      var text = $("input[name=title]").val()
      if(text.length > 0){
        $("input[name=title]").val('')
        var type = $("input[name=radio]:checked").val()
        addCommentToCommentBox(text, type)
        var hms = $('#videoTime').text(); 
        var a = hms.split(':');
        var time_seconds = 0; 
        if (a.length > 2) {
        time_seconds = (parseInt(a[0]) * 3600) + (parseInt(a[1]) * 60) + (a[2]); 
        } else {
        time_seconds = parseInt(a[0]) * 60 + parseInt(a[1])
        } 
        sendToServer(text, type, time_seconds)
      }
    });

    function addCommentToCommentBox(text, type){
        var comment = $('<div class="comment" onclick="videoJumpTo(2)"></div>')
        var img = $('<img>');
        $(img).attr('src', admin_img);
        var user = $('<div class=head></div>')
        $(user).text(admin_fname + ' ' + admin_lname + ' - ' + $('#videoTime').text())
        var span_elem = $('<span class="neutral"></span>')
        $(comment).append(img).append(user).append('<div class=comment-title>' + '<span class='+type+'></span>' + text +'</div>');
        $('#commentCard').append(comment);
    }

    function sendToServer(text, type, time_seconds){
      $.ajax({
        url: '<%= create_comment_path(@turn.id)%>',
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {title: text, type: type, current_time:  time_seconds},
        type: 'post',
        success: function(res){
          $('#release_it').attr("disabled", false)
          $("#release_it").css("opacity",1)
        }
      })
    }



    function playVideo() {
        if($('#videoPlay').hasClass('fa-play')) {
            document.getElementById('videoId').play();
            $('#videoPlay').removeClass('fa-play');
            $('#videoPlay').addClass('fa-pause');
            video_pause_src = $('.video-pause').attr('src');
            $('.play img').attr('src', video_pause_src)
            setProgress();
        } else {
            document.getElementById('videoId').pause();
            $('#videoPlay').removeClass('fa-pause');
            $('#videoPlay').addClass('fa-play');
            video_play_src = $('.video-play').attr('src');
            $('.play img').attr('src', video_play_src)
        }
    }
    function stopVideo() {
        document.getElementById('videoId').load();
        if($('#videoPlay').hasClass('fa-pause')) {
            $('#videoPlay').removeClass('fa-pause');
            $('#videoPlay').addClass('fa-play');
            video_play_src = $('.video-play').attr('src');
            $('.play img').attr('src', video_play_src)
        }
    }
    function muteVideo() {
        if($('#videoMute').hasClass('fa-volume-up')) {
            document.getElementById('videoId').muted = true;
            $('#videoMute').removeClass('fa-volume-up');
            $('#videoMute').addClass('fa-volume-mute');
        } else {
            document.getElementById('videoId').muted = false;
            $('#videoMute').removeClass('fa-volume-mute');
            $('#videoMute').addClass('fa-volume-up');
        }
    }
    function getDuration() {
        var vid = document.getElementById('videoId');
        var min = Math.floor(vid.duration / 60);
        var sec = Math.floor(vid.duration % 60);
        if(sec < 10) {
            sec = '0' + sec;
        }
        return min + ':' + sec;
    }
    function setDuration() {
        var vid = document.getElementById('videoId');
        vid.play();
        setTimeout(function(){
            var duration = getDuration();
            vid.load();
            $('#progressText').text('0:00/'+total_duration)
            if(($('#progressText').text().split('/')[0] == '0:00') && $('#videoPlay').hasClass('fa-pause')) {
                $('#videoPlay').removeClass('fa-pause');
                $('#videoPlay').addClass('fa-play');
                video_play_src = $('.video-play').attr('src');
                $('.play img').attr('src', video_play_src)
                $('.progressDot').css( "left", 0)
            }
        },100)
    }
    function getProgress() {
        var vid = document.getElementById('videoId');
        var time = vid.currentTime
        var min = Math.floor(time / 60);
        var sec = Math.floor(time % 60);
        if(sec < 10) {
            sec = '0' + sec;
        }
        $('#comment_time_of_video').val(Math.floor(vid.currentTime));
        $('#videoTime').text(min + ':' + sec);
        setX(time)
        $('.progressDot').css( "left", ((vid.currentTime / vid.duration) * 282))
        return min + ':' + sec;
    }
    function setProgress() {
        var duration = getDuration();
        var progress = getProgress();
        var progressdot = $('#progressDot')
        $('#progressText').text(progress + "/" + total_duration);
        var timer = setInterval(function() {
            progress = getProgress();
            $('#progressText').text(progress + "/" + total_duration);
            if(document.getElementById('videoId').paused) {
                clearInterval(timer);
            }
        },1000);
    }
    function videoJumpTo(time) {
        var vid = document.getElementById('videoId');
        vid.currentTime = time;
        if($('#videoPlay').hasClass('fa-play')) {
            vid.play();
            $('#videoPlay').removeClass('fa-play');
            $('#videoPlay').addClass('fa-pause');
            setProgress();
        }
        
    }
    function videoJumptoCoords(event) {
        var left = document.getElementById('progressBar').getBoundingClientRect().left;
        var x = event.clientX - left;
        var vid = document.getElementById('videoId');
        var duration = vid.duration;
        var time = ((x * duration) / 282);
        setX(time)
        videoJumpTo(time);
    }
    function setX(time) {
        var vid = document.getElementById('videoId');
        var duration = vid.duration;
        var x = (time / duration) * 282
        $('.progressDot').css('left', x)
    }
    
    function toggleRatings() {
        var toggle = $('.toggle');
        if (toggle.hasClass('left')) {
			$('#ratings').show();
            $('#my_rating').hide();
            toggle.removeClass('left');
            toggle.addClass('right');
        } else {
			$('#ratings').hide();
            $('#my_rating').show();
            toggle.removeClass('right');
            toggle.addClass('left');
        }
    }
</script>