<div class="video-tool-container">
  <div class="video-tool">
    <div class="searchbar">
      <%= image_tag 'dash/icons/search.png', id: 'search-icon' %>
      <input type="text" placeholder="Search" id="searchPitch">
    </div>
    <% if Turn.where(recorded_pitch: nil).first %>
    <div class="add" onclick="openDropzone2()">
      <i class="fas fa-plus"></i>
    </div>
    <% end %>
    <div class="karte">
      <div class="head left">Video Tool</div>
      <div class="sort_by">
        <label for="" style="padding-right: 10px;">Sortieren nach:</label>
        <select name="sortBy" id="sortBy" class="custom-select" onchange="redirectUrl()">
          <% if @sort_by == 'dateASC' %>
          <option value="date" onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'dateDSC') %>')" selected>
            Datum</option>
          <% else %>
          <option value="<%= dash_admin_video_tool_path(sort_by: 'dateASC') %>"
            onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'dateASC') %>')"
            <% if @sort_by == 'dateDSC' %>selected<% end %>>Datum</option>
          <% end %>
          <% if @sort_by == 'fnameASC' %>
          <option value="<%= dash_admin_video_tool_path(sort_by: 'fnameDSC') %>" onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'fnameDSC') %>')" selected>Vorname
          </option>
          <% else %>
          <option value="<%= dash_admin_video_tool_path(sort_by: 'fnameASC') %>" onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'fnameASC') %>')"
            <% if @sort_by == 'fnameDSC' %>selected<% end %>>Vorname</option>
          <% end %>
          <% if @sort_by == 'lnameASC' %>
          <option value="<%= dash_admin_video_tool_path(sort_by: 'lnameDSC') %>" onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'lnameDSC') %>')" selected>
            Nachname</option>
          <% else %>
          <option value="<%= dash_admin_video_tool_path(sort_by: 'lnameASC') %>" onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'lnameASC') %>')"
            <% if @sort_by == 'lnameDSC' %>selected<% end %>>Nachname</option>
          <% end %>
          <% if @sort_by == 'ratingASC' %>
          <option value="<%= dash_admin_video_tool_path(sort_by: 'ratingDSC') %>" onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'ratingDSC') %>')" selected>
            Bewertung</option>
          <% else %>
          <option value="<%= dash_admin_video_tool_path(sort_by: 'ratingASC') %>" onclick="redirect('<%= dash_admin_video_tool_path(sort_by: 'ratingASC') %>')"
            <% if @sort_by == 'ratingDSC' %>selected<% end %>>Bewertung</option>
          <% end %>
        </select>
      </div>
      <div class="video-list" id="videoList">
        <% @result.each do |r| %>
        <div class="video-karte pitches" onclick="redirect('<%= dash_admin_video_details_url(r[:turn_id]) %>')">
          <div class="top" style="background-image: url('<%= asset_path(r[:pitch_url]) %>')">
            <div class="overlay"></div>
            <div class="rating"><%= r[:rating].present? ? r[:rating] / 10.0 : 0 %></div>
            <div class="play"><i class="fas fa-play"></i></div>
            <div class="heart" data-id="<%= r[:turn_id] %>" id="<%= r[:turn_id] %>_heart"><i class="<%= r[:favorite] ? 'fa' : 'far' %> fa-heart"></i></div>
          </div>
          <div class="word">
            <%= r[:word] %>
          </div>
          <div class="player">
            <%= image_tag r[:user_avatar] %>
            <%= (r[:user_fname].present? ? r[:user_fname] : '') + " " + (r[:user_lname].present? ? r[:user_lname] : '') %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="video-uploads">
    <div class="searchbar">
      <%= image_tag 'dash/icons/search.png', id: 'search-icon' %>
      <input type="text" placeholder="Search" id="searchVideo">
    </div>
    <div class="add" onclick="openDropzone()">
      <i class="fas fa-plus"></i>
    </div>
    <div class="karte">
      <div class="head left">Video Uploads</div>
      <div class="body" id='videouploadList'>
        <% @admin.videos.each do |v| %>
        <div class="video-karte videoSearch" style="background-image: url('<%= asset_path(v.file.thumb.url) %>')">
          <div class="overlay"></div>
          <div class="title"><%= v.name %></div>
          <div class="duration"></div>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
<div class="popup" id="dropzone1">

  <%= form_for(:video, url: video_upload_path(), html: {class: 'dropzone'}) do |f|%>
  <%= f.hidden_field :admin_id, value: @admin.id %>
  <%= f.text_field :name, placeholder: 'Enter name here', class: 'field' %>
  <div class="dz-message">Drop files here or click to upload.</div>
  <div class="fallback">
    <%= f.file_field :file %>
  </div>
  <% end %>
  <div class="close" onclick="closeDropzone()"><i class="fas fa-times"></i></div>
</div>
<% if Turn.where(recorded_pitch: nil).first %>
<div class="popup" id="dropzone2">
  <%= form_for(:turn, url: add_video_to_turn_path(Turn.where(recorded_pitch: nil).first), html: {class: 'dropzone'}) do |f| %>
  <div class="dz-message">Drop files here or click to upload.</div>
  <div class="fallback">
    <%= f.file_field :recorded_pitch %>
    <%= f.submit 'save' %>
  </div>
  <% end %>
  <div class="close" onclick="closeDropzone2()"><i class="fas fa-times"></i></div>
</div>
<% end %>

<style>
  .fa-plus {
    line-height: unset;
  }
</style>

<script>
  /* search Pitches */
  $('#searchPitch').keyup(function () {
    $rows = $('.pitches');
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
      reg = RegExp(val, 'i'),
      text;
    $rows.show().filter(function () {
      text = $(this).find($('.player')).text().replace(/\s+/g, ' ');
      return !reg.test(text);
    }).hide();
  })
  /* search Pitches */
  $('#searchVideo').keyup(function () {
    $rows = $('.videoSearch');
    var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
      reg = RegExp(val, 'i'),
      text;
    $rows.show().filter(function () {
      text = $(this).find($('.title')).text().replace(/\s+/g, ' ');
      return !reg.test(text);
    }).hide();
  })
  new PerfectScrollbar('#videoList');
  new PerfectScrollbar('#videouploadList');
  function openDropzone() {
    $('#dropzone1').show();
  }
  function closeDropzone() {
    $('#dropzone1').hide();
    window.location.reload(true);
  }
  function openDropzone2() {
    $('#dropzone2').show();
  }
  function closeDropzone2() {
    $('#dropzone2').hide();
    window.location.reload(true);
  }
  
  function redirect(url) {
    window.location.replace(url);
  }

  function redirectUrl() {
    if ($('#sortBy').val() != undefined) {
      window.location.replace($('#sortBy').val());
    }
  }

  $('.heart').on('click', function(e){
    var target = e.currentTarget
    var id = $(target).data('id')
    Favorite(id)
    e.stopPropagation()
  });
  function Favorite(id){
      var url = '';
      if ($(`#${id}_heart .fa-heart`).hasClass('far')){
        url = '<%= dash_admin_add_favorite_path %>'
      } else {
        url = '<%= dash_admin_remove_favorite_path %>'
      }
      $.ajax({
        url: url,
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: {id: id},
        type: 'post',
        success: function(res){
          if ($(`#${id}_heart .fa-heart`).hasClass('far')){
            $(`#${id}_heart .fa-heart`).removeClass('far').addClass('fa');
          } else {
            $(`#${id}_heart .fa-heart`).removeClass('fa').addClass('far');
          }
        }
      })
    }
</script>