<section id="gd_head_ended" class="bounce_in nunito-bold">
    Ihr seid die Besten!
</section>
<section id="gd_ended">
    <% if @turn_ratings.first %>
    <div class="rate_1">
        <div class="line">
        </div>
        <div class="rating">
            <div class="circle">
                <%= image_tag 'game/wolf_button.png', id: 'wolf1' %>
                <%= image_tag @turn_ratings.first.findUser.avatar.quad.url, class: 'avatar', id: 'avatar1' %>
            </div>
            <%= image_tag 'game/crown1.png', class: 'crown1' %>
            <%= image_tag 'game/polygon.png', class: 'pol', id: 'pol1' %>
            <div class="rate_ges" id='rat1'>
                <%= @turn_ratings.first.value / 10.0 %>
            </div>
        </div>
    </div>
    <% end %>
    <% if @turn_ratings.second %>
    <div class="rate_2">
        <div class="line">
        </div>
        <div class="rating">
            <div class="circle">
                <%= image_tag 'game/wolf_button.png', id: 'wolf2' %>
                <%= image_tag @turn_ratings.second.findUser.avatar.quad.url, class: 'avatar', id: 'avatar2' %>
            </div>
            <%= image_tag 'game/crown2.png', class: 'crown2' %>
            <%= image_tag 'game/polygon.png', class: 'pol', id: 'pol2' %>
            <div class="rate_ges" id='rat2'>
                <%= @turn_ratings.second.value / 10.0 %>
            </div>
        </div>
    </div>
    <% end %>
    <% if @turn_ratings.third %>
    <div class="rate_3">
        <div class="line">
        </div>
        <div class="rating">
            <div class="circle">
                <%= image_tag 'game/wolf_button.png', id: 'wolf3' %>
                <%= image_tag @turn_ratings.third.findUser.avatar.quad.url, class: 'avatar', id: 'avatar3'%>
            </div>
            <%= image_tag 'game/crown3.png', class: 'crown3' %>
            <%= image_tag 'game/polygon.png', class: 'pol', id: 'pol3' %>
            <div class="rate_ges" id='rat3'>
                <%= @turn_ratings.third.value / 10.0 %>
            </div>
        </div>
    </div>
    <% end %>
</section>
<section id="skip" class="nunito-regular">
   Beenden mit Leertaste <br>
   Neue Runde mit Enter
</section>
<div class="confetti" id="confetti"></div>


<%= audio_tag(ended_sound, oncanplaythrough: 'startAnimation()', id: 'bestSound', preload: "auto", muted: @game.mute_sound) %>

<script type="text/javascript">
	document.getElementById("bestSound").volume = 0.2;
    function confetti(){
    var flakes = '',
        randomColor;
    var colors=new Array(["#EDE275"],["#FFFFFF"],["#1ddaaf"],["#1a8ed6"]);
    for(var i = 0, len = 400; i < len; i++) {
        randomColor = colors[Math.floor(Math.random()*4)];
        flakes += '<div class="ball" style="background: '+randomColor+'; animation-duration: '+(Math.random() * 9 + 2)+'s; animation-delay: '+(Math.random() * 2 + 0)+'s; transform: translate3d(0,0,0) rotate3d(0,'+Math.random()+',1,'+Math.floor(Math.random()*180)+'deg);"></div>';
    }
        document.getElementById('confetti').innerHTML = flakes;
    };
	function startAnimation() {
		document.getElementById('bestSound').play();
		setTimeout(function() {
			$('#avatar3').show();
			$('#text3').show();
			$('.crown3').show();
			$('#pol3').show();
			$('#rat3').show();
			$('#wolf3').hide();
		}, 4000);
		setTimeout(function() {
			$('#avatar2').show();
			$('#text2').show();
			$('.crown2').show();
			$('#pol2').show();
			$('#rat2').show();
			$('#wolf2').hide();
		}, 6000);
		setTimeout(function() {
			$('#avatar1').show();
			$('#text1').show();
			$('.crown1').show();
			$('#pol1').show();
			$('#rat1').show();
			$('#wolf1').hide();
			confetti();
		}, 8000);
	}
    
    
$(window).keypress(function (e) {
  if (e.which == 32) {
    window.location.replace('<%= gda_ended_path %>');
  };
  if (e.which == 13) {
    window.location.replace('<%= gda_replay_path %>');
   };
}) 
</script>