<section id="count_channel" data-game-id="<%= @game.id %>">
<section id="head">
    Wer ist als nächtes dran?
</section>
<section id="middle">
   <div class="user1"><%= @turn1.findUser.fname %> <%= @turn1.findUser.lname %>: <span id="turn_<%= @turn1.id %>_counter"><%= @turn1.counter %></span></div>
   <div class="user2"><%= @turn2.findUser.fname %> <%= @turn2.findUser.lname %>: <span id="turn_<%= @turn2.id %>_counter"><%= @turn2.counter %></span></div>
</section>
<section id="skip">
   Skip mit Leertaste
</section>
</section>
<%= audio_tag("choose/slot.mp3", id: 'slot') %>

<script>
    document.getElementById('slot').play(); 
     $(window).keypress(function (e) {

        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gda_turn_path %>');
        };
    });
</script>