<!DOCTYPE html>
<html>
  <head>
    <title>Peterpitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'game_desktop/load_media', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'game_desktop/main', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  </body>
</html>
<script>
    $( document ).ready(function() {
            window.location.replace('<%= gda_intro_url %>');
    });
</script>
