<section id="head">
<% if @turns.count == 1 %>
 <h1><%= @user.fname %>, du bist dran!</h1>
<% end %>
<h1 id="heading"></h1>
</section>
<section id="middle">
  <% if @turns.count == 1 %>
      <div class="circle">
          <%= image_tag @turn.findUser.avatar.quad.url, class: 'green pulse' %>    
      </div>
  <% elsif @turn1 == @turn %>
  <div class="circle-left">
      <%= image_tag @turn1.findUser.avatar.quad.url, class: 'blue middle', id: 'middle_img' %>
  </div>
  <div class="circle-right">
      <%= image_tag @turn2.findUser.avatar.quad.url, class: 'blue hide' %>
  </div>
  <% else %>
  <div class="circle-left">
      <%= image_tag @turn1.findUser.avatar.quad.url, class: 'blue hide' %>
  </div>
  <div class="circle-right">
      <%= image_tag @turn2.findUser.avatar.quad.url, class: 'blue middle', id: 'middle_img' %>
  </div>
  <% end %>
</section>
<section id="skip">
   Skip mit Leertaste
</section>
<%= audio_tag('turn/besonderescatchword.mp3', id: 'tag1') %>
<%= audio_tag('turn/glaskugel.mp3', id: 'tag2') %>
<%= audio_tag('turn/lettheshow.mp3', id: 'tag3') %>
<%= audio_tag('turn/naechstevertriebsleiter.mp3', id: 'tag4') %>
<%= audio_tag('turn/shakkaduschaffst.mp3', id: 'tag5') %>
<%= audio_tag('turn/wow.mp3', id: 'tag6') %>

<script>
    pick(6);
    $(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gda_play_path %>');
        };
    })
    var middle = document.getElementById('middle_img')
    middle.addEventListener('animationend', function() {
        $('#middle_img').removeClass('middle');
        $('#middle_img').removeClass('blue');
        $('#middle_img').addClass('pulse mid-img');
    })
           
    document.addEventListener('DOMContentLoaded', function() {
            var typed = new Typed("#heading", {
                strings: ['<%= @user.fname %>, du bist dran!'],
                backSpeed: 0,
                typeSpeed: 50,
                fadeOut: true,
                showCursor: true,
                cursorChar: '|',
                smartBackspace: false,
                loop: false,
            })
    })
                            
</script>