<section id="head">
    <%= @user.fname %>, du bist dran!
</section>
<section id="middle">
  <% if @turn1 == @turn %>
  <div class="circle-left">
      <%= image_tag @turn1.findUser.avatar.quad.url, class: 'middle' %>
  </div>
  <div class="circle-right">
      <%= image_tag @turn2.findUser.avatar.quad.url, class: 'hide' %>
  </div>
  <% else %>
  <div class="circle-left">
      <%= image_tag @turn1.findUser.avatar.quad.url, class: 'hide' %>
  </div>
  <div class="circle-right">
      <%= image_tag @turn2.findUser.avatar.quad.url, class: 'middle' %>
  </div>
  <% end %>
</section>
<section id="skip">
   Skip mit Leertaste
</section>
<%= audio_tag('turn/besonderescatchword.mp3', id: 'tag1') %>
<%= audio_tag('turn/glaskugel.mp3', id: 'tag2') %>
<%= audio_tag('turn/lettheshow.mp3', id: 'tag3') %>
<%= audio_tag('turn/naechstevertriebsleiter.mp3', id: 'tag4') %>
<%= audio_tag('turn/shakkaduschaffst.mp3', id: 'tag5') %>
<%= audio_tag('turn/wow.mp3', id: 'tag6') %>

<script>
    pick(6);
    $(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gda_play_path %>');
        };
    })
                            
</script>