<section id="head">
    <%= @user.fname %>, du bist dran!
</section>
<section id="middle">
   <div class="circle">
     <%= image_tag @user.avatar.quad.url, class: 'pulse' %>
    </div>
</section>
<section id="skip">
   Skip mit Leertaste
</section>
<%= audio_tag('turn/besonderescatchword.mp3', id: 'tag1') %>
<%= audio_tag('turn/glaskugel.mp3', id: 'tag2') %>
<%= audio_tag('turn/lettheshow.mp3', id: 'tag3') %>
<%= audio_tag('turn/naechstevertriebsleiter.mp3', id: 'tag4') %>
<%= audio_tag('turn/shakkaduschaffst.mp3', id: 'tag5') %>
<%= audio_tag('turn/wow.mp3', id: 'tag6') %>

<link rel="preload" href="/assets/countdown.mp4", as="video">
<link rel="preload" href="/assets/play/intro.mp3", as="audio">
<link rel="preload" href="/assets/play/theme.mp3", as="audio">

<script>
    pick(6);
    $(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gda_play_path %>');
        };
    })
                            
</script>