<svg style="display:none">
<g id="paw" transform="translate(0.000000,1119.000000) scale(0.100000,-0.100000)" fill="white" stroke="none">
    <path d="M3096 10740 c-3 -19 -47 -329 -96 -689 l-90 -654 -95 -111 c-52 -61 -122 -142 -156 -181 -252 -290 -423 -814 -447 -1367 -18 -429 27 -789 144 -1138 142 -425 375 -724 632 -812 95 -32 240 -32 334 0 344 119 632 600 737 1232 25 145 41 311 33 324 -3 5 -6 113 -8 240 -4 427 -67 759 -216 1144 -106 273 -282 492 -474 590 -34 17 -46 32 -76 99 -36 76 -38 89 -109 598 -110 799 -105 765 -113 725z"/>
    <path d="M5271 9982 c-73 -372 -137 -697 -143 -722 -8 -42 -15 -49 -83 -93 -41 -27 -102 -79 -137 -116 -177 -187 -246 -336 -353 -764 -78 -310 -112 -547 -122 -849 -3 -109 -9 -198 -13 -198 -4 0 -5 -12 -4 -27 29 -290 57 -444 110 -622 98 -327 222 -559 386 -722 145 -145 285 -212 445 -211 163 1 290 60 434 202 440 433 628 1407 442 2295 -76 363 -237 699 -434 906 -24 25 -78 88 -121 140 l-76 94 -67 480 c-36 264 -78 568 -92 675 -15 107 -29 198 -33 202 -3 5 -66 -297 -139 -670z"/>
    <path d="M545 8101 c-92 -41 -194 -198 -248 -381 -67 -224 -92 -420 -91 -715 1 -313 37 -550 117 -765 34 -93 35 -99 40 -280 7 -231 35 -390 113 -631 197 -609 613 -1138 1033 -1314 173 -72 357 -73 495 -3 53 27 140 111 187 180 50 72 94 183 122 301 28 123 30 457 4 612 -127 732 -581 1437 -1081 1676 -146 70 -323 98 -430 68 -48 -13 -45 -18 -96 138 -114 348 -149 750 -94 1091 6 37 4 42 -12 42 -11 0 -37 -9 -59 -19z"/>
    <path d="M7780 8113 c0 -5 7 -57 15 -118 29 -220 17 -476 -36 -738 -26 -134 -95 -371 -118 -405 -7 -11 -19 -11 -70 -1 -232 45 -530 -90 -798 -362 -168 -170 -306 -363 -421 -589 -203 -398 -301 -795 -289 -1165 7 -212 33 -329 107 -479 116 -236 349 -343 609 -280 87 20 268 110 356 176 332 249 633 695 784 1161 89 275 122 464 122 703 0 123 2 133 36 224 43 115 86 305 104 460 17 141 17 497 0 635 -55 449 -193 737 -373 779 -16 3 -28 3 -28 -1z"/>
    <path d="M4006 5069 c-151 -20 -304 -72 -436 -149 -92 -54 -128 -86 -205 -184 -145 -188 -242 -365 -399 -733 -101 -238 -136 -298 -242 -412 -147 -158 -319 -269 -499 -321 -302 -86 -634 -262 -803 -424 -123 -117 -256 -325 -317 -494 -173 -480 -63 -1027 279 -1389 143 -152 273 -236 527 -342 137 -57 209 -73 319 -73 111 1 152 9 320 63 168 55 241 90 416 200 419 263 733 369 1094 369 385 0 757 -124 1195 -396 77 -48 175 -109 218 -135 302 -185 695 -182 1072 9 543 274 818 944 640 1557 -67 230 -170 403 -344 575 -152 152 -206 181 -450 252 -330 95 -509 194 -681 375 -160 167 -196 235 -386 718 -164 415 -177 439 -328 590 -264 264 -628 390 -990 344z"/>
</g>
</svg>
<section id="count_channel" data-game-id="<%= @game.id %>">
<section id="head_wait">
    <h1 class="nunito-bold">Jetzt Spiel beitreten!</h1>
    <h5 class="nunito-regular">peterpitch.com/<%= @game.password %></h5>
</section>
<section id="count" class="count">
    <%= @count %>
</section>
<section id="bottom">
    <div class="ajax-loader">
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
	    <div class="paw"><svg class="icon" viewBox="0 0 840.000000 1119.000000" preserveAspectRatio="xMidYMid meet"><use xlink:href="#paw" /></svg></div>
    </div>
</section>
<section id="user-rain">
</section>
<section id="skip" class="nunito-bold">
   Skip mit Leertaste
</section>


<!-- Button trigger modal -->


<%= audio_tag('wait/ping.mp3', id: 'ping') %>
<%= audio_tag('wait/ringdoor.mp3', id: 'ringdoor') %>
<%= audio_tag('wait/aufgeregt.mp3', id: 'tag1') %>
<%= audio_tag('wait/bereit.mp3', id: 'tag2') %>
<%= audio_tag('wait/kommando.mp3', id: 'tag3') %>
<%= audio_tag('wait/truppe.mp3', id: 'tag4') %>
</section>
<script>
    pick(4);
    $(window).keypress(function (e) {

        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= @game.youtube_url.present? ? gda_youtube_path : gda_choose_path %>');
        };
    });
</script>
<script type="text/javascript">
  <% @acc_users.each do |u| %>
    left1 = Math.random()*80 + 10
    userRain = '<div style="left:' + left1+'%;"><img src="<%= u.findUser.avatar.quad.url %>"></div>'
    $("#user-rain").append(userRain)
  <% end %>
  <% @pending_users.each do |user| %>
    modal = '<div style="display: none; z-index: 10000;"  class="modal modal-email" id="myModalAction<%=user.id.to_s %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog modal-dialog ml-3 modal-dialog-centered mr-3 mr-md-auto" role="document"><div class="modal-content"><div class="modal-header p-2"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body"><div class="mail-box d-flex flex-column flex-md-row align-items-md-center"><div class="mail-box-main d-flex flex-column flex-md-row align-items-md-center"><span class="req-img"><img src="<%= user.avatar.url %>"   /></span><span> <%= "#{user.fname}. #{user.lname}" %></span></div><div class="mail-btn mt-3 mt-md-0"><a class="btn btn-secondary  btn-accept" data-remote=true rel="nofollow" data-method="patch" href="/game_mobile_user/accept_user/<%=user.id.to_s %>">Accept</a><a class="btn btn-primary btn-reject" rel="nofollow" data-remote=true data-method="patch" href="/game_mobile_user/reject_user/<%=user.id.to_s %>">Reject</a></div></div></div></div></div></div>';
                $("body").append(modal)
                $('#myModalAction<%=user.id.to_s %>').show();
  <% end %>
</script>