<% content_for :title, "Peter Pitch - Aktivierungs-Link" %>
<section id="navbar">
    <%= link_to image_tag('landing/logo.png', alt: 'Peter Pitch Logo'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
        <div class="link">
            <%= link_to 'Blog', blog_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <i class="login-link" onclick="showLoginModal()">Login</i>
        </div>
        <div class="link">
            <%= link_to 'Get early access!', contact_path, class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <i class="login-link" onclick="showLoginModal()">Login</i>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="devise_form">
    <h1>Aktivierungs-Link nicht erhalten?</h1>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

    <div class="form-group">
        <% if resource.errors.any? %>
            <div class="error">
                <% resource.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </div>
        <% end %>
        <%= f.email_field :email, placeholder: "Gib deine E-Mail ein!", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-field' %>
    </div>
    <div class="form-group center">
        <%= f.submit "Aktivierungs-Link erneut senden", class: 'btn btn-green' %>
    </div>
    <% end %>
    <div class="links">
    	<%= render "admins/shared/links" %>
    </div>
</section>
<div class="fullscreen-modal" id="loginModal">
    
    <div class="close"><i class="fas fa-times" onclick="showLoginModal()"></i></div>
    <div class="card">
    <%= form_for(:admin, as: Admin, url: session_path(Admin)) do |f| %>
        <h2>Login</h2>
        <div class="form-group ">
            <label for="">Email</label>
            <%= f.email_field :email, class: 'form-field', id: 'loginEmail', required: true  %>
        </div>
        <div class="form-group">
            <label for="">Passwort</label>
            <div class="right"><%= link_to "Passwort vergessen?", new_password_path(Admin) %></div>
            <%= f.password_field :password, class: 'form-field',id: 'loginPassword', required: true  %>
            <br>
        </div>
        <div class="form-group center">
            <%= f.submit 'Login', class: 'btn btn-green', id: "loginButton" %>
        </div>
    <% end %>
    </div>
</div>
<script>
	function showLoginModal() {
        $('#loginModal').toggle();
    }
</script>