<% content_for :title, "Peter Pitch - Blog" %>
<section id="navbar">
    <%= link_to image_tag('landing/logo.png'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
        <div class="link">
            <%= link_to 'Blog', blog_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
            <div class="line"></div>
        </div>
        <div class="link">
        	<i class="login-link" onclick="showLoginModal()">Login</i>
        </div>
    </div>
    <div class="login">
       	<i class="login-link" onclick="showLoginModal()">Login</i>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<% if @blog %>
<div class="blog_card">
	<div class="content">
	<%= image_tag @blog.image? ? @blog.image.url : '' %>
	<h5><%= @blog.created_at.strftime("%d.%m.%Y") %></h5>
	<h1><%= @blog.title %></h1>
	<div class="text">
		<% @blog.text.split(%r{\r\n}).each do |be| %>
			<%= be %> <br>
		<% end %>
	</div>
	<%= link_to 'mehr lesen', show_blog_path(@blog) %>
	</div>
</div>
<% end %>
<section id="blog">
	<% @blogs.each do |b| %>
	<div class="card">
		<%= image_tag b.image? ? b.image.url : '' %>
		<h5><%= b.created_at.strftime("%d.%m.%Y") %></h5>
		<h3>
			<%= b.title %>
			
		</h3>
		<div class="text">
			<% b.text.split(%r{\r\n}).each do |bt| %>
				<%= bt %><br>
			<% end %>
		</div>
		<%= link_to '', show_blog_path(b.id) %>
	</div>
	<% end %>
</section>
<section id="content">
	<section id="beratung">
		<h2>Mache aus deinen Mitarbeitern wahre Wölfe!</h2>
		<div class="text">
			Sprich uns an und erfahre, wie Peter Pitch auch deine Schulungen revolutionieren kann.
		</div>
		<%= link_to 'Beratung vereinbaren!', contact_path, class: 'btn btn-green' %>
	</section>
</section>
<section id="footer" class="wow fadeIn">
    <div class="logo">
        <%= image_tag 'landing/logo.png', alt: 'Peter Pitch Logo' %>
    </div>
    <div class="company">
        <div class="heading">Unternehmen</div>
        <div class="links">
            <%= link_to 'Registrieren', contact_path %>
            <%= link_to 'Preise', contact_path %>
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <%= link_to 'Login', '#login', onclick: 'showLoginModal()' %>
        </div>
    </div>
    <div class="legal">
        <div class="heading">Rechtliches</div>
        <div class="links">
            <%= link_to 'Impressum', impressum_path %>
            <%= link_to 'Datenschutz', datenschutz_path %>
        </div>
    </div>
    <div class="social">
        <%= link_to '', 'https://www.instagram.com/peterpitchcom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-instagram" %>
        <%= link_to '', 'https://www.youtube.com/channel/UCN7MeKNNdXK28uIiJjJ4Fdg', target: "_blank", rel: "noopener noreferrer", class: "fab fa-youtube" %>
        <%= link_to '', 'https://www.facebook.com/PeterPitchCom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-facebook-f" %>
    </div>
</section>
<div class="fullscreen-modal" id="loginModal">
    
    <div class="close"><i class="fas fa-times" onclick="showLoginModal()"></i></div>
    <div class="card">
    <%= form_for(:admin, as: Admin, url: session_path(Admin)) do |f| %>
        <h2>Login</h2>
        <div class="form-group ">
            <label for="">Email</label>
            <%= f.email_field :email, class: 'form-field', id: 'loginEmail', required: true  %>
        </div>
        <div class="form-group">
            <label for="">Passwort</label>
            <div class="right"><%= link_to "Passwort vergessen?", new_password_path(Admin) %></div>
            <%= f.password_field :password, class: 'form-field',id: 'loginPassword', required: true  %>
            <br>
        </div>
        <div class="form-group center">
            <%= f.submit 'Login', class: 'btn btn-green', id: "loginButton" %>
        </div>
    <% end %>
    </div>
</div>
<script>
    function showLoginModal() {
        $('#loginModal').toggle();
    }
</script>