<section id="navbar">
    <%= link_to image_tag('landing/logo.png'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
        <div class="link">
            <%= link_to 'Produkt', '#product' %>
        </div>
        <div class="link">
            <%= link_to 'FAQ', '#faq' %>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
        </div>
        <div class="link">
            <%= link_to 'Login', '#login', class: 'login-link', onclick: 'showLoginModal()' %> 
        </div>
        <div class="link">
            <%= link_to 'Get early access!', contact_path, class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <%= link_to 'Login', '#login', onclick: 'showLoginModal()', class: 'login-link' %>
        <%= link_to 'Get early access', contact_path, class: 'btn btn-white' %>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="content">
    <div class="head">
        <div class="left wow fadeIn">
            <div class="heading-big" id='typed'></div>
            <div id="typed-strings">
                <span>Peter Pitch</span>
                <p>ZurückBlitzer</p>
                <p>ChefTrampolin</p>
                <p>NotrufSocke</p>
            </div>
            <div class="heading-small">Das Blended Learning Tool für<br>Kommunikation und Vertrieb</div>
            <div class="points">
                <div class="point">
                    <i class="fas fa-running"></i>
                    <h1>Training</h1>
                    <h5>Interaktiv und Digital</h5>
                </div>
                <div class="point">
                    <i class="fas fa-chart-line"></i>
                    <h1>Analyse</h1>
                    <h5>Macht Softskills messbar</h5>
                </div>
                <div class="point">
                    <i class="far fa-handshake"></i>
                    <h1>Recruiting</h1>
                    <h5>Testet Bewerber</h5>
                </div>
                <div class="point">
                    <i class="far fa-calendar-check"></i>
                    <h1>Event</h1>
                    <h5>Gamification mit Entertainmentgarantie</h5>
                </div>
            </div>
            <div class="cta">
                <%= link_to 'Get early access', contact_path, class: 'btn btn-green' %>
            </div>
        </div>
        <div class="right wow fadeIn">
            <%= image_tag 'landing/pitch.png' %>
            
        </div>
    </div>
    <%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape1' %>
    <%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape2' %>
    
    
    <div class="wie-geil-ist-das wow fadeIn">
        <h1>Wie geil ist das denn?</h1>
        <h5>Nimm den Spaß in deinem Unternehmen ernst und verwandel dein Meetings in wahre Performance-Booster. Mit Peter Pitch treibst du das Mitarbeiter-Rudel zusammen und machst sogar aus den wackeligsten Welpen wahre Wölfe. Stage is yours!</h5>
        <div class="play-video pulse-shadow"><i class="fas fa-play" onclick="showVideoModal()"></i></div>
    </div>
    <%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape3' %>
    <%= image_tag 'landing/shape.svg', class: 'shape s87 right219', id: 'shape4' %>
    
    
    <div class="references wow fadeIn">
        <h1>Referenzen</h1>
        <div class="logo-wheel">
            <%= image_tag 'logos/instafreight.png' %>
            <%= image_tag 'logos/ergo.png' %>
            <%= image_tag 'logos/tremonia.png' %>
            <%= image_tag 'logos/masterplan.png' %>
        </div>
    </div>
    
    <section id="product">
    <div class="image-text left">
        <div class="image wow fadeIn">
            <%= image_tag 'landing/gamification.gif' %>
        </div>
        <div class="text wow fadeIn">
            <div class="blue">Stage is yours</div>
            <div class="heading">Gamification - Pitch It!</div>
            <div class="content">Gamification bedeutet Spaß in spielfremde & theoretische Situationen einzubringen, wie beispielsweise in Vertriebsschulungen. Mit unserem digitalen Trainingstool und lustigen Catchwords kommen bei deinen Mitarbeitern ungeahnte Potential zum Vorschein. <br>
            <%= link_to 'Get early access!', contact_path , class: 'btn btn-green' %>
            </div>
        </div>
    </div>
    <div class="image-text right">
       <div class="image wow fadeIn">
            <%= image_tag 'landing/interaction.png' %>
        </div>
        <div class="text wow fadeIn">
            <div class="blue">Rate now</div>
            <div class="heading">Interaktion - par excellence</div>
            <div class="content">Frontpräsentationen waren gestern. Durch die interaktive Bewertung jedes Einzelnen, sind alle Mitarbeiter eingebunden und verbessern nicht nur sich selbst, sondern auch das Teamwork. Die Kollegen helfen spielerisch bei der Einschätzung der Fremdwahrnehmung und hieven das Team auf ein neues Level. <br>
            <%= link_to 'Get early access!', contact_path, class: 'btn btn-white' %>
            </div>
        </div>
    </div>
    <div class="image-text left">
        <div class="image wow fadeIn">
            <%= image_tag 'landing/performance.png' %>
        </div>
        <div class="text wow fadeIn">
            <div class="blue">Performance-boost!</div>
            <div class="heading">Controlling - maximale Transparenz</div>
            <div class="content">Wir machen Softskills erstmals messbar. Du behälst den Lernfortschritt deiner Mitarbeiter genau im Auge. Jede Pitch-Performance wird gespeichert und ist jederzeit abrufbar. Erkenne die Stärken und Schwächen und arbeite gezielt an den Fähigkeiten deines Teams. <br>
            <%= link_to 'Get early access!', contact_path, class: 'btn btn-green' %>
            </div>
        </div>
    </div>
    </section>
    
    <div class="testimonials wow fadeIn">
       <div class="heading">
           Testimonials
       </div>
        <div class="slider">
            <div class="circle" id="test_circle1"></div>
            <div class="circle active" id="test_circle2"></div>
            <div class="circle" id="test_circle3"></div>
        </div>
        <div class="cards">
        <div class="card c500" id="card3">
            <div class="text">
                "Erstmals sind Soft Skills messbar. Wir verbessern die wesentlichen Elemente der Kommunikation - spielen leicht."
            </div>
            <div class="people">
                <%= image_tag 'people/krueger.png' %>
                <div class="name">Christian Krüger</div>
                <div class="reference">Tremoniamedia</div>
            </div>
        </div>
        <div class="card" id="card1">
            <div class="text">
                "Die Mitarbeiter lieben es - unsere Schulungen avancieren mit Peter Pitch zu echten Highlights."
            </div>
            <div class="people">
                <%= image_tag 'people/schuett.png' %>
                <div class="name">Daniel Schütt</div>
                <div class="reference">Masterplan.com</div>
            </div>
        </div>
        
        <div class="card" id="card2">
            <div class="text">
                "Was mich von den anderen 8.000 Coaches in Deutschland unterscheided? Peter Pitch."
            </div>
            <div class="people">
                <%= image_tag 'people/seebener.png' %>
                <div class="name">Marc Seebener</div>
                <div class="reference">Coach</div>
            </div>
        </div>
        
        <div class="card" id="card3">
            <div class="text">
                "Erstmals sind Soft Skills messbar. Wir verbessern die wesentlichen Elemente der Kommunikation - spielen leicht."
            </div>
            <div class="people">
                <%= image_tag 'people/krueger.png' %>
                <div class="name">Christian Krüger</div>
                <div class="reference">Tremoniamedia</div>
            </div>
        </div>
        
        <div class="card c500" id="card1">
            <div class="text">
                "Die Mitarbeiter lieben es - unsere Schulungen avancieren mit Peter Pitch zu echten Highlights."
            </div>
            <div class="people">
                <%= image_tag 'people/schuett.png' %>
                <div class="name">Daniel Schütt</div>
                <div class="reference">Masterplan.com</div>
            </div>
        </div>
        </div>
    </div>
    <div class="startnow wow fadeIn">
        Jetzt mit Peter Pitch durchstarten!
        <%= link_to "Let's Pitch", contact_path, class: 'btn btn-white' %>
    </div>
<section id="faq">
    <div class="faq wow fadeIn">
        <div class="heading">Häufige Fragen</div>
        <div class="question-section">
            <div class="question">
                <div class="q" onclick="showFAQ('q1')">
                    Warum sollte ich Peter Pitch nutzen? 
                    <i class="fas fa-plus"></i>
                </div>
                <div class="text fadeIn" id="q1">
                    Als erstes Blended-Learning Tool für Kommunikation und Vertrieb verbindet Peter Pitch die Vorteile digitaler und analoger Lernwelten. Durch den praktischen Trainingsansatz deckt Peter Pitch deine kommunikativen Stärken und Schwächen auf und verbessert durch detailiertes Feedback deine Beratungs- und Verkaufskompetenzen.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q2')">
                    Muss ich mir eine Software herunterladen?
                    <i class="fas fa-plus"></i>
                </div>
                <div class="text fadeIn" id="q2">
                    Nein, es muss kein Programm auf den jeweiligen Endgeräten installiert werden. Peter Pitch ist zu 100% browserbasiert und ohne das Herunterladen von Software direkt einsatzbereit.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q3')">
                    Kann ich Peter Pitch individualisieren?
                    <i class="fas fa-plus"></i>
                </div>
                <div class="text fadeIn" id="q3">
                    Peter Pitch kann im Handumdrehen auf deine Bedürfnisse und individuellen Anforderungen angepasst werden. Neben den angebotenen Catchwords kannst du reale Produkt- und Dienstleistungsnamen in dein Pitch Training integrieren. Darüberhinaus hast du die Möglichkeit das Zeitfenster anzupassen und eigene Einwände zu verfassen.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q4')">
                    Ist Peter Pitch ein E-Learning Tool?
                    <i class="fas fa-plus"></i>
                </div>
                <div class="text fadeIn" id="q4">
                    Jein. Es gibt Kompetenzen die in der reinen Theorie nur schwer vermittelbar sind und umso mehr in der Praxis trainiert werden müssen. Peter Pitch vereint die digitalen UND analogen Lernwelten. Das Lehrziel deiner Schulungsmaßnahme wird so möglichst effizient und effektiv erreicht.
                </div>
            </div>
            <div class="question">
                <div class="q" onclick="showFAQ('q5')">
                    Was kostet Peter Pitch
                    <i class="fas fa-plus"></i>
                </div>
                <div class="text fadeIn" id="q5">
                    Kontaktiere das Peter Pitch-Team für dein individuelles 
                    <%= link_to 'Angebot.', contact_path %>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
<section id="footer">
    <div class="logo">
        <%= image_tag 'landing/logo.png' %>
    </div>
    <div class="company">
        <div class="heading">Unternehmen</div>
        <div class="links">
            <%= link_to 'Registrieren', contact_path %>
            <%= link_to 'Preise', contact_path %>
            <%= link_to 'FAQ', '#faq' %>
            <%= link_to 'Login', '#login', onclick: 'showLoginModal()' %>
            <%= link_to 'Backoffice', login_root_path %>
        </div>
    </div>
    <div class="legal">
        <div class="heading">Rechtliches</div>
        <div class="links">
            <%= link_to 'Impressum', '' %>
            <%= link_to 'Datenschutz', '' %>
            <%= link_to 'AGB', '' %>
        </div>
    </div>
    <div class="social">
        <%= link_to '', '#', class: "fab fa-facebook-f" %>
        <%= link_to '', '#', class: "fab fa-youtube" %>
    </div>
</section>

<div class="fullscreen-modal" id="loginModal">
    <div class="close"><%= link_to '', root_path, class: "fas fa-times" %></div>
    <div class="card">
    <%= form_for(:admin, as: Admin, url: session_path(Admin)) do |f| %>
        <h1>Login</h1>
        <div class="form-group ">
            <%= f.email_field :email, class: 'form-field', id: 'loginEmail',placeholder:"E-Mail eingeben", required: true  %>
            <br>
            <%= f.password_field :password, class: 'form-field',id: 'loginPassword',placeholder:"Passwort eingeben", required: true  %>
            <br>
            <%= f.submit 'Login', class: 'btn btn-green', id: "loginButton" %>
            <br>
        </div>
    <% end %>
    </div>
</div>

<div class="video-modal" id="videoModal">
    <div class="close"><i class="fas fa-times" onclick="showVideoModal()"></i></div>
    <%= video_tag 'gameintro.mp4', id: 'modalVideo' %>
</div>
<script>
    /* Swiping through Testimonials */
    const TEST = document.querySelector('.testimonials');
    TEST.addEventListener('touchstart', handleTouchStart, false);        
    TEST.addEventListener('touchmove', handleTouchMove, false);

    var xDown = null;                                                        
    var yDown = null;

    function getTouches(evt) {
      return evt.touches ||             // browser API
             evt.originalEvent.touches; // jQuery
    }                                                     

    function handleTouchStart(evt) {
        const firstTouch = getTouches(evt)[0];                                      
        xDown = firstTouch.clientX;                                      
        yDown = firstTouch.clientY;                                      
    };                                                

    function handleTouchMove(evt) {
        if ( ! xDown || ! yDown ) {
            return;
        }

        var xUp = evt.touches[0].clientX;                                    
        var yUp = evt.touches[0].clientY;

        var xDiff = xDown - xUp;
        var yDiff = yDown - yUp;

        if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
            var left = TEST.querySelector('.cards').style.left;
            var width = window.getComputedStyle(TEST).getPropertyValue("width");
            if (width == '300px') {
                if ( xDiff > 0 ) {
                    if (left == '-300px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-600px');
                        $("#test_circle3").addClass('active');
                        $("#test_circle2").removeClass('active');
                    } else if (left == '-600px') {
                        TEST.querySelector('.cards').style.setProperty('left', '0px');
                        $("#test_circle1").addClass('active');
                        $("#test_circle3").removeClass('active');
                    } else {
                        TEST.querySelector('.cards').style.setProperty('left', '-300px');
                        $("#test_circle2").addClass('active');
                        $("#test_circle1").removeClass('active');
                    }
                } else {
                    if (left == '-300px') {
                        TEST.querySelector('.cards').style.setProperty('left', '0px');
                        $("#test_circle1").addClass('active');
                        $("#test_circle2").removeClass('active');
                    } else if (left == '0px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-600px');
                        $("#test_circle3").addClass('active');
                        $("#test_circle1").removeClass('active');
                    } else {
                        TEST.querySelector('.cards').style.setProperty('left', '-300px');
                        $("#test_circle2").addClass('active');
                        $("#test_circle3").removeClass('active');
                    }
                }
            } else if (width == '500px') {
                if ( xDiff > 0 ) {
                    if (left == '-500px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-800px');
                        $("#test_circle3").addClass('active');
                        $("#test_circle2").removeClass('active');
                    } else if (left == '-800px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-200px');
                        $("#test_circle1").addClass('active');
                        $("#test_circle3").removeClass('active');
                    } else {
                        TEST.querySelector('.cards').style.setProperty('left', '-500px');
                        $("#test_circle2").addClass('active');
                        $("#test_circle1").removeClass('active');
                    }
                } else {
                    if (left == '-500px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-200px');
                        $("#test_circle1").addClass('active');
                        $("#test_circle2").removeClass('active');
                    } else if (left == '-200px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-800px');
                        $("#test_circle3").addClass('active');
                        $("#test_circle1").removeClass('active');
                    } else {
                        TEST.querySelector('.cards').style.setProperty('left', '-500px');
                        $("#test_circle2").addClass('active');
                        $("#test_circle3").removeClass('active');
                    }
                }
            } else if (width == '700px') {
                if ( xDiff > 0 ) {
                    if (left == '-400px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-700px');
                        $("#test_circle3").addClass('active');
                        $("#test_circle2").removeClass('active');
                    } else if (left == '-700px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-100px');
                        $("#test_circle1").addClass('active');
                        $("#test_circle3").removeClass('active');
                    } else {
                        TEST.querySelector('.cards').style.setProperty('left', '-400px');
                        $("#test_circle2").addClass('active');
                        $("#test_circle1").removeClass('active');
                    }
                } else {
                    if (left == '-400px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-100px');
                        $("#test_circle1").addClass('active');
                        $("#test_circle2").removeClass('active');
                    } else if (left == '-100px') {
                        TEST.querySelector('.cards').style.setProperty('left', '-700px');
                        $("#test_circle3").addClass('active');
                        $("#test_circle1").removeClass('active');
                    } else {
                        TEST.querySelector('.cards').style.setProperty('left', '-400px');
                        $("#test_circle2").addClass('active');
                        $("#test_circle3").removeClass('active');
                    }
                }
            }
        }
        /* reset values */
        xDown = null;
        yDown = null;                                             
    };
    function showVideoModal() {
        if($('#videoModal').is(":hidden")) {
            $('#videoModal').show();
            document.getElementById('modalVideo').play();
        } else {
            $('#videoModal').hide();
            document.getElementById('modalVideo').pause();
        }
    }
    function showLoginModal() {
        $('#loginModal').toggle();
    }
    function showNavLinks() {
        if($('#navLinks').is(":hidden")) {
            $('#navLinks').show();   
        } else {
            $('#navLinks').hide();
        }
    }
    function showFAQ(qid) {
        if(qid == 'q1') {
            $('#q1').toggle();
            $('#q1').addClass('animated');
        } else if(qid == 'q2') {
            $('#q2').toggle();
            $('#q2').addClass('animated');
        } else if(qid == 'q3') {
            $('#q3').toggle();
            $('#q3').addClass('animated');
        } else if(qid == 'q4') {
            $('#q4').toggle();
            $('#q4').addClass('animated');
        } else if(qid == 'q5') {
            $('#q5').toggle();
            $('#q5').addClass('animated');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        var typed = new Typed('#typed', {
            contentType: 'html',
            stringsElement: '#typed-strings',
            startDelay: 300,
            typeSpeed: 100,
            backSpeed: 20,
            backDelay: 700,
            loop: true,
            loopCount: Infinity,
        })

        WOW.prototype.addBox = function(element) {
            this.boxes.push(element);
        };

        // Init WOW.js and get instance
        var wow = new WOW();
        wow.init();

        $('.wow.add-anim').on('scrollSpy:exit', function() {
            $(this).css({
                'visibility': 'hidden',
                'animation-name': 'none'
            }).removeClass('animated');
            wow.addBox(this);
        }).scrollSpy();
    })
</script>