<header class="header custom-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent pb-0 pb-md-2 pt-0 px-0">
            <div class="container">
                <div class="polygon">
                    <span class="polygon-img"><%= image_tag ("polygon.png")%></span>
                    <div class="login-button-wrapper">
                        <a href="#" class="navbar-brand p-0 login-url" data-toggle="modal"
                            data-target="#exampleModalCenterLogin">Login</a>
                    </div>
                    <!-- <a class="navbar-brand p-0" href="#"><%= image_tag ("logo.png") , alt:"IMG"%></a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                        <span class="navbar-toggler-line"></span>
                    </button> -->
                </div>
                <!-- <div class="collapse navbar-collapse flex-column align-items-start" id="navbarSupportedContent">
                    <ul class="navbar-nav navbar-links flex-row justify-content-between d-none">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login Coaches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login Unternehmen</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-list mx-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link login" data-toggle="modal"
                                data-target="#exampleModalCenterLogin">Login</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </nav>
    </header>
    <%= content_for :body_class do %>
    home-page
    <% end %>
    
    <div class="landing-page-content">
        <div class="logo-container">
            <%= image_tag ("logo.png") , alt:"IMG"%>
        </div>
    </div>
    
    
    
    <!-- Modal -->
    
    
    <div class="modal modal-peterpitch fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"
                    style="transform: rotateZ(45deg);">+</button>
                <div class="modal-body">
                    <%= image_tag 'logo-m.png', class: 'login-modal-img' %>
                    <h1>Starte jetzt mit Peter Pitch!</h1>
                    <!--<p>Simple, visual collaboration</p>-->
    
                    <%= form_for(:admin, as: Admin, url: session_path(Admin),:html => {:class => 'modal-form mt-2'}, remote: true, authenticity_token:  true) do |f| %>
                    <div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">
                        <%= f.email_field :email, class: 'form-control mr-sm-3',placeholder:"E-Mail eingeben", required: true  %>
                        <%= f.submit 'Loslegen!', class: 'btn btn-green mt-3 mt-md-0 w-100' %>
                    </div>
                    <% end %>
                    <!--<form class="modal-form mt-2">-->
                    <!-- <div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">-->
                    <!-- <input type="email" class="form-control mr-sm-3" placeholder="Enter your work email">-->
                    <!-- <button type="button" class="btn btn-green mt-3 mt-md-0 w-100">Get Started</button>-->
                    <!-- </div>-->
                    <!-- </form>-->
                    <div class="trail-para d-flex align-items-center justify-content-center">
                        <span class="trail-text-line"></span>
                        <span class="trail-text">Starte deine kostenlose Testversion</span>
                        <span class="trail-text-line"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render partial: 'shared/login_modal' %>
    
    <style>
        .custom-header {
            background: #1dacf1 !important;
            box-shadow: none;
        }
    
        .login-url {
            left: 19vh;
            top: 7vh !important;
            color: #1ddaaf !important;
        }
    
        .landing-page-content {
            height: 100vh;
            background: linear-gradient(#1dacf1 0%, #1a8ed6 51%, #145daa 100%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    
        .navbar-toggler-line {
            background-color: white !important;
        }
    
        @media only screen and (max-width: 991px) {
            .polygon .navbar-brand {
                margin-left: 0 !important;
            }
        }
    </style>
    
    <script>
        $(document).ready(function () {
            $("#exampleModalCenter").on("shown.bs.modal", function (e) {
                e.preventDefault()
                $("#exampleModalCenterLogin").modal("hide");
            })
            $("#exampleModalCenterLogin").on("shown.bs.modal", function (e) {
                e.preventDefault()
                $("#exampleModalCenter").modal("hide");
            })
            $(window).scroll(function () {
                if ($(document).scrollTop() > 50) {
                    $("header").addClass("affix")
                }
                else {
                    $("header").removeClass("affix")
                }
            })
    
        });
        document.addEventListener('DOMContentLoaded', function () {
            var typed = new Typed('#typed', {
                contentType: 'html',
                stringsElement: '#typed-strings',
                startDelay: 300,
                typeSpeed: 100,
                backSpeed: 20,
                backDelay: 700,
                loop: true,
                loopCount: Infinity,
    
            })
    
            WOW.prototype.addBox = function (element) {
                this.boxes.push(element);
            };
    
            // Init WOW.js and get instance
            var wow = new WOW();
            wow.init();
    
            $('.wow.add-anim').on('scrollSpy:exit', function () {
                $(this).css({
                    'visibility': 'hidden',
                    'animation-name': 'none'
                }).removeClass('animated');
                wow.addBox(this);
            }).scrollSpy();
    
        })
    
    </script>