<body>

		<div class="off-canvas-container">
			<% unless admin_signed_in? %>
			<header class="header header-new">
				<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0 pb-0 pb-lg-4 pt-lg-4 px-0">
					<div class="container">
						<div class="polygon">
							<span class="polygon-img"><%= image_tag ("polygon-new.png")%></span>
					  		<a class="navbar-brand p-0" href="#"><%= image_tag ("logo.png")%></a>
					  	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-line"></span>
						    <span class="navbar-toggler-line"></span>
						    <span class="navbar-toggler-line"></span>
						  </button>
					  </div>
					  <div class="collapse navbar-collapse flex-column align-items-start" id="navbarSupportedContent">
					    <ul class="navbar-nav navbar-list ml-auto mb-3 mb-lg-0 mt-2 mt-lg-0">
					      <li class="nav-item">
					       <a class="nav-link" href="/landing/product">Produkt</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link active" href="/admins/register">Login</a>
					      </li>
					    </ul>
					  </div>
					</div>
				</nav>
			</header>
			<% end %>
			<div class="off-canvas">
				<section class="offer-section">
					<div class="container container-narrow">
						<% unless admin_signed_in? %>
						<div class="offer-top text-center">
							<h1 class="section-heading mb-4">Teste <span class="text-green">Pro</span> 30 Tage <span class="text-blue">kostenlos</span></h1>
							<p class="section-para mb-4"><span class="text-grey">Statistiken. Unbegrenzte Spieler. Über 1000 Catchwords.</span></p>
							<div class="row">
								<div class="col-12 col-md-6 offset-md-3">
									<div class="position-relative offer-top-btn">
										<a href="#" class="btn btn-green" data-toggle="modal" data-target="#exampleModalCenter">Jetzt Starten</a>
									 <!-- Modal -->
										<div class="modal modal-peterpitch fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
														<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
															<span aria-hidden="true">&times;</span>
														</button>
												 <div class="modal-body">
                        	<h1>Beginnen Sie mit peterpitch.com</h1>

														<%= form_for(:admin, as: Admin, url: session_path(Admin),:html => {:class => 'modal-form mt-2'}) do |f| %>
															<div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">
																<%= f.email_field :email, class: 'form-control mr-sm-3',placeholder:"Enter your work email", required: true  %>
																<%= f.submit 'Loslegen!', class: 'btn btn-green mt-3 mt-md-0 w-100' %>
															</div>
														<% end %>
													
														<div class="trail-para d-flex align-items-center justify-content-center">
																<span class="trail-text-line"></span>
																<span class="trail-text">Starten Sie Ihre kostenlose Testversion</span>
																<span class="trail-text-line"></span>
														</div>
                     		 </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<% end %>
						<%= form_for :admin, as: Admin, url: plans_path do |f|%>
							<% if admin_signed_in? %>
							<div class="row">
								<div class="col-12 col-md-6 pl-lg-5 offset-md-3">
									<div class="d-flex flex-column flex-sm-row justify-content-center mb-4">
											<%= f.number_field  :plan_users, class: 'team-form-control w-100', placeholder: 'Enter No of Team Members'%>
									</div>
									<div class="d-flex flex-column flex-sm-row justify-content-center">
										<label class="radiobtn-box mt-3 mt-sm-0">jährliche Abrechnung
										<%= f.radio_button :plan_type ,"year",  :checked => 'checked' %>
											<span class="checkmark"></span>
										</label>
										<label class="radiobtn-box mt-3 mt-sm-0">monatliche Abrechnung
										<%= f.radio_button :plan_type, "month" %>

											<span class="checkmark"></span>
										</label>
									</div>
								</div>
							</div>
							<% end %>
	
							<div class="offer-block mt-5 pt-1">
								<div class="row">
									<% unless admin_signed_in? %>
									<div class="col-12 col-md-6 pr-lg-5 ">
										<div class="offer-box offer-free mb-4">
											<div class="offer-box-head d-flex align-items-center justify-content-center">
												<h2>Free</h2>
											</div>
											<div class="offer-box-detail">
												<div class="price-content text-center">
													<h2>0€</h2>
												</div>
												<ul class="offer-list blue-list">
													<li>unbegrenzte Anzahl Spiele</li>
													<li>unbegrenzte Anzahl Spieler</li>
													<li>50 Catchwords inklusive</li>
												</ul>
											</div>
										</div>
									</div>
									<% end %>
									<div class="col-12 col-md-6 pl-lg-5 <%= admin_signed_in? ? 'offset-md-3' : '' %>">
										<div class="offer-box offer-pro mb-4">
											<div class="offer-box-head d-flex align-items-center justify-content-center">
												<h2>Pro</h2>
											</div>
											<div class="offer-box-detail">
												<div class="price-content text-center">
													<h2 id="value_monthly">7,15€</h2>
													<p>Pro aktivem Nutzer pro Monat<br> bei jährlicher Abrechnung</p>
												</div>
												<ul class="offer-list green-list">
													<li>unbegrenzte Anzahl Spiele</li>
													<li>unbegrenzte Anzahl Spieler</li>
													<li>über 1000 Catchwords</li>
													<li>Game-Feature Einwandbehandlung</li>
													<li>Performance-Statistiken aller Spieler</li>
													<li>individuelles Company Branding im Game</li>
													<li>Pro Support (eigener Ansprechpartner)</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center mt-4 pb-4">
							<% if admin_signed_in? %>
								<a href="/admins/dash/billing" class="btn btn-green">Go back</a>
							<% end %>
								<%= f.submit 'Paket auswählen', class: 'btn btn-green' %>
							</div>
						<%end%>
						<% unless admin_signed_in? %>
						<div class="price-signup-portion position-relative d-flex justify-content-center align-items-center">
							<div class="decoration-set decoration-left mr-1 mr-sm-2">
								<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
									<title>signup decoration - left</title>
									<g fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 34.731 17.932)" x="31.731" y="6.932" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 22.098 38.547)" x="19.098" y="27.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 34.766 60.068)" x="31.766" y="48.068" width="6" height="24" rx="3"></rect></g>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</svg>
							</div>
							<%= form_for(:admin, as: Admin, url: session_path(Admin) ) do |f| %>
								<div class="pricing-signup po d-flex flex-column flex-md-row align-items-md-center">
									
										<div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">
											<%= f.email_field :email, class: 'form-control mr-sm-3',placeholder:"Business E-mail Address", required: true  %>
											<%= f.submit 'Jetzt Anmelden!', class: 'btn btn-green' %>
										</div>
								</div>
							<% end %>
							<div class="decoration-set decoration-right ml-1 ml-sm-2">
								<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
									<title>signup decoration - right</title>
									<g transform="matrix(-1 0 0 1 47 9)" fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 23.731 8.932)" x="20.731" y="-2.068" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 11.098 29.547)" x="8.098" y="18.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 23.766 51.068)" x="20.766" y="39.068" width="6" height="24" rx="3"></rect></g>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</svg>
							</div>
						</div>
						<% end %>
					</div>
				</section>
				<% unless admin_signed_in? %>
				<section class="questions-section">
					<div class="container">
						<h1 class="section-heading text-center"><span class="text-grey">Häufige</span> Fragen</h1>
						<div class="accordion questions-accordian" id="accordionExample">
						  <div class="card card-questions">
						    <div class="card-header" id="headingOne">
						      <h4 class="mb-0">
						      	Wer steht hinter Peter Pitch?
						      </h4>
						      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					        	<%= image_tag ("plus-icon.png")%>
					        </button>
						    </div>
						    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div>
						  </div>
						  <div class="card card-questions">
						    <div class="card-header" id="headingTwo">
						      <h4 class="mb-0">
						      	Wer steht hinter Peter Pitch?
						      </h4>
						      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					         <%= image_tag ("plus-icon.png")%>
					        </button>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div>
						  </div>
						  <div class="card card-questions">
						    <div class="card-header" id="headingThree">
						      <h4 class="mb-0">
						      	Wer steht hinter Peter Pitch?
						      </h4>
						      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          <%= image_tag ("plus-icon.png")%>

					        </button>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div>
						  </div>
						  <div class="card card-questions">
						    <div class="card-header" id="headingFour">
						      <h4 class="mb-0">
						      	Wer steht hinter Peter Pitch?
						      </h4>
						      <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					          <%= image_tag ("plus-icon.png")%>

					        </button>
						    </div>
						    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
						      <div class="card-body">
						        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
						      </div>
						    </div>
						  </div>
						</div>
					</div>
				</section>
				<section class="training-section my-4 my-md-5 pt-md-3 pb-md-3">
					<div class="container pb-5">
						<div class="training-block d-flex flex-column flex-lg-row align-items-md-center justify-content-lg-between">
							<div class="training-text pr-lg-5 mr-lg-3">
								<h2>Starte heute mit Peter Pitch</h2>
								<p>Keine Angst, Wölfe beißen nicht. Die wollen nur spielen. Teste kostenlos für 30 Tage Peter Pitch PRO.</p>
							</div>
							<div class="training-btns text-center mt-4 mt-lg-0">
								<a href="#" class="btn btn-green" data-toggle="modal" data-target="#exampleModalCenter">Los geht's</a>
						   <!-- Modal -->
										<div class="modal modal-peterpitch fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
														<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
													<div class="modal-body">
														<h1>Get Started With peterpitch.com</h1>

														<%= form_for(:admin, as: Admin, url: session_path(Admin),:html => {:class => 'modal-form mt-2'}) do |f| %>
																<div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">
															<%= f.email_field :email, class: 'form-control mr-sm-3',placeholder:"Enter your work email", required: true  %>
															<%= f.submit 'Get Started!', class: 'btn btn-green mt-3 mt-md-0 w-100' %>
																</div>
															<% end %>
															
														<div class="trail-para d-flex align-items-center justify-content-center">
																<span class="trail-text-line"></span>
																<span class="trail-text">Start your free trial</span>
																<span class="trail-text-line"></span>
														</div>
													</div>
												</div>
											</div>
										</div>
							</div>
						</div>
					</div>
				</section>
				<% end %>
			</div>
			<% unless admin_signed_in? %>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-2">
							<ul class="social-list mb-4 mb-lg-0">
								<li><a href="#"><%= image_tag ("facebook.svg")%></a></li>
								<li><a href="#"><%= image_tag ("youtube.svg")%></a></li>
							</ul>
						</div>
						<div class="col-12 col-md-4 col-lg-3">
							<label class="footer-label">Unternehmen</label>
							<ul class="footer-list">
								<li><a href="#">Registrieren</a></li>
								<li><a href="#">Preise</a></li>
								<li><a href="#">Information</a></li>
								<li><a href="#">Login</a></li>
							</ul>
						</div>
						<div class="col-12 col-md-4 col-lg-3">
							<label class="footer-label">Rechtliches</label>
							<ul class="footer-list">
								<li><a href="#">Impressum</a></li>
								<li><a href="#">Datenshutz</a></li>
								<li><a href="#">AGB</a></li>
							</ul>
						</div>
						<div class="col-12 col-md-4 col-lg-4">
							<p class="footer-intro text-md-right">made with <span class="d-inline-block mx-1"> <%= image_tag ("pas-white.png"), alt:"IMG" %></span> in Dortmund</p>
						</div>
					</div>
				</div>
			</footer>
			<% end %>

		</div>

	</body>

<script>
    $(document).ready(function(){
        $(window).scroll(function(){
            if ($(document).scrollTop()>50) {
                $("header").addClass("affix")
            }
            else{
                $("header").removeClass("affix")
            }
        })

		});
		$('input[type="radio"]').on('change', function(){
		debugger
		if (	$(this).val() == "month" ) {
			document.getElementById("value_monthly").textContent = '8,85€'
			//  a =$("#monthly").attr("value")=='checked'

		}else if( $(this).val() == "year" )  {
      document.getElementById("value_monthly").textContent = '7,15€'
		}
		
    });
</script>
