<body>

		<div class="off-canvas-container">

			<header class="header header-new">
				<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0 pb-0 pb-lg-4 pt-lg-4 px-0">
					<div class="container">
						<div class="polygon">
							<span class="polygon-img"><%= image_tag ("polygon-new.png")%></span>
					  	<a class="navbar-brand p-0" href="#"><%= image_tag ("logo.png"), alt:"IMG"%></a>
					  	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						    <span class="navbar-toggler-line"></span>
						    <span class="navbar-toggler-line"></span>
						    <span class="navbar-toggler-line"></span>
						  </button>
					  </div>
					  <div class="collapse navbar-collapse flex-column align-items-start" id="navbarSupportedContent">
					    <ul class="navbar-nav navbar-list ml-auto mb-3 mb-lg-0 mt-2 mt-lg-0">
					       <li class="nav-item">
					      <a class="nav-link" href="/landing/price">Pricing</a>
					      </li>
					      <li class="nav-item">
					        <a class="nav-link active" href="/admins/register">Login</a>
					      </li>
					    </ul>
					  </div>
					</div>
				</nav>
			</header>
			<div class="off-canvas">
				<section class="product-head offer-section">
					<div class="container container-narrow">
						<div class="offer-top text-center">
							<h1 class="section-heading mb-4">Hey Wolf.</h1>
							<p class="section-para mb-4"><span class="text-grey">Willst du ein Spiel mit mir spielen?</span></p>
							<div class="row">
								<div class="col-12 col-md-6 offset-md-3">
									<div class="position-relative">
										<a href="#" class="btn btn-green" data-toggle="modal" data-target="#exampleModalCenter">Jetzt Starten</a>
									<!-- Modal -->
										<div class="modal modal-peterpitch fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
														<button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
													<div class="modal-body">
                        								<h1>Beginnen Sie mit peterpitch.com</h1>

														<%= form_for(:admin, as: Admin, url: session_path(Admin),:html => {:class => 'modal-form mt-2'}) do |f| %>
															<div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">
																<%= f.email_field :email, class: 'form-control mr-sm-3',placeholder:"Enter your work email", required: true  %>
																<div class="d-inline-block w-100">
																	<%= f.submit 'Loslegen!', class: 'btn btn-green mt-3 mt-md-0 w-100' %>
																</div >
															</div>
														<% end %>
													
														<div class="trail-para d-flex align-items-center justify-content-center">
																<span class="trail-text-line"></span>
																<span class="trail-text">Starten Sie Ihre kostenlose Testversion</span>
																<span class="trail-text-line"></span>
														</div>
                     								</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="product-content mt-lg-4 pt-5 pt-lg-2">
					<div class="container container-narrow">
						<div class="product-block product-block-starten text-center">
							<div class="product-img position-relative">
								<span class="d-flex align-items-center justify-content-center">
                                <%= image_tag ("product-1.png"), alt:"IMG"%></span>
								<div class="decoration-set decoration-left mr-1 mr-sm-2">
									<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
										<title>signup decoration - left</title>
										<g fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 34.731 17.932)" x="31.731" y="6.932" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 22.098 38.547)" x="19.098" y="27.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 34.766 60.068)" x="31.766" y="48.068" width="6" height="24" rx="3"></rect></g>
									</svg>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</div>
							</div>
							<div class="product-detail">
								<p class="text-grey mt-3 mb-5">Spielgruppe erstellen, Passwort vergeben - und auf geht’s!</p>
								<div class="dot-vertical d-flex justify-content-center flex-column align-items-center">
									<div class="dot-box dot-box-blue"></div>
									<div class="dot-box dot-box-green"></div>
									<div class="dot-box dot-box-blue"></div>
								</div>
							</div>
						</div>
						<div class="product-block product-block-beit text-center">
							<div class="product-img position-relative">
								<span class="d-flex align-items-center justify-content-center"> <%= image_tag ("product-2.png"), alt:"IMG"%></span>
								<div class="decoration-set decoration-right ml-1 ml-sm-2">
									<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
										<title>signup decoration - right</title>
										<g transform="matrix(-1 0 0 1 47 9)" fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 23.731 8.932)" x="20.731" y="-2.068" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 11.098 29.547)" x="8.098" y="18.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 23.766 51.068)" x="20.766" y="39.068" width="6" height="24" rx="3"></rect></g>
									</svg>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</div>
							</div>
							<div class="product-detail">
								<p class="text-grey mt-3 mb-4 pl-md-5">Spielgruppe erstellen, Passwort vergeben - und auf geht’s!</p>
								<div class="dot-vertical d-flex justify-content-center flex-column align-items-end">
									<div class="dot-box dot-box-green"></div>
									<div class="dot-box dot-box-blue"></div>
									<div class="dot-box dot-box-green"></div>
								</div>
							</div>
						</div>
						<div class="product-block product-block-akku text-center">
							<div class="product-img position-relative">
								<span class="d-flex align-items-center justify-content-center">
                                <%= image_tag ("product-3.png"), alt:"IMG"%></span>
								<div class="decoration-set decoration-left mr-1 mr-sm-2">
									<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
										<title>signup decoration - left</title>
										<g fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 34.731 17.932)" x="31.731" y="6.932" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 22.098 38.547)" x="19.098" y="27.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 34.766 60.068)" x="31.766" y="48.068" width="6" height="24" rx="3"></rect></g>
									</svg>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</div>
							</div>
							<div class="product-detail">
								<p class="text-grey mt-3 mb-4 pr-md-5">Spielgruppe erstellen, Passwort vergeben - und auf geht’s!</p>
								<div class="dot-vertical d-flex justify-content-center flex-column align-items-start">
									<div class="dot-box dot-box-blue"></div>
									<div class="dot-box dot-box-green"></div>
									<div class="dot-box dot-box-blue"></div>
								</div>
							</div>
						</div>
						<div class="product-block product-block-beit pb-beit-s text-center">
							<div class="product-img position-relative">
								<span class="d-flex align-items-center justify-content-center">
                                <%= image_tag ("product-2.png"), alt:"IMG"%></span>
								<div class="decoration-set decoration-right ml-1 ml-sm-2">
									<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
										<title>signup decoration - right</title>
										<g transform="matrix(-1 0 0 1 47 9)" fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 23.731 8.932)" x="20.731" y="-2.068" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 11.098 29.547)" x="8.098" y="18.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 23.766 51.068)" x="20.766" y="39.068" width="6" height="24" rx="3"></rect></g>
									</svg>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</div>
							</div>
							<div class="product-detail">
								<p class="text-grey mt-3 mb-4 pl-md-5">Spielgruppe erstellen, Passwort vergeben - und auf geht’s!</p>
								<div class="dot-vertical d-flex justify-content-center flex-column align-items-end">
									<div class="dot-box dot-box-green"></div>
									<div class="dot-box dot-box-blue"></div>
									<div class="dot-box dot-box-green"></div>
								</div>
							</div>
						</div>
						<div class="product-block product-block-starten pb-starten-s text-center mt-4">
							<div class="product-img position-relative">
								<span class="d-flex align-items-center justify-content-center">
                                <%= image_tag ("product-1.png"), alt:"IMG"%></span>
								<div class="decoration-set decoration-left mr-1 mr-sm-2">
									<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
										<title>signup decoration - left</title>
										<g fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 34.731 17.932)" x="31.731" y="6.932" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 22.098 38.547)" x="19.098" y="27.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 34.766 60.068)" x="31.766" y="48.068" width="6" height="24" rx="3"></rect></g>
									</svg>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</div>
							</div>
							<div class="product-detail">
								<p class="text-grey mt-3 mb-5">Spielgruppe erstellen, Passwort vergeben - und auf geht’s!</p>
								<div class="dot-vertical d-flex justify-content-center flex-column align-items-center">
									<div class="dot-box dot-box-blue"></div>
									<div class="dot-box dot-box-green"></div>
									<div class="dot-box dot-box-blue"></div>
								</div>
								<p class="text-grey mt-3">Bereit für</p>
							</div>
						</div>
					</div>
				</section>
				<div class="fleischKissen-block d-inline-block w-100">
					<div class="container">
						<h1 class="section-heading mb-4 mt-3 text-grey text-center">FleischKissen?</h1>
						<div class="price-signup-portion position-relative d-flex justify-content-center align-items-center mt-4 pt-2">
							<div class="decoration-set decoration-left mr-1 mr-sm-2">
								<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
									<title>signup decoration - left</title>
									<g fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 34.731 17.932)" x="31.731" y="6.932" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 22.098 38.547)" x="19.098" y="27.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 34.766 60.068)" x="31.766" y="48.068" width="6" height="24" rx="3"></rect></g>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</svg>
							</div>
							<%= form_for(:admin, as: Admin, url: session_path(Admin) ) do |f| %>
								<div class="pricing-signup po d-flex flex-column flex-md-row align-items-md-center">
									
										<div class="form-group d-flex flex-column flex-md-row align-items-center justify-content-between">
											<%= f.email_field :email, class: 'form-control mb-3 mb-md-0 mr-md-3',placeholder:"Business E-mail Address", required: true  %>
											<%= f.submit 'Jetzt Anmelden!', class: 'btn btn-green' %>
										</div>
									
								</div>
							<% end %>
							<div class="decoration-set decoration-right ml-1 ml-sm-2">
								<svg width="58" height="72" viewBox="0 0 61 77" xmlns="http://www.w3.org/2000/svg">
									<title>signup decoration - right</title>
									<g transform="matrix(-1 0 0 1 47 9)" fill="#1ddaaf" fill-rule="evenodd"><rect transform="rotate(-55 23.731 8.932)" x="20.731" y="-2.068" width="6" height="22" rx="3"></rect><rect transform="rotate(-88 11.098 29.547)" x="8.098" y="18.547" width="6" height="22" rx="3"></rect><rect transform="rotate(-122 23.766 51.068)" x="20.766" y="39.068" width="6" height="24" rx="3"></rect></g>
									<span class="dot-pin dot-pin-t"></span>
									<span class="dot-pin dot-pin-b"></span>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-2">
							<ul class="social-list mb-4 mb-lg-0">
								<li><a href="#"><%= image_tag ("facebook.svg")%></a></li>
								<li><a href="#"><%= image_tag ("youtube.svg")%></a></li>
							</ul>
						</div>
						<div class="col-12 col-md-4 col-lg-3">
							<label class="footer-label">Unternehmen</label>
							<ul class="footer-list">
								<li><a href="#">Registrieren</a></li>
								<li><a href="/landing/price">Preise</a></li>
								<li><a href="#">Information</a></li>
								<li><a href="#">Login</a></li>
							</ul>
						</div>
						<div class="col-12 col-md-4 col-lg-3">
							<label class="footer-label">Rechtliches</label>
							<ul class="footer-list">
								<li><a href="#">Impressum</a></li>
								<li><a href="#">Datenshutz</a></li>
								<li><a href="#">AGB</a></li>
							</ul>
						</div>
						<div class="col-12 col-md-4 col-lg-4">
							<p class="footer-intro text-md-right">made with <span class="d-inline-block mx-1"><%= image_tag ("pas-white.png") ,alt:"IMG"%>     </span> in Dortmund</p>
						</div>
					</div>
				</div>
			</footer>

		</div>

	</body>
