<% content_for :title, "Peter Pitch - " + @blog.title %>
<section id="navbar">
    <%= link_to image_tag('landing/logo.png', alt: 'Peter Pitch Logo'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
        <div class="link">
            <%= link_to 'Blog', blog_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
            <div class="line"></div>
        </div>
        <div class="link">
          	<i class="login-link" onclick="showLoginModal()">Login</i>
        </div>
        <div class="link">
            <%= link_to 'Demo vereinbaren', contact_path("", subject: "demo"), class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <i class="login-link" onclick="showLoginModal()">Login</i>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="blog-entry">
	<div class="head">
		<h1><%= @blog.title %></h1>
	</div>
	<%= image_tag @blog.image? ? @blog.image.url : '' %>
	
	<div class="blog">
		<div class="text">
			<% @blog.text.split(%r{\r\n}).each do |bt| %>
				<%= bt %><br>
			<% end %>
		</div>
		<% @blog.blog_paragraphs.each do |bp| %>
		<h4><%= bp.title %></h4>
		<div class="text">
			<% bp.text.split(%r{\r\n}).each do |bt| %>
				<%= bt %><br>
			<% end %>
		</div>
		<% end %>
		<%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape1', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s153', id: 'shape2', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s310', id: 'shape3', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape4', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s310', id: 'shape5', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape6', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape7', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s153', id: 'shape8', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s310', id: 'shape9', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape10', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape11', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s153', id: 'shape12', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s310', id: 'shape13', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape14', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape15', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s153', id: 'shape16', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s310', id: 'shape17', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s153', id: 'shape18', alt: '' %>
    	<%= image_tag 'landing/shape.svg', class: 'shape s310', id: 'shape19', alt: '' %>
    	<%= image_tag 'landing/shape_green.svg', class: 'shape s153', id: 'shape20', alt: '' %>
	</div>
</section>
<section id="social-links">
	<%= link_to '', 'https://www.instagram.com/peterpitchcom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-instagram" %>
   <%= link_to '', 'https://www.youtube.com/channel/UCN7MeKNNdXK28uIiJjJ4Fdg', target: "_blank", rel: "noopener noreferrer", class: "fab fa-youtube" %>
   <%= link_to '', 'https://www.facebook.com/PeterPitchCom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-facebook-f" %>
</section>
<h2 style="text-align: center">Weitere Artikel</h2>
<section id="blog">
		<% @blogs.each do |b| %>
		<div class="card">
		<%= image_tag b.image? ? b.image.url : '' %>
		
		<h5><%= b.created_at.strftime("%d.%m.%Y") %></h5>
		<h3>
			<%= b.title %>
			
		</h3>
		<div class="text">
			<% b.text.split(%r{\r\n}).each do |bt| %>
				<%= bt %><br>
			<% end %>
		</div>
		<%= link_to '', show_blog_path(b.id) %>
		</div>
		<% end %>
</section>
<section id="footer" class="wow fadeIn">
    <div class="logo">
        <%= image_tag 'landing/logo.png', alt: 'Peter Pitch Logo' %>
    </div>
    <div class="company">
        <div class="heading">Unternehmen</div>
        <div class="links">
            <%= link_to 'Registrieren', contact_path %>
            <%= link_to 'Preise', contact_path %>
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <%= link_to 'Login', '#login', onclick: 'showLoginModal()' %>
        </div>
    </div>
    <div class="legal">
        <div class="heading">Rechtliches</div>
        <div class="links">
            <%= link_to 'Impressum', impressum_path %>
            <%= link_to 'Datenschutz', datenschutz_path %>
        </div>
    </div>
    <div class="social">
        <%= link_to '', 'https://www.instagram.com/peterpitchcom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-instagram" %>
        <%= link_to '', 'https://www.youtube.com/channel/UCN7MeKNNdXK28uIiJjJ4Fdg', target: "_blank", rel: "noopener noreferrer", class: "fab fa-youtube" %>
        <%= link_to '', 'https://www.facebook.com/PeterPitchCom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-facebook-f" %>
    </div>
</section>
<div class="fullscreen-modal" id="loginModal">
    
    <div class="close"><i class="fas fa-times" onclick="showLoginModal()"></i></div>
    <div class="card">
    <%= form_for(:admin, as: Admin, url: session_path(Admin)) do |f| %>
        <h2>Login</h2>
        <div class="form-group ">
            <label for="">Email</label>
            <%= f.email_field :email, class: 'form-field', id: 'loginEmail', required: true  %>
        </div>
        <div class="form-group">
            <label for="">Passwort</label>
            <div class="right"><%= link_to "Passwort vergessen?", new_password_path(Admin) %></div>
            <%= f.password_field :password, class: 'form-field',id: 'loginPassword', required: true  %>
            <br>
        </div>
        <div class="form-group center">
            <%= f.submit 'Login', class: 'btn btn-green', id: "loginButton" %>
        </div>
    <% end %>
    </div>
</div>
<script>
    function showLoginModal() {
        $('#loginModal').toggle();
    }
</script>