<section id="navbar">
    <%= link_to image_tag('landing/logo.png'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
        <div class="link">
            <%= link_to 'Produkt', root_path(anchor: 'product') %>
        </div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
        </div>
        <div class="link">
            <%= link_to 'Login', root_path(anchor: 'login'), class: 'login-link' %> 
        </div>
        <div class="link">
            <%= link_to 'Get early access!', contact_path, class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <%= link_to 'Login', root_path(anchor: 'login'), class: 'login-link' %>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="contact">
    <h1>Resend unlock instructions</h1>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

        <div class="form-group">
            <% if resource.errors.any? %>
            <div class="error">
                <% resource.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </div>
            <% end %>
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-field' %>
        </div>
        <div class="form-group center">
            <%= f.submit "Resend unlock instructions", class: 'btn btn-green' %>
        </div>
        <%= render "admins/shared/links" %>
    <% end %>
</section>