<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">Tolle Runde!</h1>
</div>
<div class="middle">
    <div class="circle" id="ges">
        <%= image_tag @user.avatar.quad.url, class: 'mid-img' %>
    </div>
    <%= image_tag 'game/polygon.png', class: 'pol' %>
    <div class="rating" id='ges_text'>?</div>
</div>
<div class="bottom links">
    <a href="<%= gmu_ended_game_path %>" class="pol-bg" style="display: inline;" data-confirm="Bist du sicher, dass du nicht weiterpitchen möchtest?"><i class="fas fa-times"></i></a>
    <a type="button" class="pol-bg" style="display: inline;" onclick="showModal()"><i class="fas fa-share-alt"></i></a>
</div>
<!-- Modal -->
<% if @turn_rating %>
    <div id="shareModal">
        <button type="button" class="close modal-close" id="close" onclick="closeModal()" aria-label="Close" style="transform: rotateZ(45deg);">+</button>
        <div class="header nunito-bold">
            - Teile dein Ergebnis -
        </div>
        <div class="links1">
            <%= social_share_button_tag('Ich habe ' + @word.name + ' gepitcht. Mein Pitchscore war ' + (@turn_rating.ges/ 10.0).to_s + ' ! Wie gut bist du?', :url => "https://www.peterpitch.com", desc: 'Mein Pitchscore ist ' + (@turn_rating.ges/ 10.0).to_s + ' ! Wie gut bist du?', :allow_sites => %w(twitter linkedin Xing)) %>
        </div>
        <div class="links2">
            <%= social_share_button_tag('Ich habe ' + @word.name + ' gepitcht. Mein Pitchscore war ' + (@turn_rating.ges/ 10.0).to_s + ' ! Wie gut bist du? https://www.peterpitch.com', :url => "https://www.peterpitch.com", desc: 'Mein Pitchscore ist ' + (@turn_rating.ges/ 10.0).to_s + ' ! Wie gut bist du?', :allow_sites => %w(whatsapp_app facebook)) %>
        </div>
    </div>

    <script>
	checkOrientation();
 	window.addEventListener('resize', checkOrientation);
    setTimeout(function() {
      ratecircle('#ges', 'ges_text', <%= @turn_rating.ges / 100.0 %>);
      $('.mid-img').addClass('pulse');
    }, 1500);
    function showModal() {
        $('#shareModal').show();
    }
    function closeModal() {
        $('#shareModal').hide();
    }
    </script>
<% end %>