<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1>Who is next?</h1>
</div>
<div class="middle">
    <%= image_tag @turn1.findUser.avatar.quad.url, class: 'mid-img-left blue' %>
    <%= image_tag @turn2.findUser.avatar.quad.url, class: 'mid-img-right blue' %>
    <%= link_to '', gmu_choosen_path(@turn1),class: 'mid-img-left' %>
    <%= link_to '', gmu_choosen_path(@turn2), class: 'mid-img-right' %>
</div>
<div class="bottom">
</div>