<div id="content">
    <div class="head">
        <div class="h100">Wie heißt du?</div>
    </div>
    <%= form_for(:user, url: gmu_new_name_path, html: {autocomplete: 'off'}) do |f| %>
    <div class="middle">
       <div class="row">
        <div class="col-12">
        <%= f.text_field :fname, placeholder: 'Vorname', class: 'form-field' %>
        </div>
        </div><div class="row">
        <div class="col-12">
        <%= f.text_field :lname, placeholder: 'Nachname', class: 'form-field', onchange: 'enterName()' %>
        </div>
        </div>
    </div>
    <div class="bottom">
        <%= link_to "weiter!", '', class: 'link', id: 'fake' %>
        <%= f.submit 'weiter!', class: 'link pulse', id: 'summit', style: 'display: none' %>
    </div>
    <% end %>
</div>

<% if @game %>
  <div id='game_channel' data-game-id="<%= @game.id %>"></div>
<% end %>


<script>
    function enterName() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>