<div id="content">
    <div class="head">
        <div class="h100">Dein Passwort?</div>
    </div>
    <%= form_for(:user, url: gmu_new_password_path, html: {autocomplete: 'off'}) do |f| %>
    <div class="middle">
      <div class="row">
       <div class="col-12">
        <%= f.password_field :password, placeholder: 'Passwort festlegen', class: 'form-field', onchange: 'enterPassword()' %>
        </div>
        </div>
    </div>
    <div class="bottom">
        <%= link_to 'weiter!', '', class: 'link', id: 'fake' %>
        <%= f.submit 'weiter!', class: 'link pulse', id: 'summit', style: 'display: none' %>
    </div>
    <% end %>
</div>

<% if @game %>
  <div id='game_channel' data-game-id="<%= @game.id %>"></div>
<% end %>

<script>
    function enterPassword() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>