<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<% if @user.avatar? %>
<div class="head">
    <h1 class="nunito-bold">Wow!</h1>
    <h3 class="nunito-regular">Dr端cke auf "weiter" oder auf das <br> Bild f端r einen neuen Versuch!</h3>
</div>
<% else %>
<div class="head">
    <h1 class="nunito-bold">Bild hinzuf端gen!</h1>
    <h3 class="nunito-regular">Dr端cke das Plus, um ein Foto zu machen oder ein bestehendes Bild von dir hochzuladen.</h3>
</div>
<% end %>
<div class="middle">
    <%= form_for(:user, url: gmu_new_avatar_path) do |f| %>
    <% if @user.avatar? %>
    <label for="user_avatar" id="user_pic">
        <%= image_tag @user.avatar.quad.url, class: 'mid-img blue' %>
    </label>
        
       
        <div class="add">
          <i class="fas fa-check-circle"></i>
        </div>

        
      <% else %>
        <label for="user_avatar" id='user_pic'>
          <%= image_tag 'game/plus.png', class: 'mid-img pulse' %>
        </label>
      <% end %>
      <%= f.file_field :avatar, onchange: 'auto()' %>
      <%= f.submit '', style: 'display:none'%>
    <% end %>
  </div>
  <% if @user.avatar? %>
    <%= form_for(:user, url: gmu_new_turn_path, method: 'get') do |f| %>

    <div class="bottom bottom-play">
      <%= render partial: 'toggle_for_rate' %>
    </div>
    <div class="bottom">
    	<%= f.submit 'weiter!', class: 'link pulse nunito-regular' %>
    </div>
    <% end %>
<% end %>

<script>
function auto() {
    $('form').submit();
    $("form").replaceWith("<div class='spinner spinner1'></div>");
}
</script>