<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1>Wie heißt du?</h1>
</div>
<%= form_for(:user, url: gmu_new_name_path, html: {autocomplete: 'off'}) do |f| %>
<div class="middle-form">
    <div class="row">
        <div class="col-12">
            <%= f.text_field :fname, placeholder: 'Vorname', class: 'form-field' %>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <%= f.text_field :lname, placeholder: 'Nachname', class: 'form-field', onchange: 'enterName()' %>
        </div>
    </div>
</div>
<div class="bottom">
    <%= link_to "weiter!", '', class: 'link', id: 'fake' %>
    <%= f.submit 'weiter!', class: 'link pulse', id: 'summit', style: 'display: none' %>
</div>
<% end %>


<script>
    function enterName() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>