<div id="content">
    <div class="head">
      <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
        
      <div class="h100">In welcher Firma <br> arbeitest du?</div>
    </div>
    <%= form_for(:user, url: gmu_new_company_path, html: {autocomplete: 'off'}) do |f| %>
    <div class="middle">
       <div class="row">
        <div class="col-12">
        <%= f.text_field :company_name, placeholder: 'Firma', class: 'form-field' %>
        </div>
        </div>
    </div>
    <div class="bottom">
        <%= f.submit 'weiter!', class: 'link pulse' %>
    </div>
    <% end %>
</div>

<% if @game %>
  <div id='game_channel' data-game-id="<%= @game.id %>"></div>
<% end %>