<div id="content">
    <div class="head">
      <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
        
        <div class="h100">Dein Passwort?</div>
    </div>
    <%= form_for(:user, url: gmu_new_password_path, html: {autocomplete: 'off'}) do |f| %>
    <div class="middle">
      <div class="row">
       <div class="col-12">
        <%= f.password_field :password, placeholder: 'Passwort festlegen', class: 'form-field', onchange: 'enterPassword()' %>
        </div>
        </div>
    </div>
    <div class="bottom">
        <%= link_to 'weiter!', '', class: 'link', id: 'fake' %>
        <%= f.submit 'weiter!', class: 'link pulse', id: 'summit', style: 'display: none' %>
    </div>
    <% end %>
</div>



<script>
    function enterPassword() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>