<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">Dein Passwort?</h1>
</div>
<%= form_for(:user, url: gmu_new_password_path, html: {autocomplete: 'off'}) do |f| %>
<div class="middle-form">
    <div class="row">
        <div class="col-12">
            <%= f.password_field :password, placeholder: 'Passwort festlegen', class: 'form-field nunito-regular', onchange: 'enterPassword()' %>
        </div>
    </div>
</div>
<div class="bottom">
    <%= link_to 'weiter!', '', class: 'link nunito-regular', id: 'fake' %>
    <%= f.submit 'weiter!', class: 'link pulse', id: 'summit', style: 'display: none' %>
</div>
<% end %>



<script>
    function enterPassword() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>