<div class="head">
    <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
    <h1>Hi, <%= @user.fname %></h1>
</div>
<%= form_for(:turn, url: gmu_new_turn_path) do |f| %>
<div class="middle">
    <div class="row">
        <%= f.radio_button :play, true, onchange: "myFunction()" %>
        <div class="col-12">
            <label for="turn_play_true" class="custom-text">Ich pitche und bewerte!</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">-oder-</div>
    </div>
    <div class="row">
        <%= f.radio_button :play, false, onchange: "myFunction()" %>
        <div class="col-12">
            <label for="turn_play_false" class="custom-text">Ich möchte nur bewerten</label>
        </div>
    </div>
</div>
<div class="bottom">
    <%= link_to "weiter!", '', class: 'link', id: 'fake' %>
    <%= f.submit "weiter!", class: 'link pulse', id: 'summit', style: 'display: none' %>
</div>
<% end %>


<script>
    function myFunction() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>