<section id="content">
    <div class="head">
      <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
        <div>
            Hi, <%= @user.fname %> <%= @user.lname %>
        </div>
    </div>
        <div class="bottom bottom-play">
            <%= form_for(:user, url: gmu_new_turn_path, method: 'get') do |f| %>
                <%= render partial: 'toggle_for_rate' %>
                <%= f.submit "Play again", class: 'link pulse' %>
            <% end %>
            <%= link_to "Leave Game", logout_root_path , class: 'link', id: 'fake' %>
        </div>
</section>


<script>
    function myFunction() {
        $('#summit').show();
    }
</script>