<%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">Hi, <%= @user.fname %></h1>
</div>
<div class="middle">
    <%= image_tag @user.avatar.quad.url || 'defaults/wolf.jpg', class: 'mid-img green pulse' %>
</div>
<div class="bottom bottom-play">
    <%= form_for(:user, url: gmu_new_turn_path, method: 'get') do |f| %>
        <%= render partial: 'toggle_for_rate' %>
        <%= f.submit "Play again", class: 'link pulse nunito-regular' %>
    <% end %>
    <%= link_to "Leave Game", landing_ended_game_path , class: 'link nunito-regular', id: 'fake' %>
</div>

<script>
    function myFunction() {
        $('#summit').show();
    }
</script>
<script>
	checkOrientation();
 	window.addEventListener('resize', checkOrientation);
</script>