<div id="content">
    <div class="head">
      <%= render partial: 'game_mobile_admin/header' , locals: {can: false}%>
        <div>
        <%= image_tag 'defaults/logo-no_shadow.png', id: 'logo'%>
        <h3>- Wilkommen im Spielraum -</h3>
        <h1><%= @game1.team.name %></h1>
        </div>
    </div>
    <div class="middle">
        <%= image_tag 'defaults/wolf-white.png', class: 'mid-img' %>
    </div>
    <div class="bottom">
        <%= link_to "Auf geht's!", gmu_password_path, class: 'link' %>
    </div>
</div>

<% if @game %>
  <div id='game_channel' data-game-id="<%= @game.id %>"></div>
<% end %>