<div style="display: <%= display_modal %>; z-index: 10000;"  class="modal modal-email" id="myModalAction" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog ml-3 modal-dialog-centered mr-auto" role="document">
        <div class="modal-content">
            <div class="modal-header p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% @game.turns.select{|turn| turn if !turn.user.nil? && turn.user.pending?}.each do |turn| %>
                <div class="mail-box">
                    <div class="mail-box-main">
                        <% if !turn.user.avatar.nil? %>
                            <span><%= image_tag(turn.user.avatar.url ) %></span>
                        <% else %>
                            <span><%= image_tag("" ) %></span>
                        <% end %>
                        <%= turn.user.fname %>
                        <%= turn.user.lname%>
                    </div>
                    <div class="mail-btn">
                        <%= link_to "Accept", accept_user_path(user_id: turn.user.id), method: :patch, params: { status: 1 }, class: "btn btn-secondary btn-accept" %>
                        <%= link_to "Reject", reject_user_path(user_id: turn.user.id), method: :patch, params: { status: 2 }, class: "btn btn-primary btn-reject" %>
                    </div>
                </div>
                <%end%>
            </div>
        </div>
    </div>
</div>