<div class="table" id="admins-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Unternehmen</th>
                <th class="center">Teams</th>
                <th class="center">Users</th>
                <th class="center">Games</th>
                <th class="center">Letze Aktivität</th>
            </tr>
        </thead>
        <tbody>
            <% @admins.where(activated: false, activated: nil).each do |a| %>
            <tr onclick="redirect(<%= a.id %>)" class="red">
                <td>
                	<%= a.fname ||= '' + ' ' + a.lname ||= '' %>
                </td>
                <td><%= a.company_name %></td>
                <td class="center"><%= a.teams.count %></td>
                <td class="center"><%= a.users.count %></td>
                <td class="center"><%= a.games.count %></td>
                <td class="center">
                    <% if !a.last_sign_in_at.nil? %>
                        <%= a.last_sign_in_at.strftime("%d.%m.%Y") %>
                    <% end %>
                </td>
            </tr>
            <% end %>
            <% @admins.where(activated: true).each do |a| %>
            <tr onclick="redirect(<%= a.id %>)">
                <td><%= a.fname ||= '' + ' ' + a.lname ||= '' %></td>
                <td><%= a.company_name %></td>
                <td class="center"><%= a.teams.count %></td>
                <td class="center"><%= a.users.count %></td>
                <td class="center"><%= a.games.count %></td>
                <td class="center">
                    <% if !a.last_sign_in_at.nil? %>
                        <%= a.last_sign_in_at.strftime("%d.%m.%Y") %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<script>
    function redirect(admin_id) {
        location.replace('/backoffice/admins/'+admin_id);
    }
</script>