<div class="table" id="admins-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Unternehmen</th>
                <th class="center">Users</th>
                <th class="center">Games</th>
            </tr>
        </thead>
        <tbody>
            <% @admins.each do |a| %>
            <tr onclick="redirect(<%= a.id %>)">
                <td><%= a.fname + ' ' + a.lname %></td>
                <td><%= a.company_name %></td>
                <td class="center"><%= a.users.count %></td>
                <td class="center"><%= a.games.count %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<script>
    function redirect(admin_id) {
        location.replace('/backoffice/admins/'+admin_id);
    }
</script>