<div id="table">
<table id='coach_table'>
<thead>
    <th scope="col">Name</th>
    <th scope='col'>E-mail</th>
    <th scope="col">Unternehmen</th>
    <th scope="col">User</th>
    <th scope="col">Delete</th>
</thead>
<tbody>
<% @coaches.each do |c| %>
    <tr>
        <td><%= c.fname %> <%= c.lname %></td>
        <td><%= c.email %></td>
        <td><%= c.company_name %></td>
        <td><%= c.users.all.count %></td>
        <td><%= link_to '', destroy_admin_path(c.id), class: 'fas fa-trash-alt' %></td>
    </tr>
<% end %>
</tbody>
</table>
</div>


<script>
$(document).ready( function () {
    $('#coach_table').DataTable( {
        "paging":   false,
        "info":     false,
        'searching': false,
        "order": [ 0, 'asc' ],
        "columnDefs": [
            { "orderable": false, "targets": 4 },
        ]
    } );
} );
new PerfectScrollbar('#table');
</script>