<div class="card" id="editUser">
    <h3>
    	<% if @user.avatar? %>
    		<%= image_tag @user.avatar.quad.url %>
    	<% end %>
    	<span class="text">Edit User</span>
    </h3>
    <%= form_for(:user, url: edit_user_path(@user)) do |f| %>
        <div class="form-group l1">
            <label for="">Vorname</label>
            <%= f.text_field :fname, class: 'form-field' %>
        </div>
        <div class="form-group l1">
            <label for="">Nachname</label>
            <%= f.text_field :lname, class: 'form-field' %>
        </div>
        <div class="form-group">
            <label for="">E-Mail</label>
            <%= f.text_field :email, class: 'form-field' %>
        </div>
        <div class="form-group">
        	<label for="">Avatar</label>
        	<%= f.file_field :avatar, class: 'form-field' %>
        </div>
        <% @user.admin.teams.each do |t| %>
            <div class="user-list-form">
            <% if TeamUser.where(team_id: t.id, user_id: @user.id).count == 1 %>
                <input type="checkbox" name="user[teams][]" value="<%= t.id %>" checked id="team_users_<%=t.id%>">
            <% else %>
                <input type="checkbox" name="user[teams][]" value="<%= t.id %>" id="team_users_<%=t.id%>">
            <% end %>
            <label for="team_users_<%=t.id%>"><%= t.name %></label>
            </div>
        <% end %>
        <div class="form-group submit">
            <%= f.hidden_field :site, value: 'backoffice' %>
            <%= f.hidden_field :admin_id, value: @admin.id %>
            <%= f.submit 'speichern', class: 'btn btn-green' %>
        </div>
    <% end %>
</div>
<div class="card" id="userrating">
	<h3><%= @user.fname %>'s Bewertung</h3>
	<table style="width: 100%">
		<tr>
			<th>Gesamt</th>
			<td><% if @user.user_rating %><%= @user.user_rating.ges %><% end %></td>
		</tr>
		<tr>
			<th>Körpersprache</th>
			<td><% if @user.user_rating %><%= @user.user_rating.body %><% end %></td>
		</tr>
		<tr>
			<th>Kreativität</th>
			<td><% if @user.user_rating %><%= @user.user_rating.creative %><% end %></td>
		</tr>
		<tr>
			<th>Rhetorik</th>
			<td><% if @user.user_rating %><%= @user.user_rating.rhetoric %><% end %></td>
		</tr>
		<tr>
			<th>Spontanität</th>
			<td><% if @user.user_rating %><%= @user.user_rating.spontan %><% end %></td>
		</tr>
	</table>
</div>
<div class="card" id="destroyUser">
    <%= link_to 'löschen', destroy_user_path(@user), class: 'btn btn-green', data: { confirm: 'Are you sure?' } %>
    <%= link_to 'zurück', backoffice_edit_admin_path(@admin), class: 'btn btn-green' %>
</div>
<div class="card" id="games" style="width: auto;">
	<h3>Spiele</h3>
	<table>
		<tr>
			<th>Datum</th>
			<th>Wort</th>
			<th>Körpersprache</th>
			<th>Kreativität</th>
			<th>Rhetorik</th>
			<th>Spontanität</th>
			<th>Gesamt</th>
		</tr>
		<% @user.turns.each do |t| %>
		<% @word = Word.find_by(id: t.word_id) %>
		<tr onclick="redirect('game', <%= t.game_id %>)">
			<td><%= t.created_at.strftime("%d.%m.%Y") %></td>
			<td>
				<% if @word %>
					<%= @word.name %>
				<% else %>
					<div class="red">Wort gelöscht</div>
				<% end %>
			</td>
			<td><% if t.turn_rating %><%= t.turn_rating.body %><% end %></td>
			<td><% if t.turn_rating %><%= t.turn_rating.creative %><% end %></td>
			<td><% if t.turn_rating %><%= t.turn_rating.rhetoric %><% end %></td>
			<td><% if t.turn_rating %><%= t.turn_rating.spontan %><% end %></td>
			<td><% if t.turn_rating %><%= t.turn_rating.ges %><% end %></td>
		</tr>
		<% end %>
	</table>
</div>

<script>
	function redirect(model, model_id) {
        if(model == 'team') {
            location.replace('/backoffice/teams/'+model_id);
        } else if(model == 'user') {
            location.replace('/backoffice/users/'+model_id);
        } else if(model == 'catchword') {
            location.replace('/backoffice/catchwords/'+model_id);
        } else if(model == 'objection') {
            location.replace('/backoffice/objections/'+model_id);
        } else if(model == 'game') {
			location.replace('/backoffice/games/'+model_id);
		}
    }
</script>