<h1><%= @admin.fname %> <%= @admin.lname %></h1>
<div class="card" id="edit_admin">
    <h3>
    	<% if @admin.avatar.present? %>
    		<%= image_tag @admin.avatar.quad.url %>
    	<% end %>
    	<span class="text">Edit Admin</span>
    </h3>
    <%= form_for(:admin, url: edit_admin_path(@admin)) do |f| %>
        <div class="form-group l1">
            <label for="">Vorname</label>
            <%= f.text_field :fname, class: "form-field" %>
        </div>
        <div class="form-group l1">
            <label for="">Nachname</label>
            <%= f.text_field :lname, class: "form-field" %>
        </div>
        <div class="form-group l1">
            <label for="">Telefon</label>
            <%= f.text_field :telephone, class: "form-field" %>
        </div>
        <div class="form-group l1">
            <label for="">E-Mail</label>
            <%= f.email_field :email, class: "form-field" %>
        </div>
        <div class="form-group l1">
            <label for="">Unternehmen</label>
            <%= f.text_field :company_name, class: "form-field" %>
        </div>
        <div class="form-group l2">
            <label for="">Position</label>
            <%= f.text_field :company_position, class: "form-field" %>
        </div>
        <div class="form-group l2">
            <label>Mitarbeiter</label>
            <%= f.number_field :employees, class: "form-field" %>
        </div>
        <div class="form-group l1">
            <label for="">Straße / Hsnr.</label>
            <%= f.text_field :street, class: "form-field" %>
        </div>
        <div class="form-group l2">
            <label for="">PLZ</label>
            <%= f.text_field :zipcode, class: "form-field" %>
        </div>
        <div class="form-group l2">
            <label for="">Ort</label>
            <%= f.text_field :city, class: "form-field" %>
        </div>
        <div class="form-group">
            <label for="">Passwort</label>
            <%= f.password_field :password, class: "form-field" %>
        </div>
        <div class="form-group">
            <label for="">Avatar</label>
            <%= f.file_field :avatar, class: "form-field" %>
        </div>
        <div class="form-group">
            <label for="">Logo</label>
            <%= f.file_field :logo, class: "form-field" %>
        </div>
        <div class="form-group submit">
            <%= f.hidden_field :site, value: 'backoffice' %>
            <%= f.submit 'speichern!', class: 'btn btn-green' %>
        </div>
    <% end %>
</div>

<div class="card" id="teams">
    <h3>Teams</h3>
    <table style="width: 100%;">
    <tr>
        <th>Name</th>
        <th>Users</th>
    </tr>
    <% @admin.teams.each do |t| %>
    <tr onclick="redirect('team', <%= t.id %>)">
        <th><%= t.name %></th>
        <td><%= t.users.count %></td>
    </tr>
    <% end %>
    </table>
    <div class="form-group submit">
        <div class="btn btn-green" onclick="toggleModal('team')">New Team</div>
    </div>
</div>
<div class="fullscreen-modal" id="newTeamModal">
    <div class="close" onclick="toggleModal('team')">
        <i class="fas fa-times"></i>
    </div>
    <div class="card">
        <h3>Neues Team anlegen</h3>
        <%= form_for(:team, url: new_team_path) do |f| %>
            <div class="form-group">
                <label for="">Name</label>
                <%= f.text_field :name, class: 'form-field' %>
            </div>
            <div class="form-group submit">
                <%= f.hidden_field :admin_id, value: @admin.id %>
                <%= f.submit 'speichern', class: 'btn btn-green' %>
            </div>
        <% end %>
    </div>
</div>

<div class="card" id="users">
    <h3>Users</h3>
    <table style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Teams</th>
        </tr>
        <% @users.each do |u| %>
            <tr onclick="redirect('user', <%= u.id %>)">
                <th><%= u.fname %> <%= u.lname %></th>
                <td><%= u.teams.count %></td>
            </tr>
        <% end %>
    </table>
    <div class="form-group submit">
        <div class="btn btn-green" onclick="toggleModal('user')">New User</div>
    </div>
</div>
<div class="fullscreen-modal" id="newUserModal">
    <div class="close" onclick="toggleModal('user')">
        <i class="fas fa-times"></i>
    </div>
    <div class="card">
        <h3>Neuen User anlegen</h3>
        <%= form_for(:user, url: new_user_path) do |f| %>
            <div class="form-group l1">
                <label for="">Vorname</label>
                <%= f.text_field :fname, class: 'form-field' %>
            </div>
            <div class="form-group l1">
                <label for="">Nachname</label>
                <%= f.text_field :lname, class: 'form-field' %>
            </div>
            <div class="form-group">
                <label for="">E-Mail</label>
                <%= f.email_field :email, class: 'form-field' %>
            </div>
            <div class="form-group submit">
                <%= f.hidden_field :site, value: 'backoffice' %>
                <%= f.hidden_field :admin_id, value: @admin.id %>
                <%= f.submit 'speichern', class: 'btn btn-green' %>
            </div>
        <% end %>
    </div>
</div>

<div class="card" id="words">
    <h3>Catchwords</h3>
    <table style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Worte</th>
        </tr>
        <% @admin.catchword_baskets.where(objection: false).each do |cw| %>
        <tr onclick="redirect('catchword', <%= cw.id %>)">
            <th><%= cw.name %>:</th>
            <td><%= cw.words.count %></td>
        </tr>
        <% end %>
    </table>
    <div class="form-group submit">
        <div class="btn btn-green" onclick="toggleModal('words')">New List</div>
    </div>
</div>
<div class="fullscreen-modal" id="newWordsModal">
    <div class="close" onclick="toggleModal('words')">
        <i class="fas fa-times"></i>
    </div>
    <div class="card">
        <h3>Neue Liste anlegen</h3>
        <%= form_for(:basket, url: new_basket_path()) do |f| %>
            <div class="form-group">
                <label>Name</label>
                <%= f.text_field :name, class: 'form-field', autofocus: true  %>
            </div>
            <div class="form-group submit">
            <%= f.hidden_field :admin_id, value: @admin.id %>
            <%= f.hidden_field :site, value: 'backoffice' %>
            <%= f.submit 'speichern', class: 'btn btn-green' %>
            </div>
        <% end %>
    </div>
</div>

<div class="card" id="objections">
    <h3>Objections</h3>
    <table style="width: 100%;">
       <tr>
           <th>Name</th>
           <th>Einwände</th>
       </tr>
        <% @admin.catchword_baskets.where(objection: true).each do |cw| %>
        <tr onclick="redirect('objection', <%= cw.id %>)">
            <th><%= cw.name %>:</th>
            <td><%= cw.objections.count %></td>
        </tr>
        <% end %>
    </table>
    <div class="form-group submit">
        <div class="btn btn-green" onclick="toggleModal('objections')">New List</div>
    </div>
</div>
<div class="fullscreen-modal" id="newObjectionsModal">
    <div class="close" onclick="toggleModal('objections')">
        <i class="fas fa-times"></i>
    </div>
    <div class="card">
        <h3>Neue Liste anlegen</h3>
        <%= form_for(:basket, url: new_basket_path()) do |f| %>
            <div class="form-group">
                <label for="">Name</label>
                <%= f.text_field :name, class: 'form-field' %>
            </div>
            <div class="form-group submit">
            <%= f.hidden_field :admin_id, value: @admin.id %>
            <%= f.hidden_field :site, value: 'backoffice' %>
            <%= f.hidden_field :type, value: 'objection' %>
            <%= f.submit 'speichern', class: 'btn btn-green' %>
            </div>
        <% end %>   
    </div>
</div>
<div class="card" id="games">
	<h3>Games</h3>
	<table style="width: 100%;">
		<tr>
			<th>Datum</th>
			<th>Team</th>
		</tr>
		<% @admin.games.each do |g| %>
			<tr onclick="redirect('game', <%= g.id %>)">
				<td><%= g.created_at.strftime("%d.%m.%Y") %></td>
				<td><%= Team.find(g.team_id).name %></td>
			</tr>
		<% end %>
	</table>
</div>

<script>
    function redirect(model, model_id) {
        if(model == 'team') {
            location.replace('/backoffice/teams/'+model_id);
        } else if(model == 'user') {
            location.replace('/backoffice/users/'+model_id);
        } else if(model == 'catchword') {
            location.replace('/backoffice/catchwords/'+model_id);
        } else if(model == 'objection') {
            location.replace('/backoffice/objections/'+model_id);
        } else if(model == 'game') {
			location.replace('/backoffice/games/'+model_id);
		}
    }
    function toggleModal(model) {
        if(model == 'team') {
            $('#newTeamModal').toggle();
        } else if(model == 'user') {
            $('#newUserModal').toggle();
        } else if(model == 'words') {
            $('#newWordsModal').toggle();
        } else if(model == 'objections') {
            $('#newObjectionsModal').toggle();
        } else if(model == 'games') {
			$('#newGamesModal').toggle();
		}
    }
</script>