<h1><%= @root.username %> - Übersicht</h1>
<div class="row">
	<div class="card">
		<h3>User</h3>
		<%= form_for(:root, url: backoffice_edit_root_path(@root)) do |f| %>
		<table>
			<tr>
				<th>Username</th>
				<td><%= f.text_field :username, class: "form-field" %></td>
			</tr>
			<tr>
				<th>E-Mail</th>
				<td><%= f.email_field :email, class: "form-field" %></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><%= f.password_field :password, placeholder: 'Passwort', class: 'form-field' %></td>
			</tr>
			<tr>
				<th></th>
				<td><%= f.password_field :password_confirmation, placeholder: 'Passwort wiederholen', class: 'form-field' %></td>
			</tr>
			<tr>
				<th>Role</th>
				<% if is_root? %>
				<td><%= f.text_field :role, class: 'form-field' %></td>
				<% else %>
				<td style="text-align: left"><%= @root.role %></td>
				<% end %>
			</tr>
		</table>
		<%= f.submit 'speichern', class: 'btn btn-green' %>
		<% end %>
	</div>
	
	<div class="card">
		<h3>Bilder</h3>
		<%= form_for(:root, url: backoffice_edit_root_path(@root)) do |f| %>
		<div class="avatar">
			<label for="root_avatar">
				<%= image_tag @root.avatar? ? @root.avatar.quad.url : '', id: 'avatar' %>
			</label>
			<%= f.file_field :avatar %>
		</div>
		<% end %>
	</div>
</div>

<div class="popup" id="popup">
   	<div class="img-container">
   		<%= image_tag '', id: 'root_image' %>
   	</div>
    <div class="form-group center">
    	<div class="btn btn-green" id="crop">speichern</div>
    </div>
    <div class="close" onclick="hidePopup()"><i class="fas fa-times"></i></div>
</div>
<script>
	function showPopup() {
        $('#popup').show();
    }
    function hidePopup() {
        $('#popup').hide();
    }
	(function ($) {
	  $.each(['show', 'hide'], function (i, ev) {
	    var el = $.fn[ev];
	    $.fn[ev] = function () {
	      this.trigger(ev);
	      return el.apply(this, arguments);
	    };
	  });
	})(jQuery);
	var inputAvatar = document.getElementById('root_avatar');
	var image = document.getElementById('root_image');
	
	inputAvatar.addEventListener('change', function(e) {
		var files = e.target.files;
		var done = function(url) {
			inputAvatar.value = '';
			image.src = url;
			$('#popup').show();
		};
		var reader, file, url;
		if(files && files.length > 0) {
			file = files[0];
			if(URL) {
				done(URL.createObjectURL(file));
			} else if(FileReader) {
				reader = new FileReader();
				reader.onload = function(e) {
					done(reader.result);
				}
				reader.readAsDataURL(file);
			}
		}
	})
	$('#popup').on('show', function() {
		cropper = new Cropper(image, {
			aspectRatio: 1,	
		});
	})
	$('#popup').on('hide', function() {
		cropper.destroy();
		cropper = null;
	})
	$('#crop').on('click', function() {
		var initialURL, canvas;
		if(cropper) {
			canvas = cropper.getCroppedCanvas({
				fillColor: "white"
			});
			initalURL = avatar.src;
			avatar.src = canvas.toDataURL();
			canvas.toBlob(function(blob) {
				var date = new Date().getTime();
				var file = new window.File([blob], 'avatar_'+date+'.jpg', {type: 'image/jpg'});
				var formData = new FormData();
				formData.append('file', file);
				uploadImage('avatar', formData);
			});
		};
	})
	function uploadImage(img, formData) {
		var url = '<%= backoffice_update_root_avatar_path(@root) %>';
		$.ajax({
			url: url,
			type: 'put',
			cache: false,
			async: true,
			contentType: false,
			processData: false,
			data: formData,
			beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
			success: function(res) {
				formData = new FormData();
				$('#avatar').data('url', res.file);
				$('#popup').hide();
			}
		})	
	}
</script>