<h1>Catchword Übersicht - <%= @basket.name %></h1>

<div class="table">
	<h3>Catchwords</h3>
	<%= form_for(:word, url: new_word_path, html: {id: 'new_word'}) do |f| %>
		<label for="word_sound">
			<%= f.file_field :sound, multiple: true, onchange: 'submitForm()', style: "display: none" %>
			<i class="fas fa-plus-circle"></i>
		</label>
	<% end %>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Sound</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @basket.words.order('name').each do |w| %>
				<tr>
					<%= form_for(:word, url: edit_word_path(@basket, w.id)) do |f| %>
					<td><%= f.text_field :name, value: w.name, class: "form-field" %></td>
					<td><%= audio_tag w.sound, controls: true %></td>
					<td><%= link_to '', destroy_word_path(@basket, w.id), class: 'far fa-trash-alt' %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<script>
function submitForm() {
	$('#new_word').submit();
}
</script>