<%= form_for(:word, url: new_word_path(@basket)) do |f| %>
    <%= f.file_field :sound, multiple: true %>
    <%= f.hidden_field :site, value: 'backoffice' %>
    <%= f.submit 'Upload!' %>
<% end %>

<div class="table">
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Sound</th>
    </tr>
</thead>
<tbody>
    <% @words.each do |w| %>
    <tr>
        <td><%= w.name %></td>
        <td>
			<% if !w.sound.file.nil? %><%= audio_tag w.sound.url, controls: true %><% end %>
        </td>
    </tr>
    <% end %>
</tbody>
</table>
</div>