<section id="content">
    <div class="head">
        <div class="h100">Das war eine tolle Runde!</div>
    </div>
    <div class="middle">
        <%= image_tag @admin.avatar.quad330.url || 'defaults/wolf.jpg', class: 'mid-img green' %>
    </div>
    <div class="bottom">
       <%= link_to 'neue Runde!', gma_replay_path(@game, @admin), class: 'link' %>
       <%= link_to 'beenden!', gma_ended_path, class: 'link' %>
    </div>
</section>
<div id="redirect">
    <%= render partial: 'state' %>
</div>

<script>
    $(document).ready(
        function() {
            setInterval(function() {
                if($('#redirect').text().trim() == 'bestlist') {
                    $('#redirect').load('bestlist #redirect');
                } else if($('#redirect').text().trim() == 'replay') {
                    window.location.replace('<%= gma_replay_url(@game, @admin) %>');
                } else {
                    window.location.replace('<%= gma_ended_url %>');
                }
            }, 2000);
        }
    );
</script>
