<section id="content">
    <div class="head">
        <%= render partial: 'header' , locals: {can: false}%>
        <div class="h100">Du hast für <%= @turn.findUser.fname %></div>
    </div>
    <div class="middle">
        <%= image_tag @turn.findUser.avatar.quad.url, class: 'mid-img green' %>
    </div>
    <div class="bottom">
      <p>gestimmt!</p>
      <%= link_to 'Pitch starten!', gma_turn_url , id: 'play'%>
    </div>
</section>
<% if @game %>
  <div id='game_channel' data-game-id="<%= @game.id %>"  data-turn="replay"></div>
<% end %>