<div id="content">
    <div class="head">
        <div class="h100">Bitte logge dich ein!</div>
    </div>
    <%= form_for(:admin, url: gma_start_path, html: {autocomplete: 'off'}) do |f| %>
    <div class="middle">
       <div class="row">
        <div class="col-12">
        <%= f.password_field :password, placeholder: 'Passwort', class: 'form-field', onchange: 'enterName()' %>
        <%= f.hidden_field :email, class: 'form-field',value: params[:email]  %>
        </div>
        </div>
    </div>
    <div class="bottom">
        <%= f.submit 'weiter!', class: 'link pulse', id: 'summit'%>
        <br>
        <%= link_to "Forget Password?", new_admin_password_path, class: 'link' %>

    </div>
    <% end %>

</div>


<script>
    function enterName() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>