<%= render partial: 'header' , locals: {can: false}%>
<div class="head">
    <h1>Bitte logge dich ein!</h1>
</div>
<%= form_for(:admin, url: gma_email_check_path, html: {autocomplete: 'off'}) do |f| %>
<div class="middle-form">
    <div class="row">
        
        <div class="col-12 red">
            <%= f.email_field :email, placeholder: 'E-mail', class: 'form-field', onchange: 'enterName()' %>
        </div>
        <% else %>
        <div class="col-12 red">
            <%= f.email_field :email, placeholder: 'E-mail', class: 'form-field', onchange: 'enterName()' %>
        </div>
        <% end %>
    </div>
</div>
<div class="bottom">
    <%= link_to "weiter!", '', class: 'link nunito-regular', id: 'fake' %>
    <%= f.submit 'weiter!', class: 'link pulse nunito-regular', id: 'summit', style: 'display: none' %>
</div>
<% end %>


<script>
    function enterName() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>