<%= render partial: 'header' , locals: {can: false}%>
<% if @admin.avatar? %>
<div class="head">    
    <h1 class="nunito-bold">Wow!</h1>
    <h3 class="nunito-regular">Drücke auf "weiter" oder auf das <br> Bild für einen neuen Versuch!</h3>
</div>
<% else %>
<div class="head nunito-bold">
    <h1 class="nunito-bold">Bild hinzufügen!</h1>
    <h3 class="nunito-regular">Drücke das Plus, um ein Foto zu machen oder ein bestehendes Bild von dir hochzuladen.</h3>
</div>
<% end %>
<div class="middle">
      <%= form_for(:admin, url: gma_new_avatar_path) do |f| %>
        <% if @admin.avatar? %>
            <label for="admin_avatar" id="admin_pic">
                <%= image_tag @admin.avatar.quad.url, class: 'mid-img blue' %>
            </label>
            <div class="add">
                <i class="fas fa-check-circle"></i>
            </div>
        <% else %>
            <label for="admin_avatar" id='admin_pic'>
                <%= image_tag 'game/plus.png', class: 'mid-img pulse' %>
            </label>
        <% end %>
        <%= f.file_field :avatar, onchange: 'auto()' %>
        <%= f.submit '', style: 'display:none'%>
      <% end %>
  </div>
  <% if @admin.avatar? %>
    <div class="bottom bottom-play">
      <%= form_for(:admin, url: gma_new_turn_path, method: 'get') do |f| %>
        <div class="switch-box switch-box-vt" id="switch">
          <label class="switch">
            <input type="checkbox" id="start" value="rate" name="play" >
            <span class="slider round"></span>
          </label>
          <p class="text-for-switch nunito-regular" id=''>Ich möchte selbst nicht pitchen,<br> sondern nur bewerten</p>
        </div>
        <%= f.submit 'weiter!', class: 'link pulse nunito-regular' %>
      <% end %>
    </div>
  <% end %>

<script>
function auto() {
    $('form').submit();
    $('.bottom').show();
    $("form").replaceWith("<div class='spinner spinner1'></div>")
}
</script>