<section id="content">
  <% if @admin.avatar? %>
  <div class="head">
      <%= render partial: 'header' , locals: {can: false}%>
    

      <div class="h100">Wow!</div>
      <div class="h50">Dr端cke auf "weiter" oder auf das <br> Bild f端r einen neuen Versuch!</div>
  </div>
  <% else %>
  <div class="head">
      <div class="h100">Bild hinzuf端gen!</div>
      <div class="h50">Dr端cke das Plus, um ein Foto zu machen oder ein bestehendes Bild von dir hochzuladen.</div>
  </div>
  <% end %>
  <div class="middle">
      <%= form_for(:admin, url: gma_new_avatar_path) do |f| %>
        <% if @admin.avatar? %>
            <label for="admin_avatar" id="admin_pic">
                <%= image_tag @admin.avatar.quad.url, class: 'mid-img blue' %>
            </label>
            <div class="add">
                <i class="fas fa-check-circle"></i>
            </div>
        <% else %>
            <label for="admin_avatar" id='admin_pic'>
                <%= image_tag 'game/plus.png', class: 'mid-img pulse' %>
            </label>
        <% end %>
        <%= f.file_field :avatar, onchange: 'auto()' %>
        <%= f.submit '', style: 'display:none'%>
      <% end %>
  </div>
  <% if @admin.avatar? %>
    <div class="bottom">
       <%= link_to 'weiter!', gma_new_turn_path, class: 'link pulse' %>
    </div>
  <% end %>
</section>

<script>
function auto() {
    $('form').submit();
    $('.bottom').show();
    $("form").replaceWith("<div class='spinner spinner1'></div>")
}
</script>