<%= render partial: 'header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">Bitte logge dich ein!</h1>
</div>
<%= form_for(:admin, url: gma_start_path, html: {autocomplete: 'off'}) do |f| %>
<div class="middle-form">
    <div class="row">
        <div class="col-12">
            <%= f.password_field :password, placeholder: 'Passwort', class: 'form-field nunito-regular', onchange: 'enterName()' %>
            <%= f.hidden_field :email, class: 'form-field',value: params[:email]  %>
        </div>
    </div>
</div>
<div class="bottom">
    <%= link_to "weiter!", '', class: 'link nunito-regular', id: 'fake' %>
    <%= f.submit 'weiter!', class: 'link pulse nunito-regular', id: 'summit', style: 'display: none' %>
</div>
<% end %>

<script>
    function enterName() {
        $('#fake').hide();
        $('#summit').show();
    }
</script>