<div id="count_channel" data-game-id="<%= @game.id %>" >
<%= render partial: 'header' , locals: {can: false}%>
<div class="head">
    <h1 class="nunito-bold">
    <% if @admin == @cur_user %>
        <%= @admin.fname %>, du wirst bewertet!
    <% else %>
        Bewertung abgegeben!
    <% end %>
    </h1>
</div>
<div class="middle" id="middle">
    <div class="row">
    	<div class="col-12 nunito-regular">
    		<%= @count.to_s + "/" + @turnCount.to_s %><br>
    		haben bewertet!
    	</div>
    </div>
</div>
<div class="bottom">
    <%= link_to 'weiter!', gma_rating_path, class: 'nunito-regular' %>
</div>
</div>