<!-- <%= render partial: 'header' , locals: {can: false}%>
<div class="head">
    <% if @admin == @cur_user %>
        <h1 class="nunito-bold"><%= @cur_user.fname %>, du bist dran!</h1>
    <% else %>
        <h1 class="nunito-bold"><%= @cur_user.fname %> ist dran!</h1>
    <% end %>
</div>
<div class="middle">
    <%= image_tag @cur_user.avatar.quad.url, class: 'mid-img green pulse' %>
</div>
<div class="bottom bottom-play">
    <div class="switch-box switch-box-vt" id="switch">
        <label class="switch">
            <input type="checkbox" id="start" value="is" >
            <span class="slider round"></span>
        </label>
        <p class="text-for-switch nunito-regular" id=''>Mit Video Starten</p>
    </div>
</div>
<div class="bottom">
	<%= link_to 'Pitch starten!', gma_play_url , id: 'play', class: 'nunito-regular' %>
</div> -->

<form action="/mobile/admin/upload" method="POST" enctype="multipart/form-data">
  
  <input id="video" type="file" name="file" accept="video/*"  class="video-file">
  <input type="submit" value="Submit">
</form>

<style>
    .spinner-div {
      top: 45% !important;
      position: absolute;
    }
  
    .spinner {
      height: auto !important;
      width: auto !important;
      left: calc(60% - 200px) !important;
    }
    #video-button{
      z-index: 555;
    }
  
    input[type='file'] {
      display: block !important;
    }
  
    .video-upload-wrapper {
      top: 78%;
    }
  
    .upload-btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
    }
  
    .video-btn {
      border: 2px solid #1ddaaf;
      color: white;
      background-color: #1ddaaf;
      padding: 8px 20px;
      border-radius: 4.013vh;
      min-width: 30vh;
      font-size: 20px;
      font-size: 2.5vh;
      height: auto;
      line-height: 4vh;
      font-weight: bold;
    }
  
    .upload-btn-wrapper input[type=file] {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      opacity: 0;
    }
  </style>

<script type="text/javascript">
    $("#start").on("change", function(e){
      var that = $(this);
      if(that.is(":checked")){
        try {
          // var stream =new MediaStream()
          // new MediaRecorder(stream)
          $(".text-for-switch").addClass("green-text")
        }
        catch(err) {
          $("#start").prop("checked", false);
          alert('sorry your browser does not support record-function \n Please use Chrome to have full functionality of Peter Pitch');
        }
      }else{
        $(".text-for-switch").removeClass("green-text")
      }
    })
    var redirect = false;
    $("#play").click(function(event){
        event.preventDefault();
        var $this = $(this);
        var href = $this.attr("href"),
        video = $("#start").prop("checked");
        window.location = href +"?video="+video;
    })
</script>