<%= render partial: 'header' , locals: {can: false}%>
<div class="head">
    <% if @admin == @cur_user %>
        <h1 class="nunito-bold"><%= @cur_user.fname %>, du bist dran!</h1>
    <% else %>
        <h1 class="nunito-bold"><%= @cur_user.fname %> ist dran!</h1>
    <% end %>
</div>
<div class="middle">
    <%= image_tag @cur_user.avatar.quad.url, class: 'mid-img green pulse' %>
</div>
<div class="bottom bottom-play">
    <div class="switch-box switch-box-vt" id="switch">
        <label class="switch">
            <input type="checkbox" id="start" value="is" >
            <span class="slider round"></span>
        </label>
        <p class="text-for-switch nunito-regular" id=''>Mit Video Starten</p>
    </div>
    <%= link_to 'weiter!', gma_play_url , id: 'play', class: 'nunito-regular' %>
</div>

<script type="text/javascript">
    $("#start").on("change", function(e){
      var that = $(this);
      if(that.is(":checked")){
        try {
          var stream =new MediaStream()
          new MediaRecorder(stream)
          $(".text-for-switch").addClass("green-text")
        }
        catch(err) {
          $("#start").prop("checked", false);
          alert('sorry your browser does not support record-function \n Please use Chrome to have full functionality of Peter Pitch');
        }
      }else{
        $(".text-for-switch").removeClass("green-text")
      }
    })
    var redirect = false;
    $("#play").click(function(event){
        event.preventDefault();
        var $this = $(this);
        var href = $this.attr("href"),
        video = $("#start").prop("checked");
        window.location = href +"?video="+video;
    })
</script>