<section id="navbar">
    <%= link_to image_tag('landing/logo.png'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
        <div class="link">
            <%= link_to 'Product', root_path(anchor: 'product') %>
        </div>
        <div class="link">
            <%= link_to 'FAQ', '#faq' %>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
        </div>
        <div class="link">
            <%= link_to 'Login', '#login', class: 'login-link', onclick: 'showLoginModal()' %> 
        </div>
        <div class="link">
            <%= link_to 'Get early access!', contact_path, class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <%= link_to 'Login', '#login', onclick: 'showLoginModal()', class: 'login-link' %>
        <%= link_to 'Get early access', contact_path, class: 'btn btn-white' %>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="contact">
    <h1>Login to Backoffice</h1>
    <%= form_for(:session, url: login_root_path) do |f| %>
        <div class="form-group">
            <label for="">Name</label>
            <%= f.text_field :username, class: 'form-field', required: true %>
        </div>
        <div class="form-group">
            <label for="">Passwort</label>
            <%= f.password_field :password, class: 'form-field', required: true %>
        </div>
        <div class="form-group center">
            <%= f.submit 'Login', class: 'btn btn-green' %>
        </div>
    <% end %>
</section>
<section id="footer">
    <div class="logo">
        <%= image_tag 'landing/logo.png' %>
    </div>
    <div class="company">
        <div class="heading">Unternehmen</div>
        <div class="links">
            <%= link_to 'Registrieren', contact_path %>
            <%= link_to 'Preise', contact_path %>
            <%= link_to 'FAQ', '#faq' %>
            <%= link_to 'Login', '#login', onclick: 'showLoginModal()' %>
            <%= link_to 'Backoffice', login_root_path %>
        </div>
    </div>
    <div class="legal">
        <div class="heading">Rechtliches</div>
        <div class="links">
            <%= link_to 'Impressum', '' %>
            <%= link_to 'Datenschutz', '' %>
            <%= link_to 'AGB', '' %>
        </div>
    </div>
    <div class="social">
        <%= link_to '', '#', class: "fab fa-facebook-f" %>
        <%= link_to '', '#', class: "fab fa-youtube" %>
    </div>
</section>