<section id="navbar">
    <%= link_to image_tag('landing/logo.png'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
       	<div class="link">
       		<%= link_to 'Produkt', root_path(anchor: 'product') %>
       		<div class="line"></div>
       	</div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Blog', blog_path %>
            <div class="line"></div>
        </div>
        <div class="link">
          	<i class="login-link" onclick="showLoginModal()">Login</i>
        </div>
        <div class="link">
            <%= link_to 'Demo vereinbaren', contact_path("", subject: "demo"), class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <%= link_to 'Login', '#login', onclick: 'showLoginModal()', class: 'login-link' %>
        <%= link_to 'Get early access', contact_path, class: 'btn btn-white' %>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="contact">
    <h1>Passwort ändern!</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "modal-form mt-2"  }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <div class="form-group ">
            <%= f.password_field :password,class: 'form-field', autofocus: true, autocomplete: "new-password", placeholder: "Password" %>
        </div>
        <div class="form-group">
            <%= f.hidden_field :reset_password_token %>
            <%= f.password_field :password_confirmation, autocomplete: "off" ,class: 'form-field' , placeholder: "Confirm password"%>
        </div>
        <div class="form-group center">
            <%= f.submit 'Change password!', class: 'btn btn-green' %>
        </div>
    <% end %>
</section>