<% content_for :title, "Peter Pitch - Passwort vergessen?" %>
<section id="navbar">
    <%= link_to image_tag('landing/logo.png', alt: 'Peter Pitch Logo'), root_path, class: 'logo'%>
    <div class="navbar-links" id="navLinks">
        <div class="link">
            <%= link_to 'Blog', blog_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'FAQ', root_path(anchor: 'faq') %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Kontakt', contact_path %>
            <div class="line"></div>
        </div>
        <div class="link">
            <%= link_to 'Login', root_path(anchor: 'login'), class: 'login-link' %> 
        </div>
        <div class="link">
            <%= link_to 'Get early access!', contact_path, class: 'btn btn-white' %>
        </div>
    </div>
    <div class="login">
        <%= link_to 'Login', root_path(anchor: 'login'), class: 'login-link' %>
    </div>
    <div class="navbar-mobile" onclick="showNavLinks()">
        <i class="fas fa-bars"></i>
    </div>
</section>
<section id="devise_form">
    <h1>Passwort vergessen?</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post}) do |f| %>
        <div class="form-group ">
            <%= f.email_field :email, class: 'form-field', id: 'loginEmail',placeholder:"Gib deine E-Mail ein!", required: true  %>
        </div>
        <div class="form-group center">
            <%= f.submit 'Passwort zurücksetzen!', class: 'btn btn-green' %>
        </div>
    <% end %>
    <div class="links">
    	<%= render "admins/shared/links" %>
    </div>
    <% if flash[:wait_for_activation] %>
		<div class="register-pop-up">
			<div class="karte">
			<h1>Fehler</h1>
			<div class="text"><%= flash[:wait_for_activation] %></div>
			</div>
		</div>
	<% end %>
</section>
<section id="footer" class="wow fadeIn">
    <div class="logo">
        <%= image_tag 'landing/logo.png', alt: 'Peter Pitch Logo' %>
    </div>
    <div class="company">
        <div class="heading">Unternehmen</div>
        <div class="links">
            <%= link_to 'Registrieren', contact_path %>
            <%= link_to 'Preise', contact_path %>
            <%= link_to 'FAQ', '#faq' %>
            <%= link_to 'Login', '#login', onclick: 'showLoginModal()' %>
        </div>
    </div>
    <div class="legal">
        <div class="heading">Rechtliches</div>
        <div class="links">
            <%= link_to 'Impressum', impressum_path %>
            <%= link_to 'Datenschutz', datenschutz_path %>
        </div>
    </div>
    <div class="social">
        <%= link_to '', 'https://www.instagram.com/peterpitchcom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-instagram" %>
        <%= link_to '', 'https://www.youtube.com/channel/UCN7MeKNNdXK28uIiJjJ4Fdg', target: "_blank", rel: "noopener noreferrer", class: "fab fa-youtube" %>
        <%= link_to '', 'https://www.facebook.com/PeterPitchCom/', target: "_blank", rel: "noopener noreferrer", class: "fab fa-facebook-f" %>
    </div>
</section>