<!DOCTYPE html>
<html lang="de">

<head>
    <title>Peterpitch</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'backoffice/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dash/main' %>
</head>

<body>
<section id="navbar">
    <div class="logout">
        <%= link_to('', logout_root_path, class: 'fas fa-sign-out-alt red') %>
    </div>
</section>
<section id="sidebar">
    <div class="avatar">
        <%= link_to image_tag('defaults/wolf.jpg'), backoffice_path %>
    </div>
    <div class="links">
        <div class="link <% if current_page?(backoffice_admins_path) %> active <% end %>">
            <i class="far fa-user"></i>
            <%= link_to 'Admins', backoffice_admins_path %>
        </div>
        <div class="link <% if current_page?(backoffice_word_baskets_path) %> active <% end %>">
            <i class="far fa-file-word"></i>
            <%= link_to 'Worte', backoffice_word_baskets_path %>
        </div>
    </div>
</section>
<section id="content">
    <%= yield %>
</section>
</body>

<script>
    
</script>

</html>