<!DOCTYPE html>
<html lang="de">
<head>
    <title>Peter Pitch</title>
    <%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'dash/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.js"></script>
    <%= javascript_include_tag 'dash/main', 'https://js.stripe.com/v2/' %>
    <meta property="og:url"           content="http://www.peterpitch.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Peterpitch" />
    <meta property="og:description"   content="Das erste Gamification Tool" />
    <meta property="og:image"         content="<%= image_url('defaults/wolf.jpg') %>" />
    <meta property="og:site_name"     content="Peterpitch" >
    <meta property="og:locale"        content="de_DE" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
</head>

<body class="body-open"
<% if content_for?(:body_attributes) %>
<%= yield(:body_attributes) %>
<% end %>>
  
<section id="navbar">
    <div class="dropdown" onclick="openDropdown()">
    Hallo, <%= @admin.fname %> <%= @admin.lname %>
    <%= image_tag 'dash/arrow-down.png', class: 'dropdown-img' %>
    </div>
</section>

<section id="sidebar">
    <div class="avatar">
        <% if @admin.avatar? %>
            <%= image_tag @admin.avatar.quad.url %>
        <% else %>
            <%= image_tag 'defaults/wolf.jpg' %>
        <% end %>
    </div>
    <div class="links">
        <div class="link <% if current_page?(dash_admin_path) || @game && current_page?(dash_admin_create_game_2_path(@game)) || @game && @team && current_page?(dash_admin_game_2_path(@game, @team)) %> active<% end %>">
            <i class="fas fa-gamepad"></i>
            <div class="text">Let's Pitch</div>
            <%= link_to '', dash_admin_path %>
        </div>
        
        <div class="link <% if current_page?(dash_admin_teams_path) || @team.present? && current_page?(dash_admin_team_path(@team)) || @user.present? && current_page?(dash_admin_user_stats_path(@user)) || @user2.present?|| @user.present? && current_page?(dash_admin_user_path(@user)) || @team.present? && current_page?(dash_admin_team_stats_path(@team)) %> active<% end %>">
            <i class="fas fa-user-friends"></i>
            <div class="text">Nutzer</div>
            <%= link_to "", dash_admin_teams_path %>
        </div>
        <div class="link <% if current_page?(dash_admin_customize_path) || @catchword && current_page?(dash_admin_catchwords_path(@catchword)) || @objection && current_page?(dash_admin_objections_path(@objection))%> active <% end %>">
            <i class="far fa-list-alt"></i>
            <div class="text">Customize</div>
            <%= link_to "", dash_admin_customize_path %>
        </div>
        <div class="link <% if current_page?(dash_admin_video_tool_path) || @turn && current_page?(dash_admin_video_details_path(@turn)) || @video && current_page?(dash_admin_video_edit_path(@video)) %> active <% end %>">
            <i class="fab fa-youtube"></i>
            <div class="text">Video Tool</div>
            <%= link_to "", dash_admin_video_tool_path %>
        </div>
    </div>
    <div class="logo">
        	<%= image_tag 'landing/logo_white.png' %>
        </div>
</section>
      
<section id="content">
    <%= yield %>
</section>
<div class="help" onclick="toggleHelp()">?</div>
<div class="dropdown-content">
   <div class="link"><%= link_to 'Account', dash_admin_account_path %></div>
   <div class="link"><%= link_to('Logout', destroy_admin_session_path, class: 'red') %></div>
</div>
</body>
<script>
    function openDropdown(){
        if ($('.dropdown-img').hasClass('rotated')) {
            $('.dropdown-content').hide();
            $('.dropdown-img').removeClass('rotated');
        } else {
            $('.dropdown-content').show();
            $('.dropdown-img').addClass('rotated');
        }
    }
	function toggleHelp() {
		$('#help-popup').toggle();
	}
	<% if @admin.last_sign_in_at == @admin.current_sign_in_at %>
		$('#help-popup').show();
	<% end %>
</script>

</html>