<!DOCTYPE html>
<html lang="de">
	<head>
		<title>Peter Pitch - User Dashboard</title>
		<%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
		<%= csrf_meta_tags %>
		
		<%= stylesheet_link_tag 'dash/main', media: 'all', "data-turbolinks-track": 'reload' %>
		<%= javascript_include_tag 'dash/main' %>
	</head>
	<body>
		<section id="navbar">
			<div class="dropdown" onclick="openDropdown()">
				Hallo, <%= @user.fname %> <%= @user.lname %>
				<%= image_tag 'dash/arrow-down.png', class: 'dropdown-img' %>
			</div>
		</section>
		
		<section id="sidebar">
			<div class="avatar">
				<%= image_tag @user.avatar? ? @user.avatar.quad.url : 'defaults/wolf.jpg' %>
			</div>
			<div class="links">
				<div class="link <%= current_page?(dash_user_stats_path) ? 'active' : '' %>">
					<i class="far fa-chart-bar"></i>
					<div class="text">Statistik</div>
					<%= link_to '', dash_user_stats_path %>
				</div>
				<div class="link <%= current_page?(dash_user_videos_path) || @turn && current_page?(dash_user_video_path(@turn)) ? 'active' : '' %>">
					<i class="fab fa-youtube"></i>
					<div class="text">Video Tool</div>
					<%= link_to '', dash_user_videos_path %>
				</div>
			</div>
		</section>
		
		<section id="content">
			<%= yield %>
		</section>
		<div class="dropdown-content">
		   <div class="link"><%= link_to('Logout', destroy_user_session_path, class: 'red') %></div>
		</div>
	</body>
</html>
<script>
    function openDropdown(){
        if ($('.dropdown-img').hasClass('rotated')) {
            $('.dropdown-content').hide();
            $('.dropdown-img').removeClass('rotated');
        } else {
            $('.dropdown-content').show();
            $('.dropdown-img').addClass('rotated');
        }
    }
</script>