<!DOCTYPE html>
<html lang="de">
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'main/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main/main'%>
    
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta name="description" content="Das digitale Trainingstool für Kommunikation und Vertrieb">
    <meta name="keywords" content="Vertrieb, Vertriebstraining, Vertriebstool, Kommunikation, Trainingstool, Verkauf, Verkaufstraining, Gamification, Coaching">
    <meta name="application-name" content="Peter Pitch">
  </head>

  <body class="modal-open">
   <% flash.each do |name, msg| %>
        <% if name != "wait_for_activation" %>
            <% if msg.is_a?(String) %>
                <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                	<%= content_tag :div, msg, :id => "flash_#{name}" %>
            	</div>
        	<% end %>
    	<% end %>
	<% end %>
    <%= yield %>
  </body>
</html>
