<!DOCTYPE html>
<html>
<head>
    <title>Peterpitch</title>
    <meta name="theme-color" content="#1dacf1"/>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'game_desktop/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'game_desktop/main', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <section id="content">
        <%= yield %>
    </section>
</body>
<script>
    setInterval(updateGradient,10);
</script>
</html>
