<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Peterpitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'game_mobile/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'game_mobile/main' %>
    <meta property="og:url"           content="http://www.peterpitch.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Peterpitch" />
    <meta property="og:description"   content="Das erste Gamification Tool" />
    <meta property="og:image"         content="<%= image_url('defaults/wolf.jpg') %>" />
    <meta property="og:site_name"     content="Peterpitch" >
    <meta property="og:locale"        content="de_DE" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@peterpitch" />
    <%= yield :meta %>
  </head>

  <body>
    <% if @game %>
        <%= yield %>
    <% else %>
        <%= yield %>
    <% end %>
  </body>
    <%= render partial: 'shared/user_accept_modal' %>
  
</html>
