<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Peterpitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'game_mobile/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'game_mobile/main' %>
    <meta property="og:url"           content="http://www.peterpitch.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Peterpitch" />
    <meta property="og:description"   content="Das erste Gamification Tool" />
    <meta property="og:image"         content="<%= image_url('defaults/wolf.jpg') %>" />
    <meta property="og:site_name"     content="Peterpitch" >
    <meta property="og:locale"        content="de_DE" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@peterpitch" />
    <%= yield :meta %>
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149270861-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149270861-1');
  </script>
<!-- End Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZWWH8V');</script>
<!-- End Google Tag Manager -->
  </head>

<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZWWH8V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <section id="content">
    <% if @game %>
        <%= yield %>
        <div id='game_channel' data-game-id="<%= @game.id %>"></div>
    <% else %>
        <%= yield %>
    <% end %>
    </section>
  </body>
  <script type="text/javascript">
      setTimeout(function() {$(".alert" ).fadeOut(3000);}, 5000)
      
  </script>
</html>
