<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Peterpitch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csp_meta_tag %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'main/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main/main'%>
    <meta property="og:url"           content="http://www.peterpitch.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Peterpitch" />
    <meta property="og:description"   content="Das erste Gamification Tool" />
    <meta property="og:image"         content="<%= image_url('defaults/wolf.jpg') %>" />
    <meta property="og:site_name"     content="Peterpitch" >
    <meta property="og:locale"        content="de_DE" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@peterpitch" />
<!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149270861-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-149270861-1');
  </script>
<!-- End Google Analytics -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WZWWH8V');</script>
<!-- End Google Tag Manager -->
  </head>

  <body class="<%= yield :body_class %>">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZWWH8V"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
   <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
                <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                </div>
            <% end %>
        <% end %>
    <%= yield %>

  </body>
<!-- <script type="text/javascript">!function(t,e){t.artibotApi={l:[],t:[],on:function(){this.l.push(arguments)},trigger:function(){this.t.push(arguments)}};var a=!1,i=e.createElement("script");i.async=!0,i.type="text/javascript",i.src="https://app.artibot.ai/loader.js",e.getElementsByTagName("head").item(0).appendChild(i),i.onreadystatechange=i.onload=function(){if(!(a||this.readyState&&"loaded"!=this.readyState&&"complete"!=this.readyState)){new window.ArtiBot({i:"8c344a95-3f48-440b-b8b5-904ce16829af"});a=!0}}}(window,document);</script> -->
<script>
    $(document).ready(function() {
        window.setTimeout(function() {
           $('.alert').fadeOut(1000);
        }, 4000);
    })
</script>
</html>
