<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Peter Pitch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'wolfhead-tab.png', rel: 'icon', type: 'image/png' %>
    <%= csp_meta_tag %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag    'main/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main/main'%>
    <meta property="og:url"           content="https://www.peterpitch.com" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Peter Pitch" />
    <meta property="og:description"   content="Das digitale Trainingstool für Kommunikation und Vertrieb" />
    <meta property="og:image" itemprop="image" content="<%= image_url('wolfhead-tab.png') %>" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:site_name"     content="Peter Pitch" >
    <meta property="og:locale"        content="de_DE" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@peterpitch" />
    
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158122250-1"></script>
	<script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
  	gtag('config', 'UA-158122250-1');
	</script>
	<!-- End Google Analytics -->
	
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-N4LN428');</script>
	<!-- End Google Tag Manager -->
	
 	<!-- Facebook Pixel Code -->
	<script>
  	!function(f,b,e,v,n,t,s)
  	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  	n.queue=[];t=b.createElement(e);t.async=!0;
  	t.src=v;s=b.getElementsByTagName(e)[0];
  	s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js');
  	fbq('init', '108544630589761');
  	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=108544630589761&ev=PageView&noscript=1"/></noscript>
	<!-- End Facebook Pixel Code -->

	
  </head>
    

  <body class="<%= yield :body_class %>">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4LN428" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
  <%= yield %>

  </body>
</html>
