<!DOCTYPE html>
<html lang="de">
<head>
    <title>Peter Pitch</title>
    <%= csrf_meta_tags %>
    
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'vertrieb/main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vertrieb/main' %>
</head>
<body>
	<%= yield %>
</body>
</html>